#configurator, .configurator {
	width: 400px;
	margin-top: 20px;
}
.asiOptionsWrapper{
	padding-top: 10px;
	padding-bottom: 10px;
	}
.asiOptionHdr{
	background-color:#EDEEF1;	
	/*border-bottom:1px solid #E8EAED;*/
	border-top:1px solid #F5F6F7;
	font-size:16px;
	font-family:sans-serif;
	font-weight:bold;
	margin:0;
	padding:3px 10px;
	}
.asiDataBlock {
	border-bottom:1px solid #E8EAED;
	border-top:1px solid #F5F6F7;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	}
.name {
	font-size:13px;
	font-family:sans-serif;
	font-weight:bold;
	float: left;
	}
.value {
	font-size:13px;
	font-family:sans-serif;
	}
.optionValueInput {
	width : 50px;
	}
.priceInclude {
	float: left;
	}
table.asiPriceTable {
	font-size:13px;
	font-family:sans-serif;
	border-style: solid;
	border-width:1pt;
	-moz-border-radius:4px;
	width:100%;
	}
th.asiPriceTable {
	color: white;
	border-width:0px;
	border-style: solid;
	}
td.asiPriceTable {
	border-width:0.5pt;
	border-style: solid;
	text-align: center;
	}
tr.asiPriceTable {
	border-width:0.5pt;
	border-style: solid;
	text-align: center;
	}
tr.asiPriceTableHeader {
	border-width:0.5pt;
	background: #0A82CC;
	text-align: center;
	}
.multiBoxASIMessage {
	font:bold;
	padding-left: 5px;
	height: 60px;
	border-bottom: 1px solid;
	text-align: justify;
	}
table.mbASIOptions {
	font-size:13px;
	font-family:sans-serif;
	width: 100%;
	height: 50px;
	overflow: auto;
	}
tr.mbASIOptions {
	padding-bottom: 2px;
	height: 50px;
	}
.mbAddToCart {
	/* For Popup widnow
	margin-left : 390px;
	*/
	padding-top: 10px;
	width:180px;
	}
.optionTitle {
	font-weight: bolder;
	}
.optionDescription {
	font-size: 10px;
	color: gray;
	width:250px;
	}
.optionValues {
	margin-left: 60px;
	vertical-align: text-top; 
	}
#unitPrice {
	display: block;
	float: right;
	margin-right: 40px;
	}
td.optionName {
	width: 40%;
	vertical-align: text-top; 
	}
.scroll {
	/* For Popup widnow
	width: 580px;
	*/
	width: 395px;
	height: 350px;
	overflow: auto;
	padding: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid;
	}
.clear {
	clear:both;
}
.asiConfigWrapper {
	margin-top: 5px;
	border-radius:5px; 
	border: 1px solid gray;
	/*width: 400px;*/
}
.asiConfigTitle {
	margin-top: 20px;
	font-size: 16px; 
	background-color: #F62817; 
	color: white; 
	padding: 5px;
}
.asiConfigValues {
	margin-top: 10px;
	font-size: 12px; 
	padding: 5px;
}
.asiConfigColorWrapper {
	margin-top: 10px;
	height:200px;
	overflow:scroll;
	overflow-x: hidden;
}
.asiConfigColorBlock {
	height: 30px;
	padding: 5px 0 0 5px;
}
.asiConfigColorBox, .asiConfigIMColorBox {
	border: 1px solid gray;
	border-radius: 5px;
	float: left; 
	padding: 10px;
	color: white;
}

.asiConfigColorBox {
	cursor: pointer;
}
.asiConfigImprintColors {
	float: left;
	margin-left: 30px;
}
.asiConfigIMColorBox {
	width :60px;
	height: 7px;
	margin: 1px 0 0 10px;
}
.asiConfigColorName {
	float: left;
	margin-left: 10px;
	margin-top: 2px;
}
input.asiConfigInput {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	height: 20px;
	text-align: center;
}
.asiConfigQtyWrapper {
	float: left; 
	width: 60px; 
	margin: 0px 10px; 
	text-align: center;
}
.asiConfigQBWrapper {
	padding: 5px 0 10px 0;
	font-size: 9px;
}
.asiConfigQBValue{
	text-align: center;
	height: 23px;
}
.asiConfigDiscount {
	color: red;
}
.asiConfigQBTitle {
	text-align: right;
	height: 23px;
}
.asiConfigQBValueWrapper {
	float: left;
	width: 50px; 
	margin: 0px 2px 0px 2px; 
	text-align: center;
	border-right: 1px dotted;
}
.asiConfigQBTitleWrapper {
	float: left; 
	width: 65px; 
	margin: 0px 5px;
	border-right: 1px double gray;
	padding-right: 2px;
}
.asiConfigQBHeading {
	padding: 2px 0 2px 0;
	text-align: center;
	font-weight: bolder;
	height: 17px;
	border-bottom: 1px dotted gray;
	margin-bottom: 5px;
}
#showMoreLink {
	cursor: pointer;
	color: red;
	text-align: right;
	padding: 5px 0 5px 0;
	text-decoration: none;
}
.asiConfigPriceWrapper {
	border-top: 1px dotted gray;
	margin-top: 25px;
	padding-top: 10px;
	padding-left: 154px;
}
.asiConfigPriceTitle {
	float: left;
	font-size: 14px;
	padding: 5px 10px 5px 10px;
	width: 100px;
	color: gray;
	font-weight: bolder;
}
.asiConfigPriceValue {
	float: left;
	font-size: 14px;
	padding: 5px 10px 5px 10px;
	text-align: right;
	font-weight: bolder;
	color: red;
	width: 90px;
}
.asiConfigImprintWrapper {
	padding: 10px 0 10px 20px;
}
.asiConfigSelectedImprintColors {
	float: left; 
	margin-right: 10px;
}
.asiConfigImPriceWrapper {
	border-top: 1px dotted gray;
	margin-top: 25px;
	padding-top: 10px;
	padding-left: 60px;
}
.asiConfigImPriceTitle {
	float: left;
	font-size: 11px;
	padding: 5px 10px 5px 10px;
	width: 123px;
	color: gray;
	text-align: right;
}
.asiConfigImPriceValue {
	float: left;
	font-size: 11px;
	padding: 5px 10px 5px 10px;
	text-align: right;
	color: red;
	width: 150px;
}
.asiDetailWrapper {
	margin:30px 0 0 0;
	width: 100%;
    font-size: 12px;
}
.asiDTitle {
	font-size: 14px;
	font-weight: bolder;
	color: white;
	background-color: #83BEE6;
	height: 20px;
	padding: 3px 0 3px 3px;
	width: 100%;
	border-radius: 5px; 
}
.asiDetailBox {
	margin-bottom:5px; 
}
.asiDetailName {
	float: left;
	width: 115px;
	font-weight: bolder;
}
.toggleDiv {
  padding-right: 10px;
  float: right;
}
.asiDetailValue {
	padding: 5px 0 5px 5px;
/*	width: 98%;*/
	font-size:11px;
	border-bottom: 1px dotted gray;
	border-left: 1px dotted gray;
	border-right: 1px dotted gray;
	border-radius: 0 0px 3px 3px; 
}
.asiDetailTitle {
/*  width: 98.5%;*/
  height: 22px;
  background-color: #E9EFFA;
  font-size: 14px;
  font-weight:bold;
  padding: 5px 0 5px 5px;
  cursor: pointer;
}
.asiDetailVValue {
	margin-left: 10px;
}
.asi_details_desc {
	
}
.asiSearchWrapper {
	border: 1px solid;
	border-radius : 5px;
	border-color: gray;
}
.searchForm {
}
.asiSearchBox {
	padding: 10px;
}
.asiSearchKeywordWrapper {
	
}
.asiSearchName {
	width: 100px;
	padding: 10px 5px 0 3px;
}
.asiSearchInput {
	float: left;
}
.asiSearchInput input {
	width : 125px;
	border: 1px solid gray;
	border-radius : 5px;
	height: 25px;
	padding : 3px 0px 3px 5px;
}
.asiSubmitSearch {
	margin: 5px;
	float: left;
}
.asiSearchFiltersWrapper {
	margin:10px 0 0 37px;
}
.asiSearchFilter {

}
.asiSearchFilter select{
	width: 83px; 
	height: 25px;
}
.asiSearchSelectionWrapper {
	margin:10px 0 10px 0;
	
}
.asiSearchSelection {
	color: gray; 
	height: 25px; 
	width: 83px; 
	border: 1px solid; 
	border-radius : 5px;
	padding: 3px 3px 3px 5px;
	margin-bottom:5px;
	background-color: gray;
	color: white;
	font-weight: bolder;
}
.asiSearchFilters {
	width: 180px;
	margin-top: 5px;
}
.filterTitle {
	font-size: 14px;
	font-weight: bolder;
	background-color: #0A82CC;
	color: white;
	height: 25px;
	border-radius : 5px;
	padding: 3px 0 3px 5px;
}
.flilterValues {
}
.filterIValue {
	display: none;
}
.filterValue {
	padding: 4px 0 0 10px;
}
.filterValue a{
	text-decoration: none;
	color: black;
}
.asiSearchSelectionTitle {
	font-size: 14px;
	margin: 3px 0 3px 0;
}
.mSearchName {
    float: left;
    height: 30px;
    padding: 5px 10px 0;
    text-align: right;
    width: 100px;
}
.mSearchInput input{
 	border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    height: 25px;
    padding: 3px 0 3px 5px;
    width: 250px;
    float: left;
    margin-right: 10px;
}
.mSearchBox {
	padding: 10px;
	margin-left : 50px;
}
.mSearchWrapper {
	border: 1px solid gray;
	border-radius : 5px;
	margin-bottom: 10px;
}
.mSubmitSearch input {
	margin-top: 7px;
}
table.asiPriceTable {
	border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1pt;
    font-family: sans-serif;
    font-size: 13px;
    width: 100%;
}
tr.asiPriceTableHeader {
    background: none repeat scroll 0 0 #83BEE6;
    border-width: 0.5pt;
    text-align: center;
}
tr.asiPriceTable {
    border-style: solid;
    border-width: 0.5pt;
    text-align: center;
}
.asiQBWrapper {
  margin-bottom:10px;
}
#asiConfig {
  margin-left:16px;
}
#asiDetailPrice, #asiDetailPriceTitle, #asiDetailPriceValue {
	/* width:125%; */
}