div.shipBillHdrImage {
	background:url(Image/Layout/shipping_billing_hdr.jpg) no-repeat left top;
	width:745px;
	height:98px;
}
.billingShippingWrapper {
	font-size; 11px;
	color:#666666;
}
.billingShippingWrapper .fieldName {
	font-size; 11px;
	color:#666666;
}
.returningCustomerBox {

}
.returningCustomerBox .headerTitle p, #customerForm .headerTitle p, .loginInfoBox .headerLoginTitle p{
	color: #AF1700 !important;
    font-weight: bold !important;
    font-size: 19px !important;
    position: relative;
    top: 12px;
    height: 25px;
    margin-bottom: 0px !important;
    margin-left: 10px;
}
.returningCustomer .headerTitle, .newCustomer .headerTitle {
	margin: 15px 0 5px 0;
}
.shippingInfoBox .headerTitle, .billingInfoBox .headerTitle {
	margin: 5px 0 15px 0 !important;
}
.loginInfoBox .headerLoginTitle {
	margin: 0 0 20px 0 !important;
}

/*  Returning Customer */
.loginInfoBox {
	padding-bottom:20px;
	height:150px;
	background-repeat:no-repeat;
	border:1px solid #CCC;
	border-radius:8px;
	margin: 20px auto 0  auto;
	padding:10px;
	width:88%;
}
.loginInfoBox .loginInfoTable {
	height: 100px;
}
.loginInfoBox .loginInfoTable div.submit input {
 	float: right;
    margin-right: 8px;
    margin-top: 5px;
    width: 72px;
}
.loginInfoBox .loginInfoTable div.username, .loginInfoBox .loginInfoTable div.password {
	float:left;
	margin-top:1px;
	width:99%;
}
.loginInfoBox .loginInfoTable div.forgetPass {
	float:left;
}
.loginInfoBox .loginInfoTable div.note {
	margin-top:-5px
}

/* New Customer */
p.fixAllError {
	padding:0 0 10px 0 !important;
}
.billingShippingWrapper #customerForm {
	margin: 0 auto;
	width:770px;
}
.billingShippingWrapper .headerLoginTitle { }
div.billingInfoBox input[type=text], div.billingInfoBox input[type=password], div.loginInfoBox input[type=text], div.loginInfoBox input[type=password], div.shippingInfoBox input[type=text] {
	border:1px solid #999;
	display:block;
	height:25px;
	margin-bottom:2px;
	margin-top:2px;
	padding:1px;
	width:245px;
	float:right;
}
div.billingShippingWrapper select {
	border:1px solid #999;
	display:block;
	height:25px;
	margin-bottom:2px;
	margin-top:2px;
	padding:1px;
	width:249px!important;
	float:right;
}
.billingInfoBox,.shippingInfoBox {
	background-repeat:no-repeat;
	border:1px solid #CCC;
	border-radius:10px;
	width:46%!important;
	float:left;
	margin: 20px 5px;
	padding: 0 5px;
	font-size; 11px;
	color:#666666;
}
.billingInfoTable,.shippingInfoTable {
	padding-bottom:10px;
	font-size; 11px;
	color:#666666;
}
#stateProvinceNA {
	position: relative;
	
}
#subscribeCheckBoxId span {
	padding-left:5px;
}
#state,#country,#shippingCountry,#shipping_state { }

/* Tax Info Box*/
.taxExemptionBox {
	float: left;
	background-repeat:no-repeat;
	border:1px solid #CCC;
	border-radius:8px;
	padding:10px;
	margin: 5px;
	/* if you want to bring Tax Info right below Shipping Address add width
	width:300px;
	*/
}
.taxExemptionBox input[type=text]{
	border:1px solid #999;
	display:block;
	height:25px;
	margin-bottom:2px;
	margin-top:2px;
	padding:1px;
	width:245px;
	float:left;
}

/* Next Step Button */
.nextStepClass {
	position:relative;
	top:10px;
	/* remove float if you want the button to be under Shipping Information */
	float: right;
}

.error {
	color: #FF0000;
    position: relative;
    top: 1px;
}