#countdown_dashboard {
	height: 20px;
	width:250px;
}

#countdown_dashboard .dash {
	width: 20px;
	height: 15px;
	float: left;
	margin-left: 0px;
	position: relative;
}

#countdown_dashboard .digit {
	font-size: 15pt;
	float: left;
	width: 26px;
	text-align: center;
	font-family: Times;
	color: #555;
	position: relative;
}

#countdown_dashboard .colon {
	font-size: 15pt;
	float: left;
	width: 3px;
	text-align: center;
	font-family: Times;
	color: #555;
	position: relative;
}
#countdown_dashboard .title {
	display: block;
	font-size: 15pt;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
	float: left;
	text-align: left;
	line-height: 26px;
	width:125px;
}