/* invoice */
body.invoice {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background: #FFFFFF;
	margin:20px;
	}
table.invoice {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background: #000000;
	}
th.invoice {
	color: #DDDDDD;
	}
td.invoice {
	background: #FFFFFF;
	}
td.discount {
	background: #FFFFFF;
	color:  #FF0000;
	font-weight:bold;
	}
td.creditMessage {
	background: #FFFFFF;
	color:  #FF0000;
	font-weight:bold;
	}	
.invoiceHdr {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-weight:bold;
	font-size: 14pt;
	}
.invoiceHdr2 {
	border: 1px solid #919191;
	color: #666666;
	background: #DDDDDD;
	}
.invoice_lineitem_attributes {
	font-size: 7pt;
	}
.invoice_lineitem_attributes0 {
	font-size: 7pt;
	line-height: 1.3em;
	vertical-align: top;
	}
.invoice_lineitem_attributes1 {
	font-size: 7pt;
	line-height: 1.3em;
	vertical-align: top;
	}	
.invoice_lineitem_subscription {
	font-size: 7pt;
	color: #FF0000;
	text-align: right;	
	}
.error {
	color: #FF0000;
	}
table.statusHistory, table.poList {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background: #999999;
	}
th.statusHistory, th.poList  {
	color: #FFFFFF;
	background: #CCCCCC;
	white-space: nowrap;
    }
td.statusHistory, td.poList {
	background: #FFFFFF;
	white-space: nowrap;
	padding:1px;
    }
table.actionHistory {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background: #999999;
	}
th.actionHistory {
	color: #FFFFFF;
	background: #CCCCCC;
	white-space: nowrap;
    }
td.actionHistory {
	background: #FFFFFF;
	white-space: nowrap;
	padding:1px;
    }
td.status {
	color: #FF0000;	
	background: #FFFFFF;
	white-space: nowrap;
	padding:1px;
    }
td.cancel {
	color: #FF0000;
    }	
.invoiceImage {    
	width: 50px;
	border: 1px solid #919191;
	}
.invoiceOptionImage {
	width: 30px; 
	padding: 3px; 
	border: 1px solid #ddd
	}	
table.overviewInvoice {		
	width:100%; border:1px solid #222222;
	padding:0;
	margin:0;
	}
table.overviewInvoice1{		
	width:100%;
	border-left:1px solid #222222;
	border-right:1px solid #222222;
	}
table.overviewInvoice1 td{		
	padding:1px 1px;
	}	
table.invoiceHeader {
	width: 100%;
	}
#promoinputBox #promoButton {
	float:left;
	}
#promoinputBox #promoInput	{
	float:left;
	}	
.nbButton .next {
	float:right;
	}	
.nbButton .back {
	/*float:left;*/
	display: none;
	}
#helperHeadBox #viewcart {
	/* float:right; */
	display: none;
	} 		
#helperHeadBox #emailAddress{
	float:left;
	}	
#paymentWrapper #creditcardbox {
	padding:10px 0 10px 0;
	}	
#payPalAccount{	
	width: 300px;
	float: right
	}
#ccInfo{	
	width: 350px;
	float: left
	}
#paymentWrapper	.ccInfoForm tr {
	line-height:30px;
	}
#paymentWrapper div.payment {
	float:left;
	}
#paymentWrapper div.radio {
	width:20px;
	float:left;
	}			
	
#paymentWrapper div.imgText {
	padding:0 0 0 3px;
	float:left;
	}
#paymentWrapper div.ritWrapper {	
	background-color:#545454;
}
#paymentWrapper .clear {
	clear:both;
}
.shippingRatesWrapper {
	padding: 20px;
	border: 1px solid;
	margin-top:20px;
}