ul.cssmw-left {
	cursor: default;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
ul.cssmw-left ul {
  cursor: default;
  font-size: 0;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul.cssmw-left li {
  padding: 0 0 0 0;
  position: relative;
  white-space: nowrap;
}
ul.cssmw-left li ul {
  display: none;
  top: 0;
}
ul.cssmw-left li:hover > ul {
  display: block;
  position: absolute;
}
ul.cssmw-left > li > span {
  display: block;
}
ul.cssmw-left > li > span > a {
	border-bottom-style: none;
	color: #000000;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	margin: 0 0 0 0;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	width: 200px;
	border-top: 1px solid #E3E3E3;
}
ul.cssmw-left > li:hover > span {
  display: block;
}
ul.cssmw-left > li:hover > span > a {
    background-color: #919191;
    color: #FFFFFF;
	text-decoration: none;
}
ul.cssmw-left ul.level-1 {
	/*
	left: 0px;
	top: 100%;
	text-align: left;
	*/
	left: 211px;
}
ul.cssmw-left ul.level-1 > li > span {
  display: block;
}
ul.cssmw-left ul.level-1 > li > span > a {
	background-color: #E3E3E3;
	border-bottom-style: none;
	border-top: 1px solid #FFFFFF;
	color: #000000;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	margin: 0 0 0 0;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	width: 110px;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}
ul.cssmw-left ul.level-1 > li:hover > span {
  display: block;
}
ul.cssmw-left ul.level-1 > li:hover > span > a {
  background-color: #919191;
  color: #FFFFFF;
  text-decoration: none;
}
ul.cssmw-left ul.level-2 {
	left: 121px;
}
ul.cssmw-left ul.level-2 > li > span {
  display: block;
}
ul.cssmw-left ul.level-2 > li > span > a {
	background-color: #E3E3E3;
	border-bottom: 1px none #fff;
	border-right: 1px solid #fff;
	color: #000000;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	margin: 0 0 0 0;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	width: 110px;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}
ul.cssmw-left ul.level-2 > li:hover > span {
  display: block;
}
ul.cssmw-left ul.level-2 > li:hover > span > a {
	background-color: #919191;
	color: #FFFFFF;
	text-decoration: none;
}
ul.cssmw-left ul.level-3 {
	left: 121px;
}
ul.cssmw-left ul.level-3 > li > span {
  display: block;
}
ul.cssmw-left ul.level-3 > li > span > a {
	background-color: #E3E3E3;
	border-bottom: 1px none #fff;
	border-right: 1px solid #fff;
	color: #000000;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	margin: 0 0 0 0;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	width: 110px;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}
ul.cssmw-left ul.level-3 > li:hover > span {
  display: block;
}
ul.cssmw-left ul.level-3 > li:hover > span > a {
	background-color: #919191;
	color: #FFFFFF;
	text-decoration: none;
}
ul.cssmw-left ul.level-4 {
	left: 121px;
}
ul.cssmw-left ul.level-4 > li > span {
  display: block;
}
ul.cssmw-left ul.level-4 > li > span > a {
	background-color: #E3E3E3;
	border-bottom: 1px none #fff;
	border-right: 1px solid #fff;
	color: #000000;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	margin: 0 0 0 0;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	width: 110px;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}
ul.cssmw-left ul.level-4 > li:hover > span {
  display: block;
}
ul.cssmw-left ul.level-4 > li:hover > span > a {
	background-color: #919191;
	color: #FFFFFF;
	text-decoration: none;
}
