div.shipBillHdrImage {
	background:url(Image/Layout/shipping_billing_hdr.jpg) no-repeat left top;
	width:745px;
	height:98px;
}
/* Shipping & Billing */
div.billingInfo span,div.shippingMethod span,div.shippingInfo span,div.paymentMethod span,div.reviewOrder span {
	display:none
}
/* if the address info */
div.customerInfoBox {
	display: block;
	min-height: 240px;
}
.customerShippingInfoBox, .customerBillingInfoBox, .paymentBox, .shippingBox {
	background-repeat: no-repeat;
	border: 1px solid #CCC;
	border-radius: 8px;
	width: 46%!important;
	float: left;
	margin: 5px 5px;
	padding: 5px 5px;
	color: #666;
}
.customerShippingInfoBox .headerTitle p, .customerBillingInfoBox .headerTitle p, .shippingBox .headerTitle p, .paymentBox .headerTitle p{
    color: #AF1700 !important;
    font-size: 19px !important;
    font-weight: bold !important;
    height: 25px;
    margin-bottom: 0 !important;
    margin-left: 10px;
    position: relative;
    top: 12px;
}
.customerShippingInfo, .customerBillingInfo {
	padding: 5px 2px;
	color: #666666 !important;
}
div.mainFormWrapper {
    clear: left;
}
div.customerBillingInfo table, div.customerShippingInfo table {
    margin-left: 30px;
    margin-top:5px;
}
.shippingBox #shippingWrapperId1, .paymentBox #paymentWrapperId  {
	margin: 5px 0 0 10px;
}
.shippingBox #shippingWrapperId1 input[type=radio], .paymentBox #paymentWrapperId input[type=radio] {
	margin-right:8px;
}

/* Shipping Method */
.shippingBox #shippingWrapperId1 {}
.shippingBox .carrier.ups {
	height:28px;
	width:25px
}

/* Billing Method */
.paymentBox #paymentWrapperId {} 

.paymentBox #creditCardPayment img {
	display: none;
}
.paymentBox #paymentChoiceId {
	margin:20px 0 0 0;
}
.paymentBox #paymentChoiceId table tr{
	line-height:25px;
}
.customerShippingInfo,#ccInfo,.creditcardbox,.paymentTable {
	color:#818285;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:400;
	padding-left:10px
}
#ccInfo{
	background-color: #EEEEEE;
	padding-top:10px
}
#creditcardbox{
	background-color: #EEEEEE;
	padding:10px
}
/* cc Billing Address */
.ccBilling label{
	display: block;
}
.ccBilling textarea{
	min-width:70px;
	min-height:100px;		
}
.cvv2 {
	font-size:10px;
	color: #999999;
}
table.ccInfoForm td{
	font-size:11px;
}
/* REVIEW ORDER */
.reviewOrder {
	float: left;
    padding-top: 30px;
    width: 100%;
}
.reviewOrderBox {
	float:left;
	width:100%;
	margin-top:10px;
}
div.reviewOrder p{
	color: #AF1700 !important;
    font-size: 19px !important;
    font-weight: bold !important;
    height: 25px;
    margin-bottom: 0 !important;
	float:left;
}
.invoice {	
	border: 1px solid #888888;
	padding:2px;
	color:#818285;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:400;
}
.invoiceImage {
    float: left;
    max-height: 70px;
    max-width: 70px;
}

div.sku {
    color: #818285;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: 400;
    padding: 5px;
    float: left;
}
.invoice td.grandTotal{	
	background-color:#F8FF27;
}
/* Gift Card */
.applyGiftCardCode input#tempGiftCardCode {
	border:3px solid #CCC;
	width:200px;
}
#giftCardMesage {
	color:#818285;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:700;
	width:99%;
	padding:5px 0;	
}

/* Promo Code */
.promoWrapper {
	float:left;
	margin-top:10px;
	width:100%;
}
.promoWrapper #promoHdr {
	clear: both;
}
.promoWrapper #promoInput {
	float: left;
	font-weight:bold;
}
.promoWrapper #promoInput input {
	border:3px solid #CCC;
	width:200px;
}
.promoWrapper #promoButton {

}

/* SPECIAL INSTRUCTION */
.messageWrapper {
	clear:both
}
.invoiceNote textarea {
	border:3px solid #CCC;
	height:110px;
	width:99%;
}
.invoiceNote, .purchaseOrder, #promoInput, #eligiblePromoContainer, .applyGiftCardCode {
	color:#818285;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:700;
	width:99%;
}

/* Purchase Order */
div.purchaseOrder input {
	border:3px solid #CCC;
	width:200px;
}

/* Purchase button */
#purchaseButton {
	float:right;
}

/* attachment */
.attachment {
	float: left;	
}

/* ExpectedDueDate */
.userExpectedDueDate input, .requestedCancelDate input {
        border:3px solid #CCC;
        width:200px;
}
.paymentBox .requestedCancelDate, .paymentBox .userExpectedDueDate{
        margin: 5px 0 0 10px;
}
/* Ebiz */
#paymentMethodsList {
	display: block;
	border-bottom: 2px solid #aaaaaa;
	height: 39px;
	padding: 0px 24px 4px 30px;
}
div.ccBilling lable {
	padding-left: 0px;
	display: block;
	font-size: 12px;
	padding-top: 10px;
}
div.ccBilling textarea {
	max-width: 300px;
	width: 99%;
	border: 2px solid #aaaaaa;
	padding: 0px;
	margin: 4px 0px 10px 0px;
}
.divFormName{
    float:left; 
    width: 45%;
    font-size: 12px;
}
.divCCType {
    float: left;
    padding-left: 5px;
}
.divCCNumber {
    float: left;
    padding-left: 5px;
}
.divCardType, .divCardName, .divCardVeriCode, .divCardExpDate{
	padding-top: 5px;
}
.gatewayPaymentMethods{

}
.divSaveCC {
	padding-top:10px;
}
.button.remove, .button.addNew, .ccList{
	padding-top: 10px;
}
.button.remove {
	float: left;
}
 .button.remove {
	padding-right:20px;
}
 .button.addNew {
	padding-left:20px;
}
.paymentType{	
	float: left;
}