
/**************************************************************

	MultiBox
	v1.3

**************************************************************/


.MultiBoxContainer {
	position: absolute;
	border: 8px solid #000;
	background-color: #FFF;
	display: none;
	z-index: 2;
	text-align: left;
	-moz-border-radius:4px;
	/*overflow: hidden;*/
}

.MultiBoxLoading {
	background: url(SmoothGallery/img/loader.gif) no-repeat center;
}

.MultiBoxContent {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.MultiBoxClose {
	position: absolute;
	top: 0;
	right: 0;
	background: url(SmoothGallery/img/close.png) no-repeat;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.MultiBoxNumber {
	display: none;	
}

/*************************************************************/

