
/**************************************************************
	Quote
**************************************************************/
.priceQuote {
	width: 400px; 
	overflow: auto;
	}	
.priceQuote .header {
	height:40px;
	font-size:20px;
	background-color:#EFEFEF;
	color:#333333;
	text-align:center;
	}
.priceQuote fieldset	{
	margin-top:5px;
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:1px solid #EEEEEE;
	}
.priceQuote fieldset input[type=text]  	{
	width:230px !important;
	border:1px solid #888888;
	padding:5px;
	-moz-border-radius:2px 2px 2px 2px;
	margin-bottom: 2px !important;
	height: 18px !important;
	}
.priceQuote fieldset textarea 	{
	width:255px;
	border:1px solid #888888;
	padding:5px;
	-moz-border-radius:2px 2px 2px 2px;
	height:100px;
	}	
.priceQuote label.title {
	color:#333333;
	display:block;
	float:left;
	font-size:13px;
	width:100px;
    }
.priceQuote label.radio {
	display:block;
	float:left;
	}
.priceQuote .options {
	float:left;
	display:block;
	width:260px;
	}	
.priceQuote .options label{
	clear:both;
	display:block;
	width:250px;
	}
/*************************************************************/

