/* Register */
.register_fieldset {
	padding: 10px;
	margin: 10px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;
}
.register_fieldset .note{
	color: #990000;
	font-size:11px;
	float: right;
}
.register_fieldset .requiredFieldRight {
	color: #990000;
	font-size:11px;
}
div.requiredField {
	color: #990000;
    font-size: 20px;
    line-height: 26px;
    padding: 0 10px 0 0;
}
.register_fieldset table{
	padding: 0;
	margin: 0;
	width:100%;
}
.register_fieldset .error{
	color: #990000;
	font-size:11px;
	line-height:35px;
	float: right;
	margin-right:10px;
}
span.error{
	color: #990000;
	font-size:11px;
	line-height:35px;
}
.register_fieldset table td {
	color: #666666;
}
.register_fieldset .errorField {
	border:2px solid #990000 !important;
}
.register_fieldset table [type="text"], .register_fieldset table input[type=password]{
	border:1px solid #999;
	display:block;
	height:25px;
	margin-bottom:2px;
	margin-top:2px;
	padding:1px;
	width:245px;
	float:right;
}
.register_fieldset table select {
	border:1px solid #999;
	display:block;
	height:25px;
	margin-bottom:2px;
	margin-top:2px;
	padding:1px;
	width:249px!important;
	float:right;
}
.register_fieldset table textarea {
	border:1px solid #999;
	display:block;
	height:25px;
	margin-bottom:2px;
	margin-top:2px;
	padding:1px;
	width:245px;
	max-width:245px;
	min-height:80px;
	float:right;
}
.register_fieldset legend, .register_fieldset legend {
	padding: 10px;
	color: #990000;
}

/* login */
.register_newCustomer_fieldset, .register_returnCustomer_fieldset {
	padding: 10px;
	margin: 10px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;	
}
.register_newCustomer_fieldset legend, .register_returnCustomer_fieldset legend {
	padding: 10px;
	color: #990000;
}
.register_returnCustomer_fieldset table [type="text"], .register_returnCustomer_fieldset table input[type=password]{
	border:1px solid #999;
	display:block;
	height:25px;
	margin-bottom:2px;
	margin-top:2px;
	padding:1px;
	width:245px;
	float:right;
}
.loginWrapper form table{
	width: 100%;
	text-align:center;
}
.register_fieldset .stateNotapplicable {
	float:right;
}