body {
	color: #666666;
	margin: 0px 0px 0px 0px;
	background: #99beef url(Image/2012/bg.gif);
	background-repeat: repeat-x;
	background-position: top left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	}
.site {
	padding: 0px;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	margin: auto;
	width: 750px;
	border: #919191 1px solid;
	}
.main {

	width: 100%;
	}
.leftbar {
	background-color: #E3E3E3;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 25px;
	border-right: #919191 1px solid;
	height: 200px
	}
.leftbar_catLink {
	font-family:  Arial, Helvetica, sans-serif; 
	display: block;
	padding: 3px;
	padding-left:27px;
	text-decoration: none;
	font-weight: normal;
	font-size:12px;
	color: #333333;
	background: #ddedff url(Image/2012/bull.gif) no-repeat 17px 7px;

	}
.leftbar_catLink:hover {
text-decoration:underline;

	}
.leftbar_catLink_selected {
	font-family:  Arial, Helvetica, sans-serif; 
	display: block;
	padding: 3px;
	padding-left:27px;
	text-decoration: underline;
	font-weight: normal;
	font-size:12px;
	color: #333333;
	background: #ddedff url(Image/2012/bull.gif) no-repeat 17px 7px;
	}
.leftbar_catLink_nonlink {
	font-family:  Arial, Helvetica, sans-serif; 
	display: block;
	text-indent:17px;
	text-decoration: none;
	font-weight: bold;
	font-size:15px;
	color: #ffffff;
	background:url(Image/2012/nonlink.gif) no-repeat left top;
	height:26px;
	padding-top:22px;
	text-transform:uppercase;

	}
.leftbar_subcatLink {
        display: block;
        padding: 3px 3px 3px 10px;
        white-space: nowrap;
        text-decoration: none;
        }
.leftbar_subcatLink:hover {  
        text-decoration: underline;
        }
.leftbar_subcatLink_selected {
        display: block;
        padding: 3px 3px 3px 10px;
        white-space: nowrap;
        text-decoration: underline;
        }
.leftbar_subcatLink_nonlink {
        display: block;
        padding: 3px 3px 3px 10px;
        white-space: nowrap;
        text-decoration: none;
        }
.leftbar_subsubcatLink {
        display: block;
        padding: 3px 3px 3px 25px;
        text-decoration: none;
        color: #000000;
        }
.leftbar_subsubcatLink:hover {
        text-decoration: underline;
        }
.leftbar_subsubcatLink_selected {
        display: block;
        padding: 3px 3px 3px 25px;
        color: #000000;
        text-decoration: underline;
        }
.leftbar_subsubcatLink_nonlink {
        display: block;
        padding: 3px 3px 3px 25px;
        white-space: nowrap;
        text-decoration: none;
        }
.leftbar_sub3catLink {
        display: block;
        padding: 3px 3px 3px 40px;
        text-decoration: none;
        color: #000000;
        }
.leftbar_sub3catLink:hover {
        text-decoration: underline;
        }
.leftbar_sub3catLink_selected {
        display: block;
        padding: 3px 3px 3px 40px;
        color: #000000;
        text-decoration: underline;
        }
.leftbar_sub3catLink_nonlink {
        display: block;
        padding: 3px 3px 3px 40px;
        white-space: nowrap;
        text-decoration: none;
        }
.rightbar {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	border-left: #919191 1px solid;
	background-color:#FFFFFF;
	}
.searchInput input {
    border: 1px solid #CCCCCC;
    height: 20px;
}
#searchPriceWrapperId {
    margin: -103px 0 0 354px;
    position: absolute;
}
#searchKeywordWrapperId .searchName {
    color: #1D3A88;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
}
  .submitSearch {
    float: left;
    margin: -34px 0 0;
    padding: 0 0 0 198px;
    text-align: center;
    width: 100%;
}
#searchPriceWrapperId .searchName, #searchPriceWrapperId .searchInput {
	float: left;
}
#searchConjunctionWrapperId {
	margin: 10px 0 0 0;
} 
#scOr, #scAnd {
    height: 27px;
}
#searchPriceWrapperId .searchName {
    margin: 5px 0 0 14px;
    width: 43px;
}
.content {
	background-color:#FFFFFF;
	padding: 10px;
	}
.breadcrumbs {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	width: 100%;
	background-color: #eeeeee;
    height: 33px;
    line-height: 33px;
	padding-left:8px;
	}
.breadcrumb {
	color: #666666;
	font-style: italic;
	text-decoration: none;
	}
.breadcrumb:hover {
	text-decoration: underline;
	}
.breadcrumb_home {
	color: #666666;
	font-size: 12px;
    text-decoration: none;
}
.breadcrumb_home:hover {
	text-decoration: underline;
	}
.breadcrumb_off {
	color: #666666;
	font-style: italic;
	text-decoration: none;
	}
.breadcrumb_productName {
	color: #000000;
	font-style: italic;
	text-decoration: none;
	padding-bottom: 15px;
	}
.subCategories {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	}
.subCatLink {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	}
.subCatLink:hover {
	text-decoration: underline;
	}
.subCatAnchor {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #DDE166;
	}	
.subCatAnchorHeader {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold;
	background-color: #C7CD00;
	padding: 5px;	
	}	
.subCatLinkAnchor {
	border-bottom: #919191 1px dotted; 
	font-size:8pt;
	color: #333333;
	text-decoration: none;
	display:block;
	}
.subCatLinkAnchor:hover {
	background-color:#cfcfcf;
	}
.subCatHeader {
	background-color:#C7CD00;
	padding: 5px;
	}
.back_to_top {	
	color:#333333;
	float:right;
	font-size:8pt;
    }	
.subSubCatLink {
	text-decoration: none;
	padding-left: 15px;
	color: #000000;
	}
.subSubCatLink:hover {
	text-decoration: underline;
	}
.subSubCatLinkPlus {
	text-decoration: none;
	padding-left: 15px;
	color: #000000;
	background: url(Image/Layout/expand.gif);
	background-repeat: no-repeat;
	background-position: left;
	}
.subSubCatLinkPlus:hover {
	text-decoration: underline;
	}
.categoryHtml {
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	}
.pageShowing {
	color: #666666;
	font-size:12px;
	font-weight: bold;
	}
.pageNavi {
	text-align: right;	
	color: #666666;
	font-size:12px;
	font-weight: bold;
	}
.header {

	}
.cartTotal {

	}
.viewCartLink {
	text-decoration: none;
	color: #EE0000;
	font-weight: bold;
	}
.viewCartLink:hover {
	text-decoration: underline;
	}

/* price */
.prices {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 9pt;
 	border-collapse: collapse;
	margin-bottom: 10px;	
	}
.msrpTitle {
	text-align: right;
	}
.msrp {
	padding-left: 5px;
	}
.priceTitle {
	text-align: right;
	font-weight: bold;
	}
.price {
	color: #666666;	
	font-weight: bold;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	}
.qtyBreak {
	color: #990000;	
	white-space:nowrap;	
	}
.qtyBreakTitle {
	color: #990000;
	text-align: center;	
	}
.youSaveTitle {
	text-align: right;
	font-weight: bold;
	}
.youSave {
	color: #990000;
	padding-left: 5px;
	}

/* multiple product per culumn view */
.multipleProductPerRow {
	font-family:  Arial, Helvetica, sans-serif; 
	font-size:12px;			
	}
table.thumbnail_border {
	border: #cccccc 1px solid;
	width:200px;
	height: 250px;
	}	
	
/* thumbnail view */
.thumbnail_item {
	width: 100%;
	font-family:  Arial, Helvetica, sans-serif; 
	font-size:12px;
	border-bottom: #919191 1px dotted;
	}
.thumbnail {
	width: 150px;
	padding-bottom: 10px;
	}
.thumbnail_content {
	width: 300px;
	}
.thumbnail_image {
	max-width: 130px;
	max-height: 130px;
	}
.thumbnail_item_name {
	font-family:  Arial, Helvetica, sans-serif; 
	font-size: 9pt;
	color:#1d3987;
	text-decoration:none;
	font-weight:bold;
	}
.thumbnail_item_sku {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt;
 	color: #666;
	}	
.thumbnail_item_desc {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9pt;
	}
.thumbnail_item_shortDesc {
	height: 30px;
	width: 150px;
	font-family: verdana;
    font-size: 10px;
    color: #000000;
    background-color: #fffff8;
	}	
.thumbnail_priceTitle {
	font-weight: bold;
	}
.thumbnail_price {
	color: #990000;	
	font-weight: bold;
	text-align: left;
	padding-left: 2px;
	padding-right: 2px;
	}
.thumbnail_compact_cell {
	border: #cccccc 1px solid; 
	width: 150px;
	}

/* shopping card */
.cartImage {
	width: 40px;
	border: 1px solid #919191;
	margin: 2px;
	}
.cartOptionImage {
	width: 40px;
	border: 1px solid #919191;
	margin: 2px;
	}	
.shoppingcart_continue_bottom {
	display:none;
	}

/* shared Category */
.shared_level2 {
	border-bottom: #919191 1px dotted; 
	font-size:8pt;
	color: #333333;
	text-decoration: none;
	display:block;
	}
.shared_level2:hover{
	background-color:#cfcfcf;	
    }	
.shared_level1 {
	border-bottom: #919191 1px dotted; 
	font-size:8pt;
	color: #333333;
	text-decoration: none;
	display:block;
	}
.shared_level1:hover {
	background-color:#cfcfcf;
	}	
.shared_header_level2 {
	background-color:#CCCCCC;
	color: #000000;
	font-size:10pt;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	}	
.shared_topHeader_level1 {
	background-color:#333333;
	color: #FFFFFF;
	font-size:11pt;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	}			
.shared_header {
	height:5px;
	padding: 5px 5px 0px 0px;	
	}		
.shared_top {	
	color:#333333;
	float:right;
	font-size:8pt;
    }				

/* details view */
.details {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	}
.details3 {
	border:1px solid #cccccc;
	padding: 10px;
	width:100%;
	}	
.details_desc {
 	width: 300px;
 	}
.details_sku {
	font-size:9pt;
 	color: #666;
	}
.details_item_name {
	font-size:12pt;
	font-weight: bold;
	}
.details_item_name h1 {
	font-weight: 600;
	font-size:18px;
	color:#1d3987;
	}
.details_short_desc {
 	color: #666;
	font-size:14px;
	padding-bottom: 10px;
	}
.details_long_desc {
 	color: #666;
	padding-bottom: 10px;
	line-height : 18px;
	font-size : 14px;
	}
.details_image {
	}
.details_thumbnail {
	padding: 5px;
	border: 1px solid #919191;
	height: 30px;
	}
.details_thumbnail_anchor {
	text-decoration: none;
	}	
.details_fields_title {
	font-size:10pt;
	font-weight: bold;
	padding-bottom: 5px;
	}
.details_fields {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
 	color: #666;
 	border-collapse: collapse;
 	width: 100%;
	margin-bottom: 10px;
	}
.details_field_name_row0 {
 	background-color: #eeeeee;
 	width: 100px;
	padding: 5px;
	}
.details_field_name_row1 {
 	background-color: #FFFFFF;
 	width: 100px;
	padding: 5px;
	}
.details_field_value_row0 {
 	background-color: #eeeeee;
 	padding: 5px;
	}
.details_field_value_row1 {
 	background-color: #FFFFFF;
	padding: 5px;
	}
.recommended_list {
	border: #919191 1px solid;
	background-color: #E3E3E3;	
	font-size:12px;	
	font-weight:bold;
	padding: 5px;
	margin-top: 10px;
	}
.box_contents {
	border: #919191 1px solid;
	background-color: #E3E3E3;	
	font-size:12px;	
	font-weight:bold;
	padding: 5px;
	}
.box_content_body {
	border: #919191 1px solid;
	margin-top: 10px;
	margin-bottom: 30px;	
	}
.box_content_body input {
	border: #919191 1px solid;
	color: #323232;	
	background-color: #E3E3E3;
	position:static;
	}
#box_content {
	border: #919191 1px dotted;background-color:#F0F0F0;float:left;margin-right:5px;overflow:hidden;width:140px;height:200px;text-align:center;
	}				
#box_content_img {
	height:100px;margin-bottom:3px;overflow:hidden;text-align:center;
	}	
#box_content_dis {
	/*height:50px;overflow:auto;hidden;text-align:left;*/
	display:none
	}
#box_content_product_name {
	width:100px;height:20px;text-align:left;
	}	
#dropDownList_main {
	background-color: #dddddd;
	margin:10px;
	padding:15px;
	}
.dropDownList_select {
	width:120px;
	}	
#dropDownList_title	{
	font-size: 12px;	
	text-decoration: none;
	color: #EE0000;
	font-weight: bold;
	}		
.also_consider {
	width: 150px;
	margin-left:10px;
	border: #919191 1px solid;
	background-color: #FFFFFF;
	}
.also_consider_title {
	background-color: #919191;	
	font-size:10pt;	
 	color: #FFFFFF;
	padding: 5px;
	}
.also_consider_item_name {
	font-size: 9pt;
	}
.price_range {
	color: #666666;	
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	white-space: nowrap;
	}

/* policy view */
.policyTitle {
	font-size: 14px;
	padding: 5px;
	}
.policyName {
	font-weight: bold;
	font-size:11px;
	}
.policy {
	padding-left: 5px;
	padding-right: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size:10px;
	}
.policyLink {
	font-size:11px;	
	}

/* Cart view */
.shoppingCart {
	width: 100%;
	}	
.shoppingCart0 {
	width: 100%;
	background-color: #ffffff;
	}	
.shoppingCart1 {
	width: 100%;
	background-color: #eeeeee;
	}	
.cartImageBlock {
	float:left;
	}
.cartOptionBlock {

	}
.shoppingcart_item_name {
	font-size: 12px;	
	text-decoration: none;
	color: #666666;
	font-weight: bold;
	vertical-align:top;
	font-family:Arial, Helvetica, sans-serif;
	}
.shoppingcart_item_name:hover {
	text-decoration: underline;
	}
.shoppingcart_item_sku {
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #666666;
	vertical-align:top;
	padding-bottom: 5px;
}
.shoppingcart_continue_shopping {
	font-size: 11px;	
	text-decoration: none;
	color: #EE0000;
	font-weight: bold;
	}	
.shoppingcart_current_qtyBreak {
	color: #000000;
	font-weight: bold;
	}
.proceed_checkout {
	
	}
.customShippingInvoice tr.highlight{
	background-color:#333333;
	font-size:8px;
	color:#FFFF22;
	}	
.customShippingInvoice tr.shoppingCart {
	color:#FFFFFF;
}		

/* FAQ view */
.faqTitle {
	font-size: 14px;
	padding: 5px;
	}
#faqBox .stretcher {
        margin:0;
        width:615px;
}
.answer span {
        width:615px;
}
.question a{
        text-decoration:none;
}
.question_plusminus {
        float:left;
}
.question_name {
        margin-left:10px;
}


/* Registration */
.register_fieldset {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   border: 1px solid #919191;
   margin: 20px;
}
.register_newCustomer_fieldset {
    border: medium none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    margin: 38px 0 0;
}
.register_newCustomer_fieldset legend {
    color: #1D3A88;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 291px;
}
.register_newCustomer_fieldset form {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C8C8C8;
    height: 150px;
    width: 291px;
}
.register_newCustomer_fieldset table {
	height: 150px;
}
.f_button {
    background: url("Image/button_all.png") repeat scroll 0 0 transparent;
    border: 2px solid #E7AE61;
    color: #371900;
    font-size: 14px;
    font-weight: bold;
    line-height: 27px;
    margin: 0;
    padding: 0 7px;
}
.register_returnCustomer_fieldset {
    border: medium none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    margin: 38px 0 0;
}
.register_returnCustomer_fieldset legend {
    color: #1D3A88;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 291px;
}
.register_returnCustomer_fieldset form {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C8C8C8;
    height: 150px;
    width: 291px;
}
.requiredFieldRight {
	color: #FF0000;
	float:right;
	margin: 5px;
	}	
.requiredField {
	color: #FF0000;
	float:left;
	margin: 5px;
	}	
.username td, .password td{
	padding: 10px;
	font-size: 11px;
}
.username input, .password input {
    border: 1px solid #C8C8C8;
    padding: 3px;
}

#loginID {
    margin: 0 0 0 188px;
    position: absolute;
}
/* My Account */
.myaccount_fieldset {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #919191;
	padding: 10px;
	margin: 0px 20px 20px 20px;
	font-size: 8pt;
	color: #666666;
	}
.myaccount_legend {
	color: #666666;
	font-style: italic;
	}	
.myaccount_link {
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	}
.myaccount_link:hover {
	text-decoration: underline;
	color: red;
	}
.myaccount_info {
	margin: 5px;
	}
.done_step {
	color: #999999;
	}
	
.powered {
	color: #EFCB00;
	text-decoration: none;
	}
.powered:hover {
	text-decoration: underline;
	}

.exception {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #FF0000;
	}

/* listings */
.listings {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #999999;
	color: #000000;
	width: 100%;
	}
.listingsHdr1 {
	font-size: 12px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
.listingsHdr2 {
	color: #FFFFFF;
	font-weight: bold;
	background: #CCCCCC;
	}
.nameCol {
	padding-left: 10px;
	}
.nameLink {
	color: #003366;
	text-decoration: underline;
	}
.row0 {
	background: #FFFFFF}
.row0:hover {
	background: #FFFFCC}
.row1 {
	background: #EEEEEE;}
.row1:hover {
	background: #FFFFCC;}
.emptyList {
	background: #FFFFFF;	
	}
	
/* comparison */
.comparison {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #999999;
	color: #000000;
	width: 100%;
	}
.comparisonTitle {
	font-size: 12px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding-top: 10px;
	padding-bottom: 10px;
	}
.comparisonHdr {
	font-weight: bold;
	color: #FFFFFF;
	background: #CCCCCC;
	}
.comparisonNameLink {
	color: #003366;
	text-decoration: underline;
	}
.comparisonCol0 {
	background: #FFFFFF;
	}
.comparisonCol1 {
	background: #FFFFCC;
	}
.comparisonPrice {
	color: #990000;	
	font-weight: bold;
	white-space: nowrap;
	}

.error, .note {
	color: #FF0000;
	}
.errorBox {
	color: #FF0000;
	border: 1px solid #DD9988;
	display:table;
	width:100%;
	height:50px;
	margin:5px;
	padding:5px 5px 5px 20px;
	font-weight: bold;
	white-space: nowrap;
	background:#FFFFD5 url(Image/Layout/error.gif) no-repeat  left 5px;
	}	

td.addressBook {
	border: 1px solid #919191;
	color: #666666;
	background: #DDDDDD;
	}
.checkoutHdr {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FF6633;
	font-weight:bold;
	font-size: 14px;
	}
.checkoutCurrent {
	color: #FF6633;
	font-weight:bold;
	font-size: 10px;
	}
.checkoutDone {
	color: #FF6633;
	font-weight:bold;
	font-size: 10px;
	}
.checkoutPending {
	color: #999999;
	font-weight:bold;
	font-size: 10px;
	}
.formNameReq {
	font-weight:bold;
	white-space: nowrap;
	width: 20%;
	text-align: right;
	padding-right: 10px;
	}
.formName {
	white-space: nowrap;
	width: 20%;
	text-align: right;
	padding-right: 10px;
	}
.primary_address_small {
	color: #FF0000;
	font-style: italic;
	font-size: 9px;
	}

/* Shopping Cart Page */	
.shoppingCart {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	background: #FFFFFF;

	}
tr.shoppingCart {
	color: #FFFFFF;
	background: #BBBBBB;
	}
td.shoppingCart0 {
	background: #FFFFFF;
	}
td.shoppingCart1 {
	background: #EEEEEE;
	}
tr.shoppingCartOption0 {
	line-height: 1.3em;
	vertical-align: top;
	}	
tr.shoppingCartOption1 {
	line-height: 1.3em;
	vertical-align: top;
	}	
.shoppingCartHdr {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #1d3987;
	font-weight:bold;
	font-size: 16px;
	font-family:  Arial, Helvetica, sans-serif;
	}
.shoppingCartFtr {
	background: #BBBBBB;
	color: #000000;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	}
.discountedPrice label {
	width:10em; float:left; font-size:10px;;
	height: .1em;

	
	}
.discountedPrice h4 {
	margin-left:10em; font-size:10px;   
	height: .1em;
	}

/* quickmode */
table.quickmode {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background: #999999;
	width: 100%;
	}
th.quickmode {
	color: #FFFFFF;
	background: #CCCCCC;
	}
th.quickmodeQuote {
	color: #FFFFFF;
	background: #CCCCCC;
	}
.quickmode_image {
	}	
	
/* Search view */
.searchTitle {
	font-size: 12px;
	padding: 5px;
	padding-left:0px;
	color:#1d3987;
	font-weight:bold;
	}
	
/* topbar */
.topbar_link {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	display: block;
	background-color: #919191;
	padding: 5px;
	text-decoration: none;
	font-weight: normal;
	font-size:9pt;
	color: #FFFFFF;
	white-space: nowrap;
	}
.topbar_link:hover {
	background-color: #666666;
	color: #EFCB00;
	}
	
.finalinvoice_link {
	text-align: center;
	padding: 10px;
	}
.demo  {
	float: left;color:#000033; background-color:#ffffff; layer-background-color:#232323;
	position:absolute; width:190px; height:320px;
	z-index:99;  visibility:hidden;
	border:#919191 1px dotted; cursor:hand; cursor:pointer; padding:5px;text-wrap:  suppress;text-align: left;
	word-wrap:break-word;
	}
.message {
	font-size: 11px;	
	text-decoration: none;
	color: #EE0000;
	font-weight: bold;
	margin-left: 10px;
	}    
.customerCustomNoteHdr {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	font-weight:bold;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
.optionTable {
        border: #c7c9d7 2px solid;
	} 
.details_hdr {
        background: #FFFFFF url(Image/Layout/details_hdr_bg.jpg);
        background-repeat: no-repeat;
        background-position: center left;
        white-space:nowrap;
        font-size: 12px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        padding: 0px 0px 0px 20px;
        }
.optionName {
	white-space:nowrap; 
	}	
.optionName2 {
        background: #FFFFFF url(Image/Layout/optionName_bg.jpg);
        background-repeat: repeat-y;
        background-position: top left;
        white-space:nowrap;
        }
.giftcardBox {background-color:#E8E8E8; border:1px solid #C9C9C9
	}
.giftcardBox .note {color: #DD3204;
	font-weight:bold;
	font-size: 8px;}
.giftcardBox li{font-weight:bold; margin:20px;padding:9px;background: url(Image/Layout/bgTop.gif) repeat-x;background-color:#FFFFFF;
	}
.giftcardBox .box{margin-left:15px; }		
/*
.search { 
	border: #259D25 2px solid; 
	background-color: #FFFFFF; 
	margin: 10px; 
	padding: 5px}
.search_title { 
	font-size:8pt; 
	font-weight: bold; 
	color: #EC0B13; 
	padding-bottom: 5px}
.search_options { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt;
	color: #000000;
	padding-top: 5px}
.model_link {
	text-decoration: none;
	color: #000000;
	font-size: 8pt;
	white-space: nowrap;
	}
.model_link:hover {
	text-decoration: underline;
	}
.manufacturer_link {
	text-decoration: none;
	color: #000000;
	font-size: 8pt;
	}
.manufacturer_link:hover {
	text-decoration: underline;
	}
.search_results_table {
    background-color: #FDC423;
    }
.search_results_header {
    font-size: 8pt;
    color: #EC0B13;
    font-weight:bold;
    }
.search_results_manufacturer {
    width: 150px;
    color: #666666;
    }
.search_results_1 {
    background-color: #EEEEEE;
    }
.search_results_0 {
    background-color: #FFFFFF;
    }
.search_results_index_col {
    color: #666666;
    text-align: right;
    }
.search_results_link_col {
    width: 300px;
    }
.search_results_link {
    text-decoration: none;
    color: #033958;
    font-size: 8pt;
    }
.search_results_link:hover {
    text-decoration: underline;
    }
*/
.optionImage {width: 80px}
.optionSelect {width: 200px;font-size:8pt;}
.quantity { 
	padding-top:3px;
	text-transform:uppercase;
	}
.quantityBlock {
	display:block;
	}
	
#customLineBox {overflow:hidden; width:500px;}
#customLineBox ul li {list-style: none;margin-left:-20px;}

#customLineBox .customLine {border:1px solid #334334;margin:1px;}

.deliveryTimeBox table {
	background-color: #DFD6C3;
	}
.cvv2 {

}

/* company Review */
.companyReviewTitle {background-color:#E3E3E3;border:1px solid #919191;font-size:12px;font-weight:bold;margin-top:10px;padding:5px;}
.companyReview {font-size:14px; font-weight:700;}
.tab-wrapper
{
	padding:				0px 6px 0px 8px;
	border:					2px solid #eee;
	clear:					both;
}
* html .tab-wrapper
{
	padding:				0px 6px 0px 8px;
	border-top:					2px solid #eee;
	border-bottom:					0px solid #eee;
	border-left:					0px solid #eee;
	border-right:					0px solid #eee;
}
.tab-menu
{
	list-style:				none;
	font-family:'Verdana','Geneva',sans-serif;
	padding:				2px 0 0 11px;
	clear:					both;
	line-height:			17px;
	font-size:				12px;
}
.tab-menu li
{
	display:				inline;
	margin:					5px 1px 0 1px;
	background:transparent url(graphics/tab_l) no-repeat scroll left top;
	float:left;
}	
.tab-menu li a
{
	padding:1px 7px 1px 1px;
	margin:0px 0px 0px 3px;
	background-color:		#f5f5f5;
	color:					#8C8C8C;
	font-weight:			bold;
	text-decoration:		none;
	background:transparent url(graphics/tab_r.png) no-repeat scroll right top;
	display:block;
	float:left;
}
.tab-menu li a:hover,
.tab-menu li a:focus
{
	color:					#FF0000;
}
.tab-menu li.tab-selected a
{
	color:		#000;
}


.leftBox {
	width:150px;
	}	
.leftBox .recommended_list_box {
	border: 1px solid #CDCDCD;
	margin-top:15px;
	width: 100%;
	}		
.leftBox .recommendedList ul {
	margin: 0;
	padding: 0;
	width:100%;
	}	
.leftBox .recommendedList li {
	padding: 0;
	list-style-type: none;
	margin:0 0 20px 0;
	width: 100%;
	}	
.leftBox .recList .thumbnail_image, .leftBox .alsoconsider_list_box .also_consider_image {
	height:60px !important;
	margin-top: 10px;
	}	
.leftBox .thumbnail_item_name, .leftBox .also_consider_item_name {
	font-size: 10px;
	color: #444444;
	}	
.leftBox .recList a {
	text-decoration: none;
	}
	
.leftBox .alsoconsider_list_box {
	border: 1px solid #CDCDCD;
	width: 100%;
	}
.leftBox .also_consider_title, .leftBox .recommended_title {	
	background-color:#E3E3E3;
	border:1px solid #919191;
	font-size:10px;
	font-weight:bold;
	padding:5px;
	color: #222222;
	}
	
.leftBox .also_consider_list ul {
	padding: 0;
	list-style-type: none;
	margin:0 0 20px 0;
	width: 100%;
	}
	
	
/* leftbar filter */
#narrowList_left{
	width: 150px;
	}	
.filter_choices {
	padding-left:5px;
	margin:0;
	}
.stretchtoggle a {
	text-decoration:none;
	}	
.filter_choices .filter	{
	line-height: 10px;
	font-size:11px;
	color:#444444;
	}
.filter_choices .filter span:hover	{
	color:#1D70C0;
	cursor:pointer;
	text-decoration:underline;
	}	
	
.stretchtoggle{
	background-color:#EDEEF1;	
	border-bottom:1px solid #E8EAED;
	border-top:1px solid #F5F6F7;
	font-size:11px;
	font-weight:bold;
	margin:0;
	padding:3px 10px;
}

div #narrowList_title {
	color:#EE0000;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;	
	}
div #filter_button {
	padding:5px;
	}	
div #filter_button .reset{
	float: right;
	}	
	
#sort_box {
	background-color:#eeeeee;

	margin-bottom:0;
	padding:8px 10px 8px 10px;
	}
#sort_box select {
	color:#555555;
	font-size:10px;
	width: 100px;
	}	
#sort_box span {
	color:#555555;
	font-size:11px;
	font-weight:bold;
	}	
#sort_box td#pagesize {
	text-align:right;
	}	
	
/* star rating code - use lists because its more semantic */
/* product Review */
.productReviewTitle {background-color:#E3E3E3;border:1px solid #919191;font-size:12px;font-weight:bold;margin-top:10px;padding:5px;}
.writeReview {font-size:11px; font-weight:700;}
.productReview {font-size:14px; font-weight:700;}
.reviewTextarea { width:300px; height:100px;}
.reviewTitle {font-weight:700;border-bottom: #888888 1px solid;}
.reviewText pre {color:#111111;font-size:12px;font-family: Verdana, Arial, Helvetica, sans-serif; }


#stars {
	width:80px;
	position: relative;
	float: left;
	height:16px;
}
#respondRate {
	padding-left:10px;
	position: relative;
	float: left;
}
.rating{
	width:80px;
	height:16px;
	margin:0 0 20px 0;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(Image/Layout/rating.gif) no-repeat 0 0;
}
/* add these classes to the ul to effect the change to the correct number of stars */
.nostar {background-position:0 0}
.onestar {background-position:0 -16px}
.twostar {background-position:0 -32px}
.threestar {background-position:0 -48px}
.fourstar {background-position:0 -64px}
.fivestar {background-position:0 -80px}
.sixstar {background-position:0 -96px}
.sevenstar {background-position:0 -112px}
.eightstar {background-position:0 -128px}
.ninestar {background-position:0 -144px}
.tenstar {background-position:0 -160px}
ul.rating li {
	cursor: pointer;
	float:left;
	text-indent:-999em;
}
ul.rating li span {
	position:absolute;
	left:0;
	top:0;
	width:16px;
	height:16px;
	text-decoration:none;
	z-index: 200;
}
ul.rating li.one span {left:0}
ul.rating li.two span {left:16px;}
ul.rating li.three span{left:32px;}
ul.rating li.four span{left:48px;}
ul.rating li.five span{left:64px;}
ul.rating li.six span{left:80px;}
ul.rating li.seven span{left:96px;}
ul.rating li.eight span{left:112px;}
ul.rating li.nine span{left:128px;}
ul.rating li.ten span{left:144px;}
ul.rating li span:hover {
	z-index:2;
	width:80px;
	height:16px;
	overflow:hidden;
	left:0;	
	background: url(Image/Layout/rating.gif) no-repeat 0 0
}
ul.rating li.one span:hover {background-position:0 -176px;}
ul.rating li.two span:hover {background-position:0 -192px;}
ul.rating li.three span:hover {background-position:0 -208px}
ul.rating li.four span:hover {background-position:0 -224px}
ul.rating li.five span:hover {background-position:0 -240px}
/* end rating code */
h3{margin:0 0 2px 0;font-size:110%}




/* price break */
div#priceContainer div.bdy {
	background:none repeat scroll 0 0 #E4F0F7;
	border:1px solid #6A6A2F;
	padding:3px 8px;
	/*width:450px;*/
}
#priceGridContainer {
	margin:0;
	overflow:hidden;
	padding:0;
}
#inputForm {
	height:96px;
	margin:0;
	overflow:hidden;
	padding:0;
}
.price5Form {
	width:100%;
}
table.priceGrid tr.qtyRow td {
	background:none repeat scroll 0 0 #5691cc;
	color:white;
	white-space: nowrap;
	margin:10px;
}
table.priceGrid tr td.space {
	background:none repeat scroll 0 0 white !important;
	padding:0;
	width:1px;
}
.priceGrid td {
	font-size:10px;
	padding:1px;
}
table.priceGrid tr.priceRow td {
	background:none repeat scroll 0 0 #E4F0F7;
	color:#5A83A0;
	margin:10px;
}
.left {
	text-align:left;
}
.bold {
	font-weight:bold;
}
table.priceGrid tr.salesRow td {
	background:none repeat scroll 0 0 #8b8b8b;
	color:white;
	margin:10px;
}
.qtyInput input {
	width:80px;
	border:1px solid #297645;
	padding:2px;
}
.price5Form td.options select.optionSelect {
	border:1px solid #297645;
	padding:2px;
}
.quickViewsh {
	display: none;
	background: url(Image/Layout/button_quickview.gif) no-repeat 0 0;height:20px;
	height:30px;
	margin-top:-30px;
	z-index:0;
	position: relative;
	
}
.submitASupportTicketTitle {
	font-weight:700;
	color:#DD3204
}
.submitASupportTicket {
	font-weight:700;
	color:#1C1C1C
}
.ticketUpdateComment {
	border-top:1px dotted #DDDDDD;
	margin:8px 0 5px 10px; 
	font-weight:700;
	color:#DB0B2B;
}
.ticketUpdateAddComment {
	border-top:1px dotted #DDDDDD; 
	margin:8px 0 5px 10px; 
	font-weight:700;
	color:#DB0B2B;
}


div#pageSubFooterWrapper {
display:none;
	background:url(images/bgmain.jpg) 0 0 repeat;
	width: 1020px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;

}


.clearboth {
	clear: both;
	height: 0px;
	overflow: hidden;
}

div#pageWrapper {
margin:auto;
background:url(Image/2012/bg-logo.jpg) no-repeat center top;
/*width:1482px;*/

}
div#pageHeader {


}

div#pageHeaderWrapper {
/*margin-left:261px;*/
   margin: 0 auto;
    width: 990px;
}

div#pageTopbarWrapper {
/*margin-left:261px;*/
   margin: 0 auto;
    width: 990px;
}

div#pageFooterWrapper {
    /*margin: auto;
    width: 1482px;*/
margin: 0 auto;
    width: 990px;
}

div#pageFooter {
	width: 960px;
	margin-left: auto;
	margin-right: auto;

}
div#pageBodyWrapper {
background-color: #FFFFFF;
    margin: 0 auto;
    width: 960px;
/*	background:url(Image/2012/body.png) repeat-y left top;*/

}

div#pageBody {

	width: 960px;
	margin:auto;
	background-color:#FFFFFF;
}



div#leftSidebarWrapper {
	float: left; 
	background-color:#ffffff;
	width:223px;
	padding:10px;
	padding-right:0px;
	margin: 0 auto;

}


div#contentWrapper {
	float: left;
	width: 710px;
	padding-left:8px;
	padding-top:10px;
	padding-right:9px;
	padding-bottom:10px;
	background-color:#FFFFFF;
	margin: 0 auto;
}


img{

	border:0;

} 

.top-links {

	color:#c0deff;
	text-decoration:none;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:25px;

}
.top-links a{
	padding-left:5px;
	padding-right:5px;

	color:#c0deff;
	text-decoration:none;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:25px;
	}
.top-links a:hover {
	color:#1d3987;
}

.foot-links {

	color:#ffffff;
	text-decoration:none;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:35px;

}
.foot-links a{
	padding-left:2px;
	padding-right:2px;

	color:#ffffff;
	text-decoration:none;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:35px;
	text-transform:uppercase;
}
.foot-links a:hover {

text-decoration:underline;
}






.subCatLink {
    color: #ffffff;
    font-family: Arial, Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}
.catName {
    color: #ffffff;
    font-family: Arial, Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding-top: 7px;
    text-decoration: none;
}
.subCategories {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
}
.subCatLink img {
    margin-top: 1px;
    width: 110px;
}
.subCategories td {
    background: url("assets/Image/pictures/picbg2.gif") no-repeat scroll left top transparent;
    height: 144px;
    padding-bottom: 20px;
    padding-right: 40px;
    width: 182px;
}

.proceed_checkout{
margin-top:5px;}


#testimonials {
width:940px;
margin: 0;
 
}
#testimonials blockquote{

width:900px !important;
color:#666666; 
font-weight:normal;
font-style:italic; 
font-size:12px; 
font-family:Arial, Helvetica, sans-serif; 
text-decoration:none;
display:block;
}


#testimonials blockquote p{
margin: 0;
padding: 0px;
margin-left:-20px;

 
}
#testimonials blockquote cite {
font-style: normal;
display: block;
 
text-transform: uppercase;
font-weight: bold;
font-style:italic;
color: #555;
padding-left:5px;
margin-top:10px;
}

.toggleChildItemsButton {
	border: 1px solid gray;
	border-radius : 3px;
	color: #7F1315;
	cursor: pointer;
	font-size: 13px;
	margin: 5px 0 0 16px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase; 
	width: 60px;
}
.toggleChildItemsButton:hover {
	background-color: #7F1315;
	color: #FFFFFF;
}
.cartImageWrapper {
	float: left;
	padding: 0 5px 0 0;
}
.cartItemSkuNameWrapper {
	padding-left : 10px;
}
td.cartName {
 	padding-top : 10px;
}





.clear {
	clear: both;
}
.custom_step {
    -moz-background-inline-policy: continuous;
    background:repeat-x scroll 50% top #EEEEEE;
    border: 1px solid #DDDDDD;
    color: #333333;
    margin: 10px 0 10px 0;
    overflow: visible;
    padding: 8px 8px 12px;
}
.custom_step span.number {
    color: #667178;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    z-index: 105;
}
div.hdr{
    background: repeat-x scroll 0 0 #EAF0F5;
    border: 1px solid #CCCCCC;
    color: #333333;
    display: block;
    font: bold 14px Verdana,arial;
    height: 25px;
    margin: 0 0 6px;
    padding-top: 5px;
    text-decoration: none;
    text-indent: 35px;
}
.custom_step .help {
   float: left;
   width: 50%;
}
.custom_step .help label {
    border-bottom: 1px dotted #AAAAAA;
    color: #000000;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    width: 90%;
}
.custom_step .option_selection {
   float: left;
   width: 50%;
}
.option_wrapper {
	padding : 10px 0 0 10px;
}
.helpText {
    color: #999999;
    margin-top: 30px;
    text-align: left;
    text-decoration: none;
}
.helpText a{
	color: #999999;
    text-decoration: none;
}
.optionTextArea {
     width : 280px;
     height : 100px;
     padding : 5px 5px 5px 10px;
     border : 1px solid;
     border-radius : 3px;
}

