.thumbnail_manufacturer {
	font-family: Arial, Verdana, Helvetica, sans-serif; 
    color: #666;
	font-size: 8pt;
	}
.thumbnail_etilize {
	font-family: Arial, Verdana, Helvetica, sans-serif; 
    color: #666;
	font-size: 8pt;	
	}
.thumbnail_skus {
	font-family: Arial, Verdana, Helvetica, sans-serif; 
    color: #D86728;
	font-size: 8pt;
	}
.e_leftbar {
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	font-size: 11px;	
	background-color: #999999;
	}
.searchFilter {
	background-color: #FFFFFF;
	background-image:url(Image/Layout/esearch_tab.gif);
	background-repeat:no-repeat;
	height: 36px;
	color: #FFFFFF;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold;
	padding-left: 5px;
	}
.selected_filter {
	border-top:1px solid white;
	border-bottom:1px solid white;	
	margin: 5px;
	}
.selected_filter_title {
	font-style: italic;
	color: #FFFFFF;
	margin: 5px;
	}
.selected_filters {
	color: #FFFFFF;
	margin: 5px;
	text-decoration: none;
	padding-left: 20px;
	background: url(Image/Layout/esearch_remove.gif);
	background-repeat: no-repeat;
	background-position: left;
	height: 20px;
	display: block;
	}
.no_filters {
	color: #FFFFFF;
	margin: 5px;
	}
.filter {
	margin: 5px;
	background-color: #F2F2F2;
	border-bottom: #000000 1px solid;
	width: 250px;
	padding: 10px;
	}
.filter_title {
	line-height: 20px;
	color: #333;
	font-weight: bold;
	padding-bottom: 10px;
	}
.filter_link {
	color: #336699;
	padding: 0px 10px 5px 2px;
	display: block;
	text-decoration: none;
	}
.filter_select_string {
	width: 220px;
	}
.filter_select_operator {
	width: 50px;
	}
.filter_select_numeric {
	width: 167px;
	}
.viewing {
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	border-bottom: 1px solid #C0C0C0;
	font-size: 12px;
	padding-bottom: 22px;
	font-weight:bold;	
	}
.viewing_results {
	margin: 5px;
	float: left;
	}
.viewing_navi {
	margin: 5px;
	float: right;
	}
.viewing_pageNo {
	color: #D86728;	
	}
.viewing_navi_on {
	color: #336699;	
	text-decoration: none;
	}
.viewing_navi_off {
	color: #999999;	
	}
.viewing_navi_sep {
	color: #C0C0C0;	
	font-weight: normal;
	padding-left: 2px;
	padding-right: 2px;
	}
.sorting {
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	border-bottom: 1px solid #C0C0C0;
	font-size: 11px;
	padding-bottom: 35px;
	font-weight: bold;
}
.sorting_sort {
	margin: 5px;
	float: left;
	width: 50%;
	}
.sorting_pageSize {
	margin: 5px;
	float: right;
	}
.display {
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	border-bottom: 1px solid #C0C0C0;
	font-size: 12px;
	padding-bottom: 5px;
	font-weight:bold;	
	}
.displayName {
	color: #D86728;
	}