/* -------- GENERAL SETTINGS -------- */

@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif; /* most used font style */
	font-size: 14px; /* easy readable font size */
	font-weight: normal;
	outline: none;
	-webkit-font-smoothing: subpixel-antialiased;
}

a {
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	text-decoration: underline;
	color: #990000;
}

strong, em, b {
	font-size: inherit;
	font-weight: bold;
	font-family: inherit;
}

.left {
	text-align:left;
}

.bold {
	font-weight:bold;
}

.center {
	text-align: center;
}

/* -------- LAYOUT STRUCTURE -------- */


body {
    /* you can set up the background of the page here */
    border-right: #999999 dotted 1px;
	background: #eeeeee;
}


/* wrapper for the whole page */
div#pageWrapper {
	box-shadow: 0 0 8px #000000;
    margin: auto;
    width: 1000px;
	background: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

/* wrapper for the page header */
div#pageHeaderWrapper {
	border-bottom: 4px solid #990000;
}

/* page header */
div#pageHeader {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 110px;
}

/* wrapper for the top bar */
div#pageTopbarWrapper {

}

/* page header */
div#pageTopbar {
	
}

/* wrapper for the page body */
div#pageBodyWrapper {
	
}

/* page body */
div#pageBody {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/* background image for layout with both sidebars */
div#pageBody.bothSidebars  {
}

/* background image for layout with left sidebar */
div#pageBody#leftSidebar  {
}

/* background image for layout with  right sidebar */
div#pageBody.rightSidebar  {
}

/* wrapper for the left sidebar */
div#leftSidebarWrapper {
	float: left;
	padding: 20px; /* substract the left and right paddigng from the with */
	/* note: do not use margin on floating elements! this may break in IE. So we use padding here and stick another div in it. */
}
/* Header */
.header {
    position: relative;
}
.header .logo {
    padding: 30px 5px;
}
.header .contact-info {
	width: 133px;
    top: 10px;
    font-size: 12px;
    position: absolute;
    right: 0;
    width: 85px;
}
.header .cart {
	position: absolute;
	top: 10px;
	right: 0;
	margin-right: 100px;
	width: 85px;
}
.header .searchWrapper {
	width: 133px;
    top: 66px;
    font-size: 12px;
    position: absolute;
    right: 0;
    background: url("Image/Layout/search-bg.png") no-repeat scroll left top transparent;
	float: right;
	height: 44px;
	width: 297px;
}
.header .searchWrapper #keyword{
	border: medium none;
	left: 80px;
	padding: 4px;
	position: relative;
	top: 7px;
	width: 183px;
	color: #666;
}
.header .searchWrapper #searchsubmit {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	cursor: pointer;
	height: 31px;
	left: 50px;
	overflow: hidden;
	position: relative;
	text-indent: 1000px;
	top: 7px;
	width: 45px;
}
/* Top Menu */
.topMenu{
	background-color: #464646;
    clear: both;
    font-family: 'BebasNeueRegular',Tahoma,sans-serif;
    font-weight: normal;
    list-style: none outside none;
    margin-bottom: 2px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1001;
}
.topMenu ul {
	list-style:  none;
	margin: 0;
	list-style-type: none;
	font-style: normal;
	letter-spacing: normal;
	height: 30px;
	margin: 0 auto;
}
.topMenu ul li {
    display: inline;
    float: left;
    margin-left: -1px;
    padding: 0 2px 0 0;
    position: relative;
    z-index: 101;
    line-height: 20px;
    color: #E6E6E6;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33);
    transition: all 200ms ease-in 0s;
}
.topMenu ul li a {
    font-size: 20px;
    line-height: 20px;
    color: #E6E6E6;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 20px;
    padding: 5px 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33);
    transition: all 200ms ease-in 0s;
}
.topMenu ul li a:hover {
	background-color: #454545;
    color: #FFFFFF;

}

/* side navigations */
div.sideNav ul {
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 5px;
}

div.sideNav ul li {
	list-style-type: none;
}

div.sideNav ul li a {
	display: block;
	width: 178px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #990000;
	font-size: 18px;
	border-bottom: 1px solid #dddddd;
	text-decoration: none;
}

div.sideNav ul li ul {
	border: 0px;
	padding-top: 5px;
	margin-bottom: 0px;
	background: none;
}

div.sideNav ul li ul li a {
	color: #606060;
	font-size: 14px;
	font-weight: normal;
	border: none;
}

div.sideNav ul li ul li a:hover {
	color: #990000;
}

div.sideNav ul li ul li ul {
	padding-top: 0px;
}

div.sideNav ul li ul li ul li a {
	font-weight: normal;
	width: 168px;
	padding-left: 20px;
}

div.sideNav ul li ul li ul li ul {
	display: none;
}

/* wrapper for the content */
div#contentWrapper {
	float: left;
	width: 960px; /* no floating without width */
	padding: 20px; /* substract the left and right paddigng from the with */
	/* note: do not use margin on floating elements! this may break in IE. So we use padding here and stick another div in it. */
}


/* ... with both sidebars */
div#contentWrapper.bothSidebars  {
}

/* ... with left sidebar */
div#contentWrapper.leftSidebar  {
	width: 760px;
}

/* ... with right sidebar */
div#contentWrapper.rightSidebar  {
	width: 760px;
}

/* content */
div#content {
	/* applying min-height */
	min-height: 500px;
	height: auto !important; /* "clean" hack to fix    */
	height: 500px;	         /* min-height in IE > 5.x */
}

div#content h1 {

}

div#content h2 {

}

div#content h3 {
	color: #990000;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 3px;
}

div#content p, div#content li {
	color: #404040;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
}


div#content ul {
	padding-left: 25px;
}

div#content ul li {
	margin-bottom: 0px;
}

/* wrapper for the right sidebar */
div#rightSidebarWrapper {
	float: left;
	width: 200px; /* no floating without width */
}

/* right sidebar */
div#rightSidebar {
	padding-top: 20px;
}


/* ----- FOOTER -----

/* wrapper for the footer */
div#pageFooterWrapper {
	margin-top: 30px;
	border-top: #dddddd solid 1px;
    height: 50px;
}

/* footer */
div#pageFooter {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	padding-top: 20px;
}

div#footerCenter {
	padding-left: 100px;
}

div.footerColumn {
	width: 185px;
	float: left;
	padding: 10px;
}

div.footerColumn p {
	padding-left: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}


div.footerColumn ul {
	border: #999999 dotted 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 180px;
}

div#footerColumn4 ul {
	border: 0px;
}

div.footerColumn ul li {
	list-style-type: none;
	padding-left: 10px;
}

div.footerColumn ul li a {
	text-decoration: none;
	line-height: 24px;
	font-size: 16px;
}

div.footerColumn ul li a:hover {
	text-decoration: underline;
}

/* AEM elements */


div#headerBlockOne {
	width: 1000px;
	height: 80px;
}

div#headerLogo {
	width: 400px;
	float: left;
}

div#headerMinNav {
	margin-left: 520px;
	height: 33px;
}

div#headerMinNav ul {
}

div#headerMinNav ul li {
	display: inline-block;
	list-style-type: none;
	float: left;
	position: relative;
}

div#headerMinNav ul li:hover {

}

div#headerMinNav ul li a {
	display: block;
	text-decoration: none;
	color: #999999;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div#headerMinNav ul li a.textinred {
	color: #990000;
}


div#headerMinNav ul li:hover a {
	color: #990000;
}

div#headerMinNav ul li ul {
	display: none;
}

div#headerMinNav ul li:hover ul {
	display: block;
	position: absolute;
	z-index: 2500;
	width: 200px;
	border: 1px solid #dddddd;
	-moz-opacity: 0.90;
	opacity: 0.90;
    filter: alpha(opacity = 90);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-top: 5px;
	background: #ffffff;
}

div#headerMinNav ul li:hover ul li a {
	display: block;
	width: 180px;
	padding-left: 10px;
	padding-right: 10px;
	background: #ffffff;
	color: #404040;
}

div#headerMinNav ul li:hover ul li a:hover {
	color: #990000;
}

div#headerMinNav ul li:hover ul li ul {
	display: none;
}

div#headerMinNav ul li form#loginform ul {
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div#headerMinNav ul li form#loginform ul li label {
	color: #606060;
}

div#headerMinNav ul li form#loginform ul li input {
	border: 1px solid #606060;
	width: 100%;
	margin-bottom: 5px;
}

div#headerMinNav ul li form#loginform ul li.submitline {
	padding-top: 3px;
}

div#headerMinNav ul li form#loginform ul li.submitline a {
	font-size: 10px;
	width: auto;
	padding-left: 0px;
	padding-right: 0px;
	display: inline;
}

div#headerMinNav ul li form#loginform ul li.submitline input {
	width: 50px;
	background: #990000;
	color: #ffffff;
	border: 1px #990000 solid;
	margin-left: 10px;
}

div#headerMinNav ul li form#loginform ul li.submitline input:hover {
	background: #ff0000;
}

div#topButton {
	margin-left: 800px;
}

div#topButton a {
	display: inline-block;
	width: 172px;
	height: 28px;
	padding-bottom: 2px;
	color: #990000;
	text-align: center;
	line-height: 28px;
	font-weight: bold;
	font-size: 17px;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
}

div#topButton a:hover {
	color: #ff0000;
}

/* d */
div#headerBlockOne {
	width: 240px;
	height: 110px;
	float: left;
}

div#headerBlockTwo {
	width: 760px;
	height: 70px;
	float: left;
}

div#headerBlockBottom {
	padding: 5px;
}

/* home overlay */

div#homeOverlayWrapper {
	position: relative;
}

div#homeOverlay {
	position: absolute;
	z-index: 1000;
	width: 100%!important;
	height: 30px;
}

div#homeOverlayCenter {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 30px;
}



div#homeOverlay div a {
	display: inline-block;
	font-size: 18px;
	text-decoration: none;
	color: #ffffff;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: normal;
}

div#homeOverlayCustom a, div#homeOverlayShops a {
	width: 300px;
}

div#homeOverlayRight {
	width: 100px;
	float: right;
}

div#homeOverlayLeft {
	width: 100px;
	float: right;
	text-align: right;
}

div#homeOverlayRight a, div#homeOverlayLeft a {
	width: 30px;
}



/* midpart */

div#midpartWrapper {
}

div#midpart {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

div#homeElementCall {
	padding-top: 30px;
}

div.homeRightElement {
	width: 250px;
	margin-top: 30px;
}

div.homeRightElementTop {

	width: 230px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	font-size: 18px;
	color: #990000;
}

div.homeRightElementMiddle {
	width: 208px;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

div.homeRightElementMiddle ul {
	padding-left: 20px;
}

div.homeRightElementMiddle ul li {
	line-height: 20px;
	font-stye: 16px;
	color: #404040;
}

div.homeRightElementBottom {

	width: 230px;
	height: 30px;
	text-align: right;
	padding-right: 20px;
}

div.homeRightElementBottom a {
	color: #990000;
}


div#homeClientCaruselMain {
	width: 896px;
	height: 100px;
	float: left;
}

div#homeClientCarusel {
	/* Needed for rendering without flicker */
	position: relative;
	visibility: hidden;
	left: -5000px;
}

div#homeClientCarusel ul li {
	width: 180px;
	padding-left: 22px;
	padding-right: 22px;
	height: 120px;
}

div#homeClientCarusel ul li a {
	text-decoration: none;
}

div#homeClientCarusel ul li span {
	display: block;
	width: 180px;
	height: 19px;
	text-align: center;
	color: #999999;
	line-height: 12px;
	font-size: 12px;
	border-top: #cccccc 1px solid;
	padding-top: 4px;
}


/* button backgrounds */

a.buttonRegular112x32 {
	display: inline-block;
	width: 112px;
	height: 30px;
	padding-bottom: 2px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;

	color: #990000;
	text-decoration: none;
}

a.buttonRegular112x32:hover {
	color: #ff0000;
}

a.buttonRaq250x52 {
	display: block;
	width: 250px;
	height: 50px;
	padding-bottom: 2px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;

	color: #990000;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
}

a.buttonRaq250x52:hover {
	color: #ff0000;
}




/* platform */

div#platform {
	width: 1000px;
	height: 160px;
	margin-left: -10px;
	/* margin-top: -10px; */

}

div#platformblocks {
	height: 102px;
}

div#platformblocks ul {
	margin-left: 21px;
}

div#platformblocks ul li {
	display: inline-block;
	float: left;
	list-style-type: none;
	width: 144px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 4px;
}

div#platformblocks ul li a {
	display: block;

	width: 144px;
	height: 72px;
	text-align: center;
	color: #ffffff;
	padding-top: 30px;
	text-decoration: none;
	font-weight: normal;
	text-shadow: 0 -1px 0 #000000;
	font-size: 14px;
	font-smooth: 16px;
	white-space: pre !important;
	position: relative;
}

div#platformblocks ul li a span.platformoverlib {
	display: none;
	position: absolute;
	margin-left: -20px;
	margin-top: -142px;
	z-index: 3000;
	background: #ffffff;
	border: 2px solid #990000;
	width: 160px;
	height: 80px;
	padding: 10px;
	-moz-opacity: 0.80;
	opacity: 0.80;
    filter: alpha(opacity = 80);
	text-shadow: none;
	color: #404040;
}

div#platformblocks ul li a span.platformoverlib em {
	font-weight: bold;
}

div#platformblocks ul li.twoliner a span.platformoverlib {
	margin-top: -132px;
}

div#platformblocks ul li a:hover {

	height: 63px;
	padding-top: 39px;
	font-size: 15px;
	font-smooth: 16px;
}

div#platformblocks ul li a:hover span.platformoverlib {
	display: block;
}


div#platformblocks ul li.oneliner a {
	padding-top: 40px;
	height: 62px;
}


div#platformblocks ul li.oneliner a:hover {
	height: 53px;
	padding-top: 49px;
}

div#platformname p {
	height: 30px;
	margin: 0px;
}	

div#platformname p a {
	height: 30px;
	display: block;
	text-shadow: 0 1px 0 #ffffff;
	color: #404040;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}

div#platformname p a:hover {
	color: #990000;
}


/* hometabs */

div#homeTabsWrapper {
	width: 580px;
}

div#homeTabs {
	height: 30px;
}

div#homeTabs div.custom {
	width: 200px;
	float: left;
}

div#homeTabs div.shops {
	width: 200px;
	float: left;
}

div#homeTabs div a {
	display: block;
	background: #cccccc;
	color: #000000;
	text-decoration: none;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

div#homeTabsDisplay {
	border: 1px solid #990000;
	padding: 20px;
	height: 400px;
}

div#homeTabsDisplay div.shops {
	display: none;
}

div#homeTabsDisplay ul {
	padding-left: 30px;
}

div#homeTabsDisplay ul li {
	font-size: 20px;
	color: #404040;
}



/* homeboxes - D - */
div#customandturnkeyWrapper {
	width: 560px;
}

div#customandturnkey {
	width: 480px;
	margin-left: auto;
	margin-right: auto;
}

div#homeBoxesTopMainWrapper {
	width: 560px;
}

div#homeBoxesTopMain {
	width: 440px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

div#homeBoxLeft, div#homeBoxRight, div#homeBoxLeftBottom, div#homeBoxRightBottom {
	width: 210px;
	float: left;
}

div#homeBoxLeft, div#homeBoxLeftBottom {
	padding-right: 20px;
}

div#homeBoxRight {
}


div#homeBoxesTopMain ul {
	padding-left: 30px;
}

div#homeBoxesTopMain ul li {
	font-size: 18px;
	line-height: 28px;
	color: #000000;
}

div#homeBoxesBottom {
	width: 440px;
	margin-left: auto;
	margin-right: auto;
}

div#homeBoxesBottom div {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 5px;
}

div#homeBoxesBottom a {
	display: inline-block;
	width: 75px;
	padding: 5px;
	background: #990000;
	color: #ffffff;
	margin-right: 10px;
	text-decoration: none;
}

.breadcrumbs {
	font-size: 12px;
}

.breadcrumbs a {
	text-decoration: none;
	font-size: 12px;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}


a.breadcrumb, a.breadcrumb_home {
	color: #606060;
}


/* SUB FOOTER */
div#pageSubFooterWrapper {
	background-color:#111111;
	color: #fdfdfd;
}

div#pageSubFooter {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}
div.pageSubFooterContent {
	width: 100%;
	text-align:center;
	padding:5px;
	color: #fdfdfd;
	font-size: 10px;
	font-weight: normal;
}
div.pageSubFooterContent a{
	color: #fdfdfd;
	text-decoration: none;
}

div#leftSubFooter {
	width: 500px;
	float: left;
}

div#rightSubFooter {
	width: 500px;
	float: right;
}

div#leftSubFooter ul li, div#rightSubFooter ul li {
	display: inline-block;
	line-height: 30px;
	padding-left: 10px;
	color: #999999;
}

div#leftSubFooter ul li a, div#rightSubFooter ul li a {
	text-decoration: none;
	color: #999999;
}

div#leftSubFooter ul li a:hover, div#rightSubFooter ul li a:hover {
	text-decoration: underline;
}

div#rightSubFooter ul {
	text-align: right;
}

div#rightSubFooter ul li {
	padding-left: 0;
	padding-right: 10px;
	text-align: right;
}

div#formRQ {
	margin-left: 50px;
}

div#formRQ ul {
	padding-left: 0;
}

div#formRQ ul li {
	list-style-type: none;
	clear: both;
	padding-bottom: 2px;
	padding-top: 2px;
}

div#formRQ ul li label {
	display: block;
	float: left;
	width: 190px;
	padding-right: 10px;
}

div#formRQ ul li input, div#formRQ ul li textarea, div#formRQ ul li select {
	width: 250px;
	border: 1px solid #999999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px;
}


div#formRQ ul li input:focus, div#formRQ ul li textarea:focus, div#formRQ ul li select:focus {
	border: 1px solid #990000;
}

/* topbar filter */
.topCheckBoxFilter_main {
	background-color: #dddddd;
	margin:10px;
	padding:15px;
}
.checkBoxFilter ul {	
	display: inline-block;	
	width:120px;
	height: 120px;
	overflow: scroll;
	overflow-x: hidden;
}
.checkBoxFilter a {
	text-decoration:none;
}
.checkBoxFilter li {
	font-size:11px;
	list-style-type:none;	
}
div #narrowList_title_top {
	color:#EE0000;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;	
}
div #filter_button_top {
	padding:15px;
}
div #filter_button_top .reset_top{
	float: right;
}
.filter_choices_top {	
	margin:5px 1px 0 1px;
	float:left;
}

/* leftbar filter */
#narrowList_left{
	width: 150px;
}	
.filter_choices {
	padding-left:5px;
	margin:0;
}
.stretchtoggle a {
	text-decoration:none;
}	
.filter_choices .filter	{
	line-height: 10px;
	font-size:11px;
	color:#444444;
}
.filter_choices .filter span:hover	{
	color:#1D70C0;
	cursor:pointer;
	text-decoration:underline;
}
.stretchtoggle{
	background-color:#EDEEF1;	
	border-bottom:1px solid #E8EAED;
	border-top:1px solid #F5F6F7;
	font-size:11px;
	font-weight:bold;
	margin:0;
	padding:3px 10px;
}
div #narrowList_title {
	color:#EE0000;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;	
}
div #filter_button {
	padding:5px;
}	
div #filter_button .reset{
	float: right;
}	
	




div#formRQ ul li.withcheckbox label {
	float: right;
	width: 250px;
	padding-left: 5px;
	padding-right: 40px;
}

div#formRQ ul li.withcheckbox input {
	width: 20px;
	float: right;
}

div#formRQ ul li.widetextarea label {
	float: none;
}

div#formRQ ul li.widetextarea textarea {
	width: 450px;
	height: 160px;
}

div#formRQ ul li.submitline {
	text-align: center;
}

div#formRQ ul li.submitline input {
	width: 100px;
}


.multipleProductPerRow {
	width: 700px;
}
/* default category Layout */
table.thumbnail_item {

}
table.thumbnail_item div.thumbnail_item_name a{
;
}

td.thumbnail_compact_cell a {

}

td.thumbnail_compact_cell td.thumbnail_item_name a {

}

td.thumbnail_item_sku {

}

.details_desc {

}
div.details_long_desc a {

}

/* try to style it with template called div */
div.dynamic_thumbnail_item {
	width: 240px;
	border: 1px #cccccc solid;
	float: left;
}
img.thumbnail_image {

}

.listingsHdr1 {
	color: 3990000;
	font-size: 16px;
	line-height: 30px;
}

.myaccount_fieldset, .myaccount_fieldset a {
	padding: 10px;
	padding-bottom: 15px;
	line-height: 20px;
	margin-bottom: 10px;
}

div#countdown span {
	display: inline-block;
	width: 30px;
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
	font-size: 20px;
	color: #557799;
}

div#countdown p {
	padding-left: 38px;
}

div.modulesrow {
	width: 900px;
}

div.modulesrow div {
	width: 200px;
	float: left;
	padding: 10px;
}

div.modulesrow div.doublemodule {
	width: 440px;
}

div.modulesrow div div {
	width: 180px;
	padding: 10px;
}

div.modulesrow div.doublemodule div {
	width: 400px;
}


div.modulesrow div.clearboth {
	clear: both;
}

div.modulesrow div div.moduletitle {
	width: none;
	color: #ffffff;
	height: 30px;
	border: 1px solid #990000;
	border-bottom: none;
	-webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.modulesrow div div.modulebody {
	width: none;
	height: 250px;
	border: 1px solid #999999;
	border-top: none;
	-webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

div.modulesrow ul {
	padding-left: 12px!important;
}

div.modulesrow div div.modulebody ul li {
	list-style-type: disc;
}

div.modulesrow div div.modulebody ul li a {
	text-decoration: none;
}

div.modulesrow div div.modulebody ul li a:hover {
	text-decoration: underline;
}


div.modulesrow div div.modulebody p {
	color: #606060;
}
table.loginWrapper {
	width:99.5%;
}

/* clear element */
.clearboth {
	clear: both!important;
	height: 0px!important;
	overflow: hidden!important;
	width: 100%!important;
	float: none!important;
	padding: 0!important;
	margin: 0!important;
}

.register_fieldset {
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/* price break */
div#priceContainer div.bdy {
	background:none repeat scroll 0 0 #E4F0F7;
	border:1px solid #6A6A2F;
	padding:3px 8px;
	/*width:450px;*/
}
#priceGridContainer {
	margin:0;
	overflow:hidden;
	padding:0;
}
#inputForm {
	height:96px;
	margin:0;
	overflow:hidden;
	padding:0;
}
.price5Form {
	width:100%;
}
table.priceGrid tr.qtyRow td {
	background:none repeat scroll 0 0 #5A83A0;
	color:white;
	white-space: nowrap;
	margin:10px;
}
table.priceGrid tr td.space {
	background:none repeat scroll 0 0 white !important;
	padding:0;
	width:4px;
}
.priceGrid td {
	font-size:10px;
	padding:3px;
}
table.priceGrid tr.priceRow td {
	background:none repeat scroll 0 0 #E4F0F7;
	color:#5A83A0;
	margin:10px;
}
table.priceGrid tr.salesRow td {
	background:none repeat scroll 0 0 #E67E25;
	color:white;
	margin:10px;
}
.qtyInput input {
	width:80px;
	border:1px solid #297645;
	padding:2px;
}
.price5Form td.options select.optionSelect {
	border:1px solid #297645;
	padding:2px;
}
.quickViewsh {
	display: none;
	background: url(Image/Layout/button_quickview.gif) no-repeat 0 0;height:20px;
	height:30px;
	margin-top:-30px;
	z-index:0;
	position: relative;
	
}

/*  Magic Zoom */
img.zoom_details_thumbnail {
	width:50px;
}

/*  Pagination */
.pageShowing {
    color: #000000;
    font-size: 10px;
    font-weight: lighter;
    padding-left: 5px;
    padding-right: 5px;
}
.pageNavi {
    color: #000000;
    font-size: 10px;
    font-weight: lighter;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}
.pagenavBox {
	width: 100%;
}
.pageShowing, .pageNavi {
	width: 340px;
}
a.pageNaviLink {
	color: #990000;
}

/*  Sort Box */
#sort_box {
    background-color: #F3F4F4;
    border-color: #CDCDCD;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0;
    padding: 3px 10px;
}
#sort_box span {
    color: #555555;
    font-size: 9px;
}
#sort_box td#pagesize {
    text-align: right;
}

/* FAQ  */
span.directLink p{
   padding: 8px 0 1px 2px;
   margin:0 !important;
}
span.directLink {
    background-color: #EEEEEE;
    color: #777777;
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
    padding: 0 0 5px 3px;
    width: 99.9%;
}

/* Review */
div.readReviewLink a {
	color:#777777;
	text-decoration: none;
}

/* GiftCard */
.giftcardBox {background-color:#E8E8E8; border:1px solid #C9C9C9; }
.giftcardBox .note {color: #DD3204;
	font-weight:bold;
	font-size: 8px;}
.giftcardBox li{font-weight:bold; margin:20px;padding:9px;background: url(Image/Layout/bgTop.gif) repeat-x;background-color:#FFFFFF;
	}
.giftcardBox .box{margin-left:15px; }

/* Sugar-sync */
div#fileWrapper {
	
}
div#fileWrapper a.hdrLink {
	text-decoration: none;
	padding: 0 0 15px;
	display: block;
}
div#fileWrapper ul.files {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
div#fileWrapper ul.files li a{
	text-decoration: none;
}
div#fileWrapper ul.files li a:hover{
	text-decoration: underline;
}
div#fileWrapper ul.files li.fileName{
	background: url(Image/Layout/file.gif) no-repeat 0 0;
	height: 25px;
	background-position: 0 0px;
	background-size: 20px;
	padding-left: 28px;
}
div#fileWrapper ul.files li.folderName{
	background: url(Image/Layout/folder.gif) no-repeat 0 0;
	height: 25px;
	background-position: 0 0px;
	background-size: 20px;
	padding-left: 28px;
}

/*  final Order */
div.finalOrderHdrImage {
	background:url(Image/Layout/finalOrder_hdr.jpg) no-repeat left top;
	width:745px;
	height:98px;
}


/* ticket form */
#ticketForm {
	background: #e8e8e8;
	border: 1px solid #c9c9c9;
	color: #404040;
	padding: 20px;
}

#ticketForm h2 {
	font-weight: bold;
}

#ticketForm label {
	font-weight: bold;
}

#ticketForm dl {
	border-top: 1px solid #c8c8c8;
	padding: 20px;
}

#ticketForm dl, .formAction input {
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff));
  
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #eee, #fff);
  
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #eee, #fff);
  
	/* IE 10 */
	background: -ms-linear-gradient(top, #eee, #fff);
  
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #eee, #fff);
	
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eee', endColorstr='#fff');/*For IE7-8-9*/
}

.formAction {
	margin: 10px 0px 0px 20px;
}

.formAction input {
	border: none;
	border-radius: 5px;
	padding: 3px 5px;
}

#ticketForm dt {
	margin: 10px 0px;
}

/* left side bar */
#leftSidebar {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 7px;
}

#leftSidebar div {
	padding: 5px 0px;
}

#leftSidebar div a {
	text-decoration: none;
	color:#565656;
}

#leftSidebar div a:hover {
	color: #9e0b0f;
}

/* FAQ */
.faqTitle {
	color: #404040;
	margin: 0px 0px 10px 0px;
}

.faqSearch, #faqBox {
	border-top: 1px solid #c8c8c8;
	padding: 20px;
	margin: 20px 0px;
	border-left: 20px solid #e8e8e8;
	border-right: 20px solid #e8e8e8;
	    border-bottom: 5px solid #E8E8E8;
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff));
  
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #eee, #fff);
  
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #eee, #fff);
  
	/* IE 10 */
	background: -ms-linear-gradient(top, #eee, #fff);
  
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #eee, #fff);
	
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eee', endColorstr='#fff');/*For IE7-8-9*/
}

/* policy */
a.policyLink, a span.policyName {
	text-decoration: none;
	color: #404040;
}

a span.policyName {
	font-weight: bold;
}

a.policyLink:hover {
	text-decoration: underline;
}

p.policy {
	border: 1px solid #c8c8c8;
	padding: 20px;
	color: #404040;
	margin-top: 10px;
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff));
  
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #eee, #fff);
  
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #eee, #fff);
  
	/* IE 10 */
	background: -ms-linear-gradient(top, #eee, #fff);
  
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #eee, #fff);
	
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eee', endColorstr='#fff');/*For IE7-8-9*/
}




/* price */
.prices {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 9pt;
 	border-collapse: collapse;
	margin-bottom: 10px;	
	}
.msrpTitle {
	text-align: right;
	}
.msrp {
	padding-left: 5px;
	}
.priceTitle {
	text-align: right;
	font-weight: bold;
	}
.price {
	color: #666666;	
	font-weight: bold;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	}
.qtyBreak {
	color: #990000;	
	white-space:nowrap;	
	}
.qtyBreakTitle {
	color: #990000;
	text-align: center;	
	}
.youSaveTitle {
	text-align: right;
	font-weight: bold;
	}
.youSave {
	color: #990000;
	padding-left: 5px;
	}


/* thumbnail view */
.thumbnail_item {
	width: 100%;
	font-family:  Arial, Helvetica, sans-serif; 
	font-size:12px;
	border-bottom: #919191 1px dotted;
	}
.thumbnail {
	width: 150px;
	padding-bottom: 10px;
	}
.thumbnail_content {
	width: 600px;
	}
.thumbnail_image {
	max-width: 130px;
	max-height: 130px;
	}
	
.thumbnail_item_name img {
    max-width: 120px;
}

.thumbnail_item_name {
	font-family:  Arial, Helvetica, sans-serif; 
	font-size: 9pt;
	color:#990000;
	text-decoration:none;
	font-weight:bold;
	}
.thumbnail_item_sku {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt;
 	color: #666;
	}	
.thumbnail_item_desc {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9pt;
	}
.thumbnail_item_shortDesc {
	height: 30px;
	width: 150px;
	font-family: verdana;
    font-size: 10px;
    color: #000000;
    background-color: #fffff8;
	}	
.thumbnail_priceTitle {
	font-weight: bold;
	}
.thumbnail_price {
	color: #990000;	
	font-weight: bold;
	text-align: left;
	padding-left: 2px;
	padding-right: 2px;
	}
.thumbnail_compact_cell {
	border: #cccccc 1px solid; 
	width: 130px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 10px;
	margin: 5px;
	}

/* shared Category */
.shared_level2 {
	border-bottom: #919191 1px dotted; 
	font-size:8pt;
	color: #333333;
	text-decoration: none;
	display:block;
	}
.shared_level2:hover{
	background-color:#cfcfcf;	
    }	
.shared_level1 {
	border-bottom: #919191 1px dotted; 
	font-size:8pt;
	color: #333333;
	text-decoration: none;
	display:block;
	}
.shared_level1:hover {
	background-color:#cfcfcf;
	}	
.shared_header_level2 {
	background-color:#CCCCCC;
	color: #000000;
	font-size:10pt;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	}	
.shared_topHeader_level1 {
	background-color:#333333;
	color: #FFFFFF;
	font-size:11pt;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	}			
.shared_header {
	height:5px;
	padding: 5px 5px 0px 0px;	
	}		
.shared_top {	
	color:#333333;
	float:right;
	font-size:8pt;
    }				

/* details view */
.details {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	}
.details3 {
	border:1px solid #cccccc;
	padding: 10px;
	width:100%;
	}	
.details_desc {
 	width: 650px;
 	}
.details_sku {
	font-size:9pt;
 	color: #666;
	}
.details_item_name {
	font-size:12pt;
	font-weight: bold;
	}
.details_item_name h1 {
	font-size: 24px;
	font-weight: bold;
	color: #990000;
	}
.horizontalRuleClass{
height:2px;
background: #848484;
width:320px;
margin-left:30px;
margin-bottom:10px;}	

.details_short_desc {
 	color: #666;
	font-size:14px;

	}
.details_long_desc {
 	color: #666;
	padding-bottom: 10px;
	font-size : 14px;
	}
.details_image {
	}

.details_thumbnail {
    border: 1px solid #919191;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    width: 60px;
}

.details_thumbnail_anchor {
	text-decoration: none;
	}	
.details_fields_title {
	font-size:10pt;
	font-weight: bold;
	padding-bottom: 5px;
	}
.details_fields {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
 	color: #666;
 	border-collapse: collapse;
 	width: 100%;
	margin-bottom: 10px;
	}
.details_field_name_row0 {
 	background-color: #eeeeee;
 	width: 100px;
	padding: 5px;
	}
.details_field_name_row1 {
 	background-color: #FFFFFF;
 	width: 100px;
	padding: 5px;
	}
.details_field_value_row0 {
 	background-color: #eeeeee;
 	padding: 5px;
	}
.details_field_value_row1 {
 	background-color: #FFFFFF;
	padding: 5px;
	}
.recommended_list {
	border: #919191 1px solid;
	background-color: #E3E3E3;	
	font-size:12px;	
	font-weight:bold;
	padding: 5px;
	margin-top: 10px;
	}
.box_contents {
	border: #919191 1px solid;
	background-color: #E3E3E3;	
	font-size:12px;	
	font-weight:bold;
	padding: 5px;
	}
.box_content_body {
	border: #919191 1px solid;
	margin-top: 10px;
	margin-bottom: 30px;	
	}
.box_content_body input {
	border: #919191 1px solid;
	color: #323232;	
	background-color: #E3E3E3;
	position:static;
	}
#box_content {
	border: #919191 1px dotted;background-color:#F0F0F0;float:left;margin-right:5px;overflow:hidden;width:140px;height:200px;text-align:center;
	}				
#box_content_img {
	height:100px;margin-bottom:3px;overflow:hidden;text-align:center;
	}	
#box_content_dis {
	/*height:50px;overflow:auto;hidden;text-align:left;*/
	display:none
	}
#box_content_product_name {
	width:100px;height:20px;text-align:left;
	}	
#dropDownList_main {
	background-color: #dddddd;
	margin:10px;
	padding:15px;
	}
.dropDownList_select {
	width:120px;
	}	
#dropDownList_title	{
	font-size: 12px;	
	text-decoration: none;
	color: #EE0000;
	font-weight: bold;
	}		
.also_consider {
	width: 150px;
	margin-left:10px;
	border: #919191 1px solid;
	background-color: #FFFFFF;
	}
.also_consider_title {
	background-color: #919191;	
	font-size:10pt;	
 	color: #FFFFFF;
	padding: 5px;
	}
.also_consider_item_name {
	font-size: 9pt;
	}
.price_range {
	color: #990000;	
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	white-space: nowrap;
	}
	
	
/* listings */
.listings {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #999999;
	color: #000000;
	width: 100%;
	}
.listingsHdr1 {
	font-size: 12px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
.listingsHdr2 {
	color: #FFFFFF;
	font-weight: bold;
	background: #CCCCCC;
	}
.nameCol {
	padding-left: 10px;
	}
.nameLink {
	color: #003366;
	text-decoration: underline;
	}
.row0 {
	background: #FFFFFF}
.row0:hover {
	background: #FFFFCC}
.row1 {
	background: #EEEEEE;}
.row1:hover {
	background: #FFFFCC;}
.emptyList {
	background: #FFFFFF;	
	}
	
/* comparison */
.comparison {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #999999;
	color: #000000;
	width: 100%;
	}
.comparisonTitle {
	font-size: 12px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding-top: 10px;
	padding-bottom: 10px;
	}
.comparisonHdr {
	font-weight: bold;
	color: #FFFFFF;
	background: #CCCCCC;
	}
.comparisonNameLink {
	color: #003366;
	text-decoration: underline;
	}
.comparisonCol0 {
	background: #FFFFFF;
	}
.comparisonCol1 {
	background: #FFFFCC;
	}
.comparisonPrice {
	color: #990000;	
	font-weight: bold;
	white-space: nowrap;
	}

/* quickmode */
table.quickmode {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background: #999999;
	width: 100%;
	}
th.quickmode {
	color: #FFFFFF;
	background: #CCCCCC;
	}
th.quickmodeQuote {
	color: #FFFFFF;
	background: #CCCCCC;
	}
.quickmode_image {
	}	
	
	
/* company Review */
.companyReviewTitle {background-color:#E3E3E3;border:1px solid #919191;font-size:12px;font-weight:bold;margin-top:10px;padding:5px;}
.companyReview {font-size:14px; font-weight:700;}
.tab-wrapper
{
	padding:				0px 6px 0px 8px;
	border:					2px solid #eee;
	clear:					both;
}
* html .tab-wrapper
{
	padding:				0px 6px 0px 8px;
	border-top:					2px solid #eee;
	border-bottom:					0px solid #eee;
	border-left:					0px solid #eee;
	border-right:					0px solid #eee;
}
.tab-menu
{
	list-style:				none;
	font-family:'Verdana','Geneva',sans-serif;
	padding:				2px 0 0 11px;
	clear:					both;
	line-height:			17px;
	font-size:				12px;
}
.tab-menu li
{
	display:				inline;
	margin:					5px 1px 0 1px;
	background:transparent url(graphics/tab_l) no-repeat scroll left top;
	float:left;
}	
.tab-menu li a
{
	padding:1px 7px 1px 1px;
	margin:0px 0px 0px 3px;
	background-color:		#f5f5f5;
	color:					#8C8C8C;
	font-weight:			bold;
	text-decoration:		none;
	background:transparent url(graphics/tab_r.png) no-repeat scroll right top;
	display:block;
	float:left;
}
.tab-menu li a:hover,
.tab-menu li a:focus
{
	color:					#FF0000;
}
.tab-menu li.tab-selected a
{
	color:		#000;
}


.leftBox {
	width:150px;
	}	
.leftBox .recommended_list_box {
	border: 1px solid #CDCDCD;
	margin-top:15px;
	width: 100%;
	}		
.leftBox .recommendedList ul {
	margin: 0;
	padding: 0;
	width:100%;
	}	
.leftBox .recommendedList li {
	padding: 0;
	list-style-type: none;
	margin:0 0 20px 0;
	width: 100%;
	}	
.leftBox .recList .thumbnail_image, .leftBox .alsoconsider_list_box .also_consider_image {
	height:60px !important;
	margin-top: 10px;
	}	
.leftBox .thumbnail_item_name, .leftBox .also_consider_item_name {
	font-size: 10px;
	color: #444444;
	}	
.leftBox .recList a {
	text-decoration: none;
	}
	
.leftBox .alsoconsider_list_box {
	border: 1px solid #CDCDCD;
	width: 100%;
	}
.leftBox .also_consider_title, .leftBox .recommended_title {	
	background-color:#E3E3E3;
	border:1px solid #919191;
	font-size:10px;
	font-weight:bold;
	padding:5px;
	color: #222222;
	}
	
.leftBox .also_consider_list ul {
	padding: 0;
	list-style-type: none;
	margin:0 0 20px 0;
	width: 100%;
	}
	
	
/* leftbar filter */
#narrowList_left{
	width: 150px;
	}	
.filter_choices {
	padding-left:5px;
	margin:0;
	}
.stretchtoggle a {
	text-decoration:none;
	}	
.filter_choices .filter	{
	line-height: 10px;
	font-size:11px;
	color:#444444;
	}
.filter_choices .filter span:hover	{
	color:#1D70C0;
	cursor:pointer;
	text-decoration:underline;
	}	
	
.stretchtoggle{
	background-color:#EDEEF1;	
	border-bottom:1px solid #E8EAED;
	border-top:1px solid #F5F6F7;
	font-size:11px;
	font-weight:bold;
	margin:0;
	padding:3px 10px;
}

div #narrowList_title {
	color:#EE0000;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;	
	}
div #filter_button {
	padding:5px;
	}	
div #filter_button .reset{
	float: right;
	}	
	
#sort_box {
	background-color:#eeeeee;

	margin-bottom:0;
	padding:8px 10px 8px 10px;
	}
#sort_box select {
	color:#555555;
	font-size:10px;
	width: 100px;
	}	
#sort_box span {
	color:#555555;
	font-size:11px;
	font-weight:bold;
	}	
#sort_box td#pagesize {
	text-align:right;
	}	
	
/* star rating code - use lists because its more semantic */
/* product Review */
.productReviewTitle {background-color:#E3E3E3;border:1px solid #919191;font-size:12px;font-weight:bold;margin-top:10px;padding:5px;}
.writeReview {font-size:11px; font-weight:700;}
.productReview {font-size:14px; font-weight:700;}
.reviewTextarea { width:300px; height:100px;}
.reviewTitle {font-weight:700;border-bottom: #888888 1px solid;}
.reviewText pre {color:#111111;font-size:12px;font-family: Verdana, Arial, Helvetica, sans-serif; }


#stars {
	width:80px;
	position: relative;
	float: left;
	height:16px;
}
#respondRate {
	padding-left:10px;
	position: relative;
	float: left;
}
.rating{
	width:80px;
	height:16px;
	margin:0 0 20px 0;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(Image/Layout/rating.gif) no-repeat 0 0;
}


/* price break */
div#priceContainer div.bdy {
	background:none repeat scroll 0 0 #E4F0F7;
	border:1px solid #6A6A2F;
	padding:3px 8px;
	/*width:450px;*/
}
#priceGridContainer {
	margin:0;
	overflow:hidden;
	padding:0;
}
#inputForm {
	height:96px;
	margin:0;
	overflow:hidden;
	padding:0;
}
.price5Form {
	width:100%;
}
table.priceGrid tr.qtyRow td {
	background:none repeat scroll 0 0 #5691cc;
	color:white;
	white-space: nowrap;
	margin:10px;
}
table.priceGrid tr td.space {
	background:none repeat scroll 0 0 white !important;
	padding:0;
	width:1px;
}
.priceGrid td {
	font-size:10px;
	padding:1px;
}
table.priceGrid tr.priceRow td {
	background:none repeat scroll 0 0 #E4F0F7;
	color:#5A83A0;
	margin:10px;
}
.left {
	text-align:left;
}
.bold {
	font-weight:bold;
}
table.priceGrid tr.salesRow td {
	background:none repeat scroll 0 0 #8b8b8b;
	color:white;
	margin:10px;
}
.qtyInput input {
	width:80px;
	border:1px solid #297645;
	padding:2px;
}
.price5Form td.options select.optionSelect {
	border:1px solid #297645;
	padding:2px;
}
.quickViewsh {
	display: none;
	background: url(Image/Layout/button_quickview.gif) no-repeat 0 0;height:20px;
	height:30px;
	margin-top:-30px;
	z-index:0;
	position: relative;
	
}
.submitASupportTicketTitle {
	font-weight:700;
	color:#DD3204
}
.submitASupportTicket {
	font-weight:700;
	color:#1C1C1C
}
.ticketUpdateComment {
	border-top:1px dotted #DDDDDD;
	margin:8px 0 5px 10px; 
	font-weight:700;
	color:#DB0B2B;
}
.ticketUpdateAddComment {
	border-top:1px dotted #DDDDDD; 
	margin:8px 0 5px 10px; 
	font-weight:700;
	color:#DB0B2B;
}


/* Sub Categories */
.subCategories {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	}
.subCatLink {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	}
.subCatLink:hover {
	text-decoration: underline;
	}
.subCatAnchor {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #DDE166;
	}	
.subCatAnchorHeader {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold;
	background-color: #C7CD00;
	padding: 5px;	
	}	
.subCatLinkAnchor {
	border-bottom: #919191 1px dotted; 
	font-size:8pt;
	color: #333333;
	text-decoration: none;
	display:block;
	}
.subCatLinkAnchor:hover {
	background-color:#cfcfcf;
	}
.subCatHeader {
	background-color:#C7CD00;
	padding: 5px;
	}
.back_to_top {	
	color:#333333;
	float:right;
	font-size:8pt;
    }	
.subSubCatLink {
	text-decoration: none;
	padding-left: 15px;
	color: #000000;
	}
.subSubCatLink:hover {
	text-decoration: underline;
	}
.subSubCatLinkPlus {
	text-decoration: none;
	padding-left: 15px;
	color: #000000;
	background: url(Image/Layout/expand.gif);
	background-repeat: no-repeat;
	background-position: left;
	}
.subSubCatLinkPlus:hover {
	text-decoration: underline;
	}

/* Category Cell View */

.categoryWrapper{
width: 200px;
height: 200px;
margin: 10px 5px;
padding: 10px;
border-radius: 7px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border: 1px solid #ccc;
position: relative;
}

.catImage img{
max-width:200px;
max-height:200px;}

.catName{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 220px;
	padding: 5px 0px;
	text-align: center;
	color: #9e0b0f;
	background: rgba(204,204,204,.75);
	border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-webkit-border-radius: 0px 0px 7px 7px;
	overflow: hidden;
}

.catName:hover {
	font-weight: bold;
}

.categoryWrapper .subCatLink {
	width: 180px;
}

.categoryWrapper .subCatLink .catImage img {
	border-radius: 7px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
}

/* Compact */
.cat_image_wrapper{
width:200px;
height:150px;
padding:5px;}

..cat_image_wrapper img{
max-width:200px;
max-height:150px;} 

.thumbnail_item_select_box{}
.cat_name_wrapper{}

/* Compact Add to Cart*/
.thumbnail_v8_1_msrp{}


/* Compact Add to Cart MSRP*/
.thumbnail_v12_price{}


/* Compact Popup*/

.demo {
    background-color: #FFFFFF;
    border: 1px dotted #919191;
    color: #000033;
    cursor: pointer;
    float: left;
    height: 320px;
    padding: 5px;
    position: absolute;
    text-align: left;
    visibility: hidden;
    width: 190px;
    word-wrap: break-word;
    z-index: 99;
}

.demo img{
border:none;
max-width:200px;}

/* multiple product per culumn view */
.multipleProductPerRow {
	font-family:  Arial, Helvetica, sans-serif; 
	font-size:12px;			
	}
table.thumbnail_border {
	border: #cccccc 1px solid;
	width:200px;
	height: 250px;
	}	
	