@charset "UTF-8";
body,div,ul,li,input,select,textarea,p,td,h1,h2,h3,h4{color:#000;font-family:Verdana,Arial,sans-serif;font-size:12px;margin:0;padding:0;}
body{text-align:left;min-width:1332px;}
body,.menudiv,.ln{background-color:#ECECEC;}
form{margin:0;padding:0;}
bold {font-weight: bold;}
red {color:red;}
b,strong{font-weight:700;}
img{border:0;}
ul{list-style:none;margin:0;padding:0;}
li{float:left;}
ol li{float:none;}
input{padding:1px;}
a{color:#02746c;text-decoration:none;}
a:hover{color:#003557;text-decoration:underline;}
a img,img a{border:0;}
.displayNone {display:none;}
.clearFilter {float:right;}
.clearBoth {clear:both;}
.requiredField{color:#676767;font-weight:700;}
.quarter {font-size: 10px;background-color:#BFBFBF !important; padding:3px 10px !important;}
.small  {font-size:10px;}
.info div.right { float: right}
.info div.left { float: left}
select {border:1px solid #BDC7D8;font-family:Verdana,Arial,sans-serif;font-size:12px;padding:2px;width:120px;}
div.listp select {border:1px solid #BDC7D8;font-family:Verdana,Arial,sans-serif;font-size:12px;padding:2px;width:405px;}
div.listp select.second {border:1px solid #BDC7D8;font-family:Verdana,Arial,sans-serif;font-size:12px;padding:2px;width:120px;}
input {font-family:Verdana,Arial,sans-serif;font-size:12px;}
.note{display:block;font-size:11px;font-style:italic;padding-top:4px;}
.breadcrumb{color:#7b7b7b;font-size:11px;line-height:14px;padding:5px 0 5px 12px;font-family:'Verdana','Geneva',sans-serif;background-color:#fbf2f2;-moz-border-radius:4px; margin: 10px 0 0 4px;}
#headerbot{font-size:2px;height:0px;line-height:0px;margin:0 0 2px 5px;}
#container{margin:5px;max-width:1703px;min-width:1140px;padding:0;text-align:left;}
#lbox{float:left;width:143px;}
#mbox{margin-left:151px;margin-right:192px;}
#mboxfull{margin:7px 0 0 151px;}
#mboxfullpopup{margin-left:0px;}
.module{empty-cells:show;margin-bottom:8px;table-layout:fixed;}
#lbox .module{width:143px;margin:5px 0 0 5px;}
#mbox .module,#mboxfull .module{width:100%;min-width:1140px;}
#lbox .module .topl_g,#lbox .module .topl{width:135px;}
.topl_g,.topl,.topl_lrg,.boxmidsml,.boxmidlrg{overflow-x:hidden;}
.module .boxmid a.userbutton {color:#777777;text-decoration:none;border-bottom:1px solid #e5e5e5;}
.module .boxmid a.userbutton:hover {color:#000000;text-decoration:none;}
.module h1{font-family:Tahoma, Verdana, Arial, Sans-Serif;font-size:24px;font-weight:400;line-height:0px;padding:7px 0 5px 12px;zoom:1;}
.module h2{font-family:Verdana, Geneva, sans-serif;font-size:15px;line-height:21px;margin:5px 0 1px 10px;color:#333333}
.module h2.list{font-weight:400;line-height:16px;margin:0;}
.module h3.list{font-weight:400;line-height:16px;margin:0;}
.module .topr_g{font-size:1px;line-height:1px;width:8px;}
.module .topl,.module .topl_lrg{font-size:8px;height:5px;line-height:8px;}
.module .topl_lrg{height:auto;}
.module .topr{font-size:8px;height:5px;line-height:8px;width:8px;}
.module .botl{background-image:url(graphics/box_bot_lh.png);font-size:8px;height:8px;line-height:1px;}
.module .botr{background-image:url(graphics/box_bot_rh.png);font-size:8px;height:8px;line-height:1px;width:8px;}
.module .boxmid,.module .boxmidsml,.module .boxmidlrg{padding-left:5px;padding-top:5px;margin-bottom:10px;}
.module .boxmid h2.menuleft {background-color:#000000;color:#FFFFFF;width:120px;-moz-border-radius:4px;margin:0;padding:0 0 0 10px;font-size:12px;font-weight:normal;line-height:22px;float:left;padding-bottom:0px;margin-top:15px;}
.module .boxmid h2.mfirst {margin-top:0px;}
.module .boxmidr,.module .boxmidsmlr{background-image:url(graphics/box_mid_rh.png);background-repeat:repeat-y;width:8px;}
.module .boxmidlrg{padding:7px 2px 2px 6px;background:#fff url(graphics/demotext.gif);}
.thumbbox{background-color:#C2C29E;float:left;margin-right:5px;overflow:hidden;}
.thumb{overflow:hidden;text-align:center;}
.thumb img{margin: 10px;padding: 2px;border:1px #ffffff solid;}
.uname{font-size:11px;line-height:12px;padding:3px 3px 3px;text-align:center;}
.listdivi{background-color:transparent;clear:both;font-size:1px;height:0;line-height:1px;padding-top:1px;margin-bottom:1px;margin-top:1px;overflow:hidden;}
.ln{height:1px;}
.menudiv{clear:both;font-size:1px;height:0px;line-height:0px;margin:0px 0;overflow:hidden;width:0px;}
.userinfo .menudiv{margin:6px -5px;}
.list0,.list1{overflow:hidden;padding:7px;zoom:1;border-top:1px solid #E3DEB8;font-family:'Verdana','Geneva',sans-serif;}
.listfl{color:#676767;float:left;font-size:12px;line-height:17px;margin-right:2%;text-align:right;width:25%;}
.listfl0{color:#676767;float:left;font-size:12px;line-height:17px;margin-right:2%;text-align:right;min-width:53px;}
* html .listfl{height:10px;}
.listp{float:left;font-size:12px;line-height:17px;overflow:hidden;width:73%;}
.listp span.static {font-size:13px !important; color:#666666;}
span.edit { padding: 0 5px; }
* html .breadcrumb a{position:relative;}
* html .module h2 a{position:relative;}
* html .module h1 a{position:relative;}
* html #mbox{height:1%;margin-left:148px;margin-right:289px;}
* html #mboxfull{height:1%;margin-left:148px;}
* html #headerf{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='../graphics/header_bg1.png');}
* html #headerin{width:expression(document.body.clientWidth>920?"1720px":(document.body.clientWidth<920?"920px":"100%"));}
* html #container{width:expression(document.body.clientWidth>1120?"1120px":(document.body.clientWidth<920?"920px":"100%"));}
* html div.list0,* html div.list1{float:left;overflow:hidden;width:98%;}
* html .userinfo{width:128px;}
.userInfo .spacer {padding:5px 15px 1px 10px;}
.tabdivi{background-color:#86a1c4;margin:1px 1px 1px 1px;}
.list0{background-color:#F3F3EC;}
.list1{background-color:#E9E9DC;}
.module .boxmid,.module .boxmidlrg{background-color:#fff;}
.module .topl,.module .topl_lrg,.module .topl_g{background-image:url(graphics/box_top_lh.png);}
.module .topr,.module .topr_g{background-image:url(graphics/box_top_rh.png);}
* html .module .topl,* html .module .topl_lrg,* html .module .topl_g{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/box_top_lh.png');}
* html .module .topr,* html .module .topr_g{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/box_top_rh.png');}
* html .module .topr_lrg{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/box_top_rh_lrg.png');}
* html .module .botl{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/box_bot_lh.png');}
* html .module .botr{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/box_bot_rh.png');}
* html .module .boxmidr,* html .module .boxmidsmlr{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='../graphics/box_mid_rh.png');}
* html .button input {padding:10px  0 0 0 ;font-family:'Verdana','Geneva',sans-serif;}
* html .buttonLeft input {padding:2px  0 0 0 ;font-family:'Verdana','Geneva',sans-serif;}

/* footer */
.footer_l {background-image:url(graphics/footer_l.png);height:36px;margin-right:18px;padding-left:15px;}
.footer_r {background-image:url(graphics/footer_r.png);float:right;height:36px;width:18px;}
* html .footer_l{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/footer_l.png');}
* html .footer_r{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/footer_r.png');margin: 0px 0px 0px -19px;}
#footer {margin:2px 0 2px 151px;}
#footer .foottxt {color:#666666;font-size:10px;line-height:33px;}
/* help and message */
.helpImg {position:relative;float:left;padding-top:3px;}
.headerImage {margin:10px;}
* html .headerImage {margin:30px;padding-left: 100px;}
/* search */
#searchHeaderId h2{cursor: pointer;cursor: hand;}
.searchHeader {margin:10px 0 10px 0px;padding-left: 1px;font-weight:900;font-size:14px;text-align:left;height:30px;display:block;}
.searchHeader h2 {background-color:#bb0000;color:#FFFFFF;width:120px;-moz-border-radius:4px;margin:0 0 0 0;
	font-size:12px;
	font-weight:normal;
	padding:0 0 0 10px;
	line-height:22px;
	float:left;padding-bottom:0px;
	margin-top:15px;
}
.searchHeaderAdvanced h2{background-color:#bb0000;color:#FFFFFF;width:120px;-moz-border-radius:4px;margin:0 0 0 4px;
	font-size:12px;
	font-weight:normal;
	padding:0 0 0 10px;
	line-height:22px;
	float:left;padding-bottom:0px;
	margin-top:15px;
}
.searchHeaderImg {background:transparent url(graphics/search.gif) no-repeat 0 1px; width:25; height:40px;}

/* buttons */
.button input, .buttonLeft input {-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;-moz-border-radius-bottomleft:0.3em;-moz-border-radius-bottomright:0.3em;-moz-border-radius-topleft:0.3em;-moz-border-radius-topright:0.3em;border-bottom-left-radius: 0.3em 0.3em;border-bottom-right-radius: 0.3em 0.3em;border-top-left-radius: 0.3em 0.3em;border-top-right-radius: 0.3em 0.3em;background:#FFFFFF url(graphics/bgButton.gif) repeat-x scroll left 1px;border:1px solid #C6C6C6;color:#000000 !important;cursor:pointer;margin: 6px 1px 10px 2px;padding:2px 7px 2px;vertical-align:middle; white-space:nowrap; }
.button input:hover,  .buttonLeft input:hover{ border:1px solid #8c8c8c; -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; background:#FFFFFF url(graphics/bgButton_over.gif) repeat-x scroll left 1px; }
* html .button {background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/bgButton.gif');}
* html .buttonLeft {background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/bgButton.gif');}
.siteInfoButton input {
	-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;-moz-border-radius-bottomleft:0.3em;-moz-border-radius-bottomright:0.3em;-moz-border-radius-topleft:0.3em;-moz-border-radius-topright:0.3em;border-bottom-left-radius: 0.3em 0.3em;border-bottom-right-radius: 0.3em 0.3em;border-top-left-radius: 0.3em 0.3em;border-top-right-radius: 0.3em 0.3em;background:#FFFFFF url(graphics/bgButton.gif) repeat-x scroll left 1px;border:1px solid #C6C6C6;color:#000000 !important;cursor:pointer;margin: 2px 1px 10px 2px;padding:2px 7px 2px;vertical-align:middle; white-space:nowrap;
	position:absolute;right:0px;top:0;
}
.siteInfoButton input:hover {
	border:1px solid #8c8c8c; -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; background:#FFFFFF url(graphics/bgButton_over.gif) repeat-x scroll left 1px;
}
.commonButton button, .commonButton { color:#000000; font-family:Tahoma,Arial,Helvetica,sans-serif; font-size:11px; }

/* ticket */
.ticketSubject {color: #666666;font-size: 12px;}
.ticketAdmin {border:1px solid #BFBFBF;padding:0px;margin-bottom:10px;}
.ticketAdminHead {background-color:#CFCFCF;padding:3px 0px 3px 10px; margin-top:1px;}
.ticketAdminBody {background-color:#EFEFEF;padding:10px;}
.ticketAdminUser { border:1px solid #FFBFC6;padding:0px;margin-bottom:10px;}
.ticketAdminUserHead {background-color:#FFCFD4;padding:3px 0px 3px 10px; margin-top:1px;}
.ticketAdminUserBody {background-color:#FFEFF1;padding:10px;}
.ticketUser {border:1px solid #BFD3FF;padding:0px;margin-bottom:10px;}
.ticketUserHead {background-color:#CFDEFF;position:relative; height:33px;padding:3px 0px 3px 10px; margin-top:1px;}
.ticketUserBody {background-color:#EFF4FF;padding:10px;}
.ticketComment {border:1px solid #CFCFA8;padding:0px;margin-bottom:10px;margin-top:30px;}
.ticketCommentHead {background-color:#DFDFC3;padding:3px 0px 3px 10px; margin-top:1px;}
.ticketCommentBody {position:relative;background-color:#F3F3EC;padding:10px;}
.ticketCommentTextArea {float:left;width:99%;}
.ticketCommentTextArea textarea{width:100%;border:1px solid #CFCFA8;height:340px;}
.ticketNewfield {width:98.7%;border:1px solid #CFCFA8;height:30px;font-size:1.2em;color:#111111;margin:2px 5px 5px 5px;}
.ticketNewtextarea {width:98.7%;border:1px solid #CFCFA8;height:340px;font-size:1.2em;color:#111111;margin:2px 5px 5px 5px;}
.ticketCommentRecepient, .ticketCommentOnEmail {float:left;width:99%;padding: 10px 2px;}
.attachmentLink {background: none repeat scroll 0 0 #FFFFFF;margin: 10px;padding: 10px;border: 1px solid #D9E9F0;}
.attachmentLink ul {display: block; height:12px;}
.attachmentLink ul a {padding-left:20px;}
.attachmentLink li {background: url(graphics/attach.png) no-repeat top left;}
.attachment {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CFCFA8; margin-bottom: 1em; margin-right:.7em; padding: 3px;}
.attachment legend {color: #55473D;font-size: .9.5em;padding:0 3px;margin: 0 5px;}
.button input:link, .buttonLeft input:link {color: #000000;}
.button input:visited, .buttonLeft input:visited {color: #000000;}
.button input:hover, .buttonLeft input:hover {color:#313131;cursor: pointer;font-family:Verdana,Arial,sans-serif;}
.red {color: #C00000;}
.po input, .po select {border:1px solid #BDC7D8;color:#000000;cursor:pointer;display:inline;font-family:'Verdana','Arial','sans-serif';padding:2px;margin:2px}
.po select {width:99%}
.po textarea {border:1px solid #BDC7D8;color:#000000;cursor:pointer;display:inline;font-family:'Verdana','Arial','sans-serif';padding:2px;margin:2px;margin:auto;width:450px; height:100px;}
.po_attachment {padding-top:10px;width:500px;}
.sendEmailBox {padding:10px;background-color:#E9E9DC;}

/* accordion */
div.element { border: 2px solid #b9cbd3;background-color: #E9E9DC;padding:10px; width:97%;margin-top:10px; }

/* multiBox */
.MultiBoxContainer { position: absolute; display: none; z-index: 200;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-moz-border-radius-topleft:8px;
-moz-border-radius-topright:8px;
background-color:#FFFFFF;
border:8px solid #000000;
margin:auto;
padding:0px;
}
.MultiBoxLoading { background: url(graphics/spinner.gif) no-repeat center;background-color: #FFF; }
.MultiBoxContent { position: relative; width: 100%; height: 100%; overflow: hidden; padding:0px;}
.MultiBoxClose { position: absolute; top: -17px; right: -17px; background: url(graphics/close.png) no-repeat; width: 24px; height: 24px; cursor: pointer; z-index: 400;}
* html .MultiBoxClose {background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/close.png');}
.MultiBoxControlsContainer { overflow: hidden; height: 0px; position: relative; }
.MultiBoxControls { width: 100%; height: auto; position: relative; background-color: #000000; }
.MultiBoxPrevious { position: absolute; background: url(graphics/left.png) no-repeat; width: 24px; height: 24px; left: 0px; margin-top: 5px; cursor: pointer; }
* html .MultiBoxPrevious {background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/left.png');}
.MultiBoxNext { position: absolute; background: url(graphics/right.png) no-repeat; width: 24px; height: 24px; right: 0px; margin-top: 5px; cursor: pointer; }
* html .MultiBoxNext {background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/right.png');}
.MultiBoxNextDisabled { cursor: default; background: url(graphics/rightDisabled.png) no-repeat; }
* html .MultiBoxNextDisabled {background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/rightDisabled.png');}
.MultiBoxPreviousDisabled { cursor: default; background: url(graphics/leftDisabled.png) no-repeat; }
* html .MultiBoxPreviousDisabled {background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/leftDisabled.png');}
.MultiBoxTitle { position: relative; margin: 10px 0 0 35px; float: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFF; font-weight: bold; text-align: left; }
.MultiBoxNumber { position: relative; width: 50px; margin: 10px 35px 0 0; float: right; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #fff; text-align: right; }
.MultiBoxDescription { clear: left; position: relative; margin: 0 35px 0 35px; padding-top: 5px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #fff; text-align: left; }
#htmlElement { padding: 20px; background-color: #FF6633; width: auto; height: 100px; display: none;}

/* popup miniWindow */
.searchOp { width: 400px; height: 210px; }
.inventoryAdj, .addCreditBox, .applyCreditBox { width: 400px; }
.inventoryNote { width: 400px; height: 210px; }	
.miniWindowWrapper .header {height:40px;font-size:20px;background-color:#EFEFEF;color:#333333;text-align:center;}
.miniWindowWrapper fieldset	{margin-top:5px;border-top:0;border-left:0;border-right:0;border-bottom:1px solid #EEEEEE;}
.miniWindowWrapper fieldset input[type=text] {width:255px;border:1px solid #888888;padding:5px;-moz-border-radius:2px 2px 2px 2px;}
.miniWindowWrapper fieldset textarea {width:255px;max-width:255px;border:1px solid #888888;padding:5px;-moz-border-radius:2px 2px 2px 2px;height:100px;}	
.miniWindowWrapper label.AStitle {color:#333333;display:block;float:left;font-size:12px;width:110px;line-height:25px; }
.miniWindowWrapper label.AStitleLong {color:#333333;display:block;float:left;font-size:13px;padding-right:5px;}
.miniWindowWrapper label.radio {display:block;float:left;}
.miniWindowWrapper .options {float:left;display:block;width:260px;}	
.miniWindowWrapper .options label{clear:both;display:block;width:250px;}
.addCreditBox {height: 240px;}

/* required for subnav droplist */
.subNav { z-index: 20; position: absolute; visibility: hidden; height: 0px; margin:0; padding:0; }
.subNav ul{ list-style:none; margin: 0; padding: 0; min-width: 135px; }
.subNav ul li{ padding: 1px;  min-width: 135px; max-width:140px; cursor: pointer; color: #ffffff; background-color: #000000;-moz-border-radius:4px; }
* html .subNav ul li{ width: 135px; }
.subNav ul li:hover{ background-color:#BB0000;}
.subNav ul li a.userbutton {color:#ffffff;}
.subNav ul li a.userbutton:hover {color:#ffffff; text-decoration:none;}

/* PO Button */
.dropShipButton{ padding: 1px;  min-width: 135px; max-width:152px; cursor: pointer; color: #ffffff; background-color: #000000;-moz-border-radius:4px; margin-top: 15px; }
.dropShipButton a:hover{ background-color:#BB0000;}
.dropShipButton a{ display: block; color: #FFFFFF; font-family: Verdana,Arial,sans-serif; font-size: 10px; height: 20px; margin: -1px 0 0; padding: 3px 8px 0 8px; text-decoration: none; }
/* order tools menu */
.toolsArea .screenButtons .commonButton span { background:transparent none repeat scroll 0%; }
.toolsArea .commonButton span{ display:block; padding:8px 1px 4px 4px; margin:1px; text-align:left; vertical-align:top; width:83px; height:40px; float:left; }
* html .toolsArea .commonButton span{ margin:8px 1px 8px 4px; }
.screenButtons .commonButton { word-spacing:normal; }
.toolsArea .commonButton { cursor:pointer; text-align:center; }

/* giftcard */
.giftcard {background: url(graphics/blank_gift_card.png) no-repeat center; width:380px; height:243px}
.giftcard td {height:4px}
.code {margin-left:65px; padding-top:10px; font-weight:700; color:#983434; font-size:20px}
.fromTo {margin-left:160px; font-weight:700; color:#983434; font-size:12px}
.amount {padding:20px 40px 0px 120px; font-weight:700; line-height:25px; color:#333333; font-size:52px}

/* ajax sku */
img .spinner {float: left; clear:right; background-image:url(graphics/spinner.gif); width:20px; height:16px; }
input.autocompleter-loading { background:url(graphics/spinner.gif) no-repeat right 50%; }
ul.autocompleter-choices { position:absolute; margin:0; padding:0; list-style:none; border:1px solid #eee; background-color:white; border-right-color:#ddd;
	border-bottom-color:#ddd; text-align:left; font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; z-index:50;overflow:hidden; }
ul.autocompleter-choices li { position:relative; padding:0.2em 1.5em 0.2em 1em; display:block; margin-top:-2px; cursor:pointer; font-weight:normal;
	font-size:.8em; line-height:1.5em; width:100%;overflow:hidden; }
ul.autocompleter-choices li.autocompleter-selected { background-color:#444; color:#fff;}
ul.autocompleter-choices span.autocompleter-queried { font-weight:bold; }
ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried { color:#9FCFFF; }
a.extraInfo { position:relative;top:0; left:14px;padding:1px 2px; font-size:0.9em; color:#888; }

/* Advanced Search box */
#sideBar{ position: relative; width: auto; height: 0px; top:-7px; right:-3px;}
#sideBarTab{ position: relative;  height:42px; width:13px; margin: 1px -13px 0px 1px;}
#sideBarTab img{ border:0px solid #FFFFFF; float: left; margin-top: 4px !important;}
#sideBarContents{ position: relative; top: 0px; left:5px;display: none; z-index:10;}
#sideBarContentsInner{ width:140px; }

/* Report */
.reportItems { border-color:#eeeeee; border-style:solid; border-width:0 1px; position:relative;height: 340px;}
.reportItems table { clear:both; font-size:85%; height:100%; width:100%; }
.reportItems table th, .reportItems table td { padding:0px; text-align:right; }
.reportItems table th { background:#E5E5E5 none repeat scroll 0 0; border-bottom:1px solid #BBBBBB; white-space:nowrap; width:25%; }
.reportItems table th.text { text-align:left; width:50%;  }
.reportItems table td { background:#F9F9F9 none repeat scroll 0 0; border-top:1px solid #BBBBBB; }
.reportItems table td.text { text-align:left; }
.salesRepReportHead{ margin:2px; padding:2px;border-left:1px solid #aaaaaa;border-right:1px solid #aaaaaa;font-size: 11px; color: #ffffff; font-weight: bold; line-height:11px;}
.salesRepReport{ margin:2px; padding:2px;border-left:1px solid #aaaaaa;border-right:1px solid #aaaaaa;border-bottom:1px solid #aaaaaa;font-size: 11px; color: #333333; font-weight: bold; line-height:11px; width: 20px;}
div.tableContainer { clear: both; border: 1px solid #eeeeee; height: 395px; overflow: auto; width: 100%; }
html>body div.tableContainer { overflow: hidden; width: 100%; }
div.tableContainer table { float: left; width: 100%; }
html>body div.tableContainer table { width: 100%; }
thead.fixedHeader tr { position: relative }
html>body thead.fixedHeader tr { display: block }
thead.fixedHeader th { background: #C96; border-left: 1px solid #EB8; border-right: 1px solid #B74; border-top: 1px solid #EB8; font-weight: normal; padding: 2px 1px; text-align: left }
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited { color: #FFF; display: block; text-decoration: none; width: 100% }
thead.fixedHeader a:hover { color: #FFF; display: block; text-decoration: underline; width: 100% }
html>body tbody.scrollContent { display: block; height: 362px; overflow: auto; width: 100% }
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	background: #FFF;
	border-bottom: none;
	border-left: none; border-right: 1px solid #CCC; border-top: 1px solid #DDD; padding: 2px 1px; }
tbody.scrollContent tr.alternateRow td {
	background: #EEE;
	border-bottom: none;
	border-left: none; border-right: 1px solid #CCC; border-top: 1px solid #DDD; padding: 2px 1px; }
html>body thead.fixedHeader th { width: 200px; }
html>body thead.fixedHeader th + th { width: 240px; }
html>body thead.fixedHeader th + th + th { width: 316px; }
html>body thead.fixedHeader th + th + th + th { width: 316px; }
html>body tbody.scrollContent td { width: 200px; }
html>body tbody.scrollContent td + td { width: 240px; }
html>body tbody.scrollContent td + td + td { width: 316px; }
html>body tbody.scrollContent td + td + td + td{ width: 316px; }	

/* Based partially on Matthew Carroll's keyboard accessible flavor of Suckerfish 
 * Dropdowns by Patrick Griffiths and Dan Webb. 
 * http://carroll.org.uk/sandbox/suckerfish/bones2.html
 */
#nav a, #subMenusContainer a{
	text-decoration:none;
	display:block;
	background-color:#FFFFFF;
	color:#666666;
	font-size:11px;
	height:17px;
	line-height:13px;
	width:124px;
}

/* Just main menu links --[for non-javascript users this applies to submenu links as well]*/
#nav a{margin:0;}

/* Just sub menu links */
#subMenusContainer a, #nav li li a{text-align:left;border-top:1px solid #E5E5E5;border-right:1px solid #E5E5E5;width:122px;}

/* All menu links on hover or focus */
#nav a:hover, 
#nav a:focus, 
#subMenusContainer a:hover, 
#subMenusContainer a:focus, 
#nav a.mainMenuParentBtnFocused, 
#subMenusContainer a.subMenuParentBtnFocused{background-color:#D9E6F7 ;color:#FFF;}

/* sub menu links on hover or focus */
#subMenusContainer a:hover, 
#subMenusContainer a:focus, 
#nav a.mainMenuParentBtnFocused, 
#subMenusContainer a.subMenuParentBtnFocused,
#nav li a:hover,
#nav li a:focus{background-color:#FFFFFF ;color:#000000;}

/* Parent Sub Menu Links ---[javascript users only]*/
.subMenuParentBtn{ background: url(graphics/arrow_right.gif) right center no-repeat;  }

/* Parent Sub Menu Links on hover or focus ---[javascript users only]*/
.subMenuParentBtnFocused{ background: url(graphics/arrow_right_over.gif) right center no-repeat;  }

/* Parent Main Menu Links ---[javascript users only]*/
.mainMenuParentBtn{	background: url(graphics/arrow_right.gif) right center no-repeat; }

/* Parent Main Menu Links on hover or focus ---[javascript users only]*/
.mainMenuParentBtnFocused{	background: url(graphics/arrow_right_over.gif) right center no-repeat; }

/* ----[ OLs ULs, LIs, and DIVs ]----*/
/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.smOW{ 
	display:none; 
	position: absolute; 
	overflow:hidden; 
	/*the 2px left & right padding lets you have a 1px border 
	  on the ul or ol inside since overflow is set to hidden*/
	padding:0 2px;
	margin:0 0 0 -2px;
}

/* All submenu OLs and ULs */
#nav ol, #nav ul, #subMenusContainer ul, #subMenusContainer ol {	
	/*border around submenu goes here*/
	/*-moz-border-radius: 8px;*/
	/*-webkit-border-radius: 8px;*/
	background:#fff;	
	border:1px solid #D9E6F7; 
	left:0;
}

/* All ULs and OLs */
#nav, #nav ul, #nav ol, #subMenusContainer ul, #subMenusContainer ol { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1em;
	float: left;
    width:128px;
}

/* Action */
.action-hover {border-radius:3px;-webkit-border-radius: 3px;-webkit-box-orient: vertical;-webkit-transition: 200ms -webkit-transform;background: white;box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);color: #333;display: -webkit-box;min-width: 180px;padding: 0;position:absolute;font-family: 'Lucida Grande', sans-serif;font-size: 75%;padding-bottom:8px;}
ul.round {margin: 0;padding: 0;list-style-type: none;width:158px;}
ul.task {width:99.9% !important;}
ul.task div {color: gray !important;}
ul.round .menudiv {background-color:gray;clear:both;font-size:1px;height:3px;line-height:3px;margin:4px 0;overflow:hidden;}
ul.round li {padding: 4px 0;width:158px;}
ul.round li.view {padding: 4px 0;width:99.9% !important;}

ul.round li.action-header {margin:.6em auto;padding:2px 0 0 0;}
ul.round li.action-header .name {font-weight:bold;}        
ul.round li a {color: #333;display: block;height: 10px;padding: 4px 0 4px 14px;text-align:left;text-decoration: none;font-weight:bold;width:160px;font-family:'Lucida Grande',Arial,sans-serif;font-size:11px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;padding:2px 2px 2px 2px;margin:0;position:relative;vertical-align:middle;}
ul.round li span {color: #333;display: block;height: 24px;padding: 4px 0 4px 14px;text-align:left;text-decoration: none;font-weight:bold;width:160px;font-family:'Lucida Grande',Arial,sans-serif;font-size:11px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;padding:2px 2px 2px 2px;margin:0; vertical-align:middle;}
ul.round li.link {margin-top:0px;}
ul.round li.link:hover {background-color:#eaeaea;}
ul.round a:hover {text-decoration: underline;}
div.scroll {height: 600px;width: 990px;overflow: auto;border: 1px solid #E3DEB8;background-color: #ffffff;padding: 8px;margin:auto;}

/* stylesheet */
.titleBox {height:25px;background:transparent url(graphics/option_bg.gif) repeat-x;border:1px solid #111111;cursor: pointer;cursor: hand;}
.optionBox {-moz-border-radius: 4px 4px 4px 4px;background-color: #FBF2F2;color: #666666;font-family: 'Verdana','Geneva',sans-serif;font-size: 11px;line-height: 14px;margin: 10px 0 0 4px;padding: 5px 0 5px 0px;}
.optionBox .titlePrivilege {color: #666666;}	
.stretchtoggle {height:25px;background:transparent url(graphics/option_bg.gif) repeat-x;border:1px solid #111111;cursor: pointer;cursor: hand;}
.titleBoxRed {height:25px;background:transparent url(graphics/titleBoxRed.gif);border:1px solid #FF4540;}
#privilege {border-left:1px solid #FFCC33;border-right:1px solid #FFCC33;border-bottom:1px solid #FFCC33;} 
#accessDeny {border-left:1px solid #FF4545;border-right:1px solid #FF4545;border-bottom:1px solid #FF4545;} 	
.titlePrivilege {margin-top: 0px;margin-left: 0px;padding-left: 12px;color: #ffffff;font-size: 10px;font-weight: 700;}
.tdBorder {border:1px solid #fff;}
.ownerName {text-align:left;margin-top: 10px;margin-bottom: 10px;margin-left: 10px;color: #555f88;font-size: 12px;font-weight: 700;	}

/* header */	
.username {font-size: 8pt;font-weight: bold;color:#eeeeee;font-size:11px;line-height:14px;margin-bottom:3px;overflow:hidden;}	
.role {font-size: 8pt;color:#eeeeee;}
a.logout {font-size: 8pt;color:#eeeeee;}
a.logout:hover {font-size: 8pt;color:#FFFFFF;}
.signout {color:#000000;font-size: 8pt;text-decoration: none;}
.signout:hover {text-decoration: underline;}
.listingsHdr4 {
	color: #FFFFFF;
	font-weight: normal;
	background: url(graphics/head-4x50.gif) repeat-x ;
	line-height:0px !important;
	height:50px !important;
	margin:0 2px 0 2px;
	text-align:right;
	padding:0;
	}
.headerSelected a:hover{color:#FFFFFF;}
.headerSelectedLink {font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF;text-decoration: none;white-space: nowrap;}
.headerOff {font-weight: 700;line-height: 11px;font-family:Verdana,Arial,sans-serif;font-size:11px;}
.headerOffLink {font-size: 11px;font-family: Verdana, Arial, Helvetica, sans-serif;color: #FFFFFF;text-decoration: none;white-space: nowrap;height:31px;}
.flag {margin:10px 0 5px 0;width:100px;float:right;}
.frontend {height:13px;line-height:13px;float:left;font-size:10px;}
.frontend a{color:#eeeeee;text-decoration:none;}
.frontend a:hover {color:#ffffff;}
.logoheader {color: #000000;background: url(graphics/bgTop.gif) repeat-x ;}
.headerWebName {font-weight:1000;text-align:left;margin-left:8px;}
.headerWebName a{font-weight:normal;color: #eeeeee;}	
.headerWebName a:hover{font-weight:normal;color: #FFFFFF;text-decoration:none;}
.headerWebImage img{height:40px;}
#header {position:relative;min-width:1290px;}
#header_l {background-image:url(graphics/menu-4x34.gif);height:33px;margin:0;padding:0;}
ul.mainmenu, ul.submenu {color: #7F4500 !important;}
ul.mainmenu {margin: 0; border: 0 none; padding: 0 0 0 5px; width: auto;list-style: none;height: 25px;}
ul.mainmenu li {margin: 0;padding: 0 0 0 1px;float: left;display: inline;list-style: none;position: relative;height: 30px;line-height:30px;}
ul.mainmenu ul.submenu {margin: 0 0 0 0;padding: 0 0 6px 0;width: 14.17em;list-style: none;display: none;position: absolute;top: 33px;left: 0;z-index:100;background:url("graphics/dropdown-bottom-170x6.png") no-repeat scroll 0 100%;}
ul.mainmenu ul.language { width:78px !important;background:url("graphics/dropdown-bottom-170x6.png") no-repeat scroll 0 100% ;}

ul.mainmenu ul li {float:none;display: block !important;display: inline;height:25px;vertical-align:middle;}
ul.mainmenu li.main a  {float: left;}
ul.mainmenu li.main {background:url("graphics/separator-2x34.gif") no-repeat scroll 100% 7px transparent;float:left;position:relative;}
ul.mainmenu li.last {background:url("graphics/noseperator.png") no-repeat scroll 100% 50% transparent;float:right;position:relative;margin-right:5px;}	
ul.mainmenu li.main a strong {display:block;font-size:12px;font-weight:normal;padding-left:2px;padding-right:2px;line-height:24px;height:29px;}
ul.mainmenu a:hover {color: #ffffff;text-decoration: none;}
ul.mainmenu li:hover li a,
ul.mainmenu li.iehover li a {float: none;bottom:0px;}
ul.mainmenu ul ul {display: none;position: absolute;top: 0;left: 139px;}
ul.mainmenu li.main:hover {background:url("graphics/menu-hoverleft-10x30.gif") no-repeat scroll 0 4px transparent;line-height:26px;height:33px;}
ul.mainmenu li.main strong{line-height:1.5em;float:left;padding-right:5px;margin-left:2px;margin-right:5px;margin-top: 4px;}
ul.mainmenu li.main:hover strong {background:url("graphics/menu-hoverright-200x30.gif") no-repeat scroll 100% 0 transparent;padding-right:5px;padding-left:2px;margin-left:2px;margin-right:2px;float:left;}
ul.mainmenu li:hover ul ul,
ul.mainmenu li.iehover ul ul {display: none;}
ul.mainmenu li:hover ul,
ul.mainmenu ul li:hover ul {display: block;}
ul.mainmenu li.iehover ul,
ul.mainmenu ul li.iehover ul {display: block;margin:0;padding:0;}
ul.submenu li a{
  vertical-align:middle;
  line-height:24px;
  border-bottom: 1px dotted #CF4D4D;
  padding: 0px 5px 0px 5px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  background: #bb2323;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}	
ul.submenu li {background-color:#bb2323;display:block;padding:0 1.1em;clear:both;}
li.persistHover,
a.persistHover{background: #EF9833;color: #FFF;}
ul.login {float:right;}

/* menu */	
.menu {padding-top: 3px;margin:0px 15px 0px 15px;width: auto;float: right;}
.menuSpace {clear:both;}
.menuLink {font-size: 8pt;font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000;text-decoration: none;white-space: nowrap;}
.menuLink:hover {color: #000000;}
.menuSelected {background-color: #FFFFFF;border-top: 1px solid #4F7AA4;border-bottom: 1px solid #FFFFFF;}
.menuSelected2 {background-color: #EEEEEE;border-top: 1px solid #4F7AA4;border-bottom: 1px solid #EEEEEE;}
.menuSelectedLink {font-size: 8pt;font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000;text-decoration: none;white-space: nowrap;}	
.submenuLink {font-size: 8pt;font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000;text-decoration: none;white-space: nowrap;padding-left:5px;background-color: #bb2323;}

/* navigation */
.navigation {font-size: 11px;font-family: Verdana, Arial, Helvetica, sans-serif;width: 100%;}

/* form */
.form {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	margin-left:10px;
	}
.formHdr {
	border: 1px solid #919191;
	color: #666666;
	background: #eeeeee;
	}
.emptyList {
	background: #FFFFFF;	
	}
.formName {
	white-space: nowrap;
	width: 150px;
	text-align: right;
	padding-right: 10px;
	}
.formNameReqd {
	font-weight: bold;
	white-space: nowrap;
	width: 150px;
	text-align: right;
	padding-right: 10px;
	}
.textfield
{
    border:1px solid #BDC7D8;
    padding:2px;
    width: 400px;
}
.textfield20
{
    border:1px solid #BDC7D8;
    padding:2px;
    width: 20px;
}
.textfield50
{
    border:1px solid #BDC7D8;
    padding:2px;
    width: 50px;
}
.textfield75
{
    border:1px solid #BDC7D8;
    padding:2px;
    width: 75px;
}
.textfield120
{
    border:1px solid #BDC7D8;
    padding:2px;
    width: 120px;
}
.textfield250
{
    border:1px solid #BDC7D8;
    padding:2px;
    width: 250px !important;
}
.textfield500
{
    border:1px solid #BDC7D8;
    padding:2px;
    width: 500px;
}
.textArea300x400 {
	border:1px solid #BDC7D8;
    padding:2px;
	width:300px;
	height:100px;
}
.textArea700x400 {
	border:1px solid #BDC7D8;
    padding:2px;
	width:700px;
	height:400px;
	}
.arrowImageRight{
	height: 15px;
	width: 100%;
	margin-top: -20px;
	margin-left: 5px; 
	//background:transparent url('graphics/expand.gif') no-repeat;
	cursor: pointer;
	float: right;
	position: relative;
	}
div.protectedCheckBoxWrapper {
	display: block; width:450px;padding-top:1px;
	height:90px; overflow-y: scroll; background-color:#fff;border: 2px solid #dddddd;
}
div.protectedCheckBoxWrapper ul li{
	float: left; width:415px; padding:2px;
}
div.protectedCheckBoxWrapper .protectedLabel {
	padding:0 2px;
}
div.protectedCheckBoxWrapper .protectedLabelWrapper {
	padding:0 10px;
}
table.specialInst .textfield {
	width: 100%;
	margin:1px 4px 1px 1px;
	}
table.notifyCustomerMessage .notifyMessageBox {
	width: 100%;
	margin:1px;
	}	
table.updateStatus #comments, table.specialInst #specialInstruction{
	width: 100%;
	margin:1px;
	}
.updateStatus, .notifyCustomerMessage, .specialInst {
	width: 100%;
	margin:1px;
	}
.updateStatus td label {
	font-size:12px;
	}
.updateStatus input[type=text] {
	border:1px solid #BDC7D8;
	font-family:Verdana,Arial,sans-serif;
	font-size:12px;
	padding:2px;
	width:257px;
	}	
.updateStatus select {
	border:1px solid #BDC7D8;
	font-family:Verdana,Arial,sans-serif;
	font-size:12px;
	padding:2px;
	width:257px;
	}	
.updateStatus textarea, .specialInst textarea{
	border:1px solid #BDC7D8;
	font-family:Verdana,Arial,sans-serif;
	font-size:12px;
	padding:2px;
	width:700px;
	height:200px;
	}
		
.arrowImageDown{
	height: 15px;
	width: 100%;
	margin-top: -20px;
	margin-left: 5px; 
	background:transparent url('graphics/collapse.gif') no-repeat;
	cursor: pointer;
	float: right;
	position: relative;
    }	
.accordionExpand {
	height: 15px;
	width: 100%;
	margin-top: -5px;
	margin-left: 7px; 
	background:transparent url('graphics/expand.gif') no-repeat;
	cursor: pointer;
	float: left;
	position: relative;
	}  
.accordionCollapse {
	height: 15px;
	width: 100%;
	margin-top: -5px;
	margin-left: 7px; 
	background:transparent url('graphics/collapse.gif') no-repeat;
	cursor: pointer;
	float: left;
	position: relative;
	}      
.tabsliderDown{
	height: 15px;
	width: 100%;
	margin-left: 4px;
	margin-bottom: 10px; 
	background:transparent url('graphics/tabSliderDown.png') no-repeat;
	cursor: pointer;
	float: right;
	position: relative;
	}
* html .tabsliderDown{
	background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/tabSliderDown.png');
	}   
 		
.tabsliderUp{
	height: 15px;
	width: 100%;
	margin-left: 4px; 
	margin-bottom: 10px; 
	background:transparent url('graphics/tabSliderUp.png') no-repeat;
	cursor: pointer;
	float: right;
	position: relative;
    }
* html .tabsliderUp{
	background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='../graphics/tabSliderUp.png');
	}  
.ConfigNavDialogTitle1Container{
	margin-right: 4px;
	margin-left: 4px;
	background-color: #E9ECF6;
	border-right: #D8DEf0 4px solid;
	border-bottom: #D8DEf0 1px solid;
	border-left: #D8DEf0 4px solid;
}       
.ConfigNavDialogTitle1 {
	background-image: url(graphics/nav_bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-left: 10px;
	padding-top: 2px;
	margin-top:-2px;
	height: 19px;
	border: #D8DEE7 1px solid;

}
.ConfigNavDialogTitle2Container{
	margin-right: 4px;
	margin-left: 4px;
	background-color: #FFDA9E;
	border-right: #FFAA20 4px solid;
	border-bottom: #FFAA20 1px solid;
	border-left: #FFAA20 4px solid;
}       
.ConfigNavDialogTitle2 {
	background-image: url(graphics/aem_nav_bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-left: 10px;
	padding-top: 2px;
	margin-top:0px;
	height: 19px;
	border: #FFAA20 1px solid;}
	
.ConfigNavDialogTitle1Container .title{
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #000000;
	padding-left:10px;
	padding-top:10px	}	
	
.ConfigNavDialogTitle2Container .title{
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #000000;
	padding-left:10px;
	padding-top:10px	}	
		
	
.ConfigNavDialogTitle1Container .form{
	margin-top:1em;
	margin-bottom:1em;
    margin-left:2em; 
    padding-left:15em;
    background: #E9ECF6	}
    
.ConfigNavDialogTitle2Container .form{
	margin-top:1em;
	margin-bottom:1em;
    margin-left:2em; 
    padding-left:15em;
    background: #FFDA9E	}	
    
	
.ConfigNavDialogTitle1Container  label, .ConfigNavDialogTitle2Container  label{
	width:25em;
    float:left; 
    margin-left:-12em; 
    margin-top:0.4em; 
    font-size:11px;
    color: #4c4c4c 	}

div.form {   
	margin-top:1em;
    margin-left:2em; 
    padding-left:15em; }

.searchBoxLeft {font-family:'Verdana','Geneva',sans-serif;font-weight:700;background-color:#FBF2F2;border:1px #FFDFDF solid;color:#314973;display:block;margin:-3px 0 0;padding-left:4px;padding-top:3px;}
.searchBoxLeft input {position: relative;float:left;border:1px solid #aaa;margin:0 0 5px 0;color:#000;font-size:11px;font-weight:700;width:95%}
.searchBoxLeft select {position: relative;float:left;border:1px solid #aaa;margin:0 0 5px 0;color:#000;font-size:10px;font-weight:700;width:117px}
.searchBoxLeft p {font-weight:400;font-size:11px;color: #4c4c4c;margin:0 0 1px 0;}
.searchBoxLeft div.search2{width:118px;}
.searchBoxLeft div.button{width:122px;}

.searchBoxLeftAS {font-family:'Verdana','Geneva',sans-serif;font-weight:700;background-color:#FBF2F2;border:1px #FFDFDF solid;color:#314973;display:block;margin:-7px 0 0;padding-left:1px;padding-top:3px;}
.searchBoxLeftAS input {position: relative;float:left;border:1px solid #aaa;margin:0 0 5px 0;color:#000;font-size:11px;font-weight:700}
.searchBoxLeftAS select {position: relative;float:left;border:1px solid #aaa;margin:0 0 5px 0;color:#000;font-size:10px;font-weight:700;width:117px}
.searchBoxLeftAS p {font-weight:400;font-size:12px;color: #4c4c4c;margin:0 3px 1px 0; width:135px;}
.advancedSearch {margin-left: 2px;}
.advancedSearchDateInterval {color:#4C4C4C; font-size:11px; font-weight:400; margin:0pt 0pt 1px;}
.extraFieldSearch {width: 117px;font-weight:400;font-size:12px;color:#4C4C4C;margin:10px 0 2px 0;border:0px !important; background-color:#fbf2f2}

.popupInputBox {font-family:'Verdana','Geneva',sans-serif;background-color:#EFF7FF;border:1px solid #D9E6F7;width: 350px;margin:10px;padding:10px;position: relative;display:none} 
.popupInputBox input {border:1px solid #aaa;margin:0 0 5px 0;color:#000;font-size:11px;}
.popupInputBox select {border:1px solid #aaa;margin:0 0 5px 0;color:#000;font-size:10px;width:115px}
.popupInputBox p {font-weight:400;font-size:12px;color: #4c4c4c;margin:0 0 1px 0;}

.inputBox {font-family:'Verdana','Geneva',sans-serif;background-color:#EFF7FF;border:1px solid #D9E6F7;width: 350px;margin:10px 0 5px 10px;padding:2px;position: relative;} 
.inputBox input {border:1px solid #aaa;margin:0 0 5px 0;color:#000;font-size:11px;}
.inputBox select {border:1px solid #aaa;margin:0 0 5px 0;color:#000;font-size:10px;width:115px}
.inputBox p {font-weight:400;font-size:12px;color: #4c4c4c;margin:0 0 1px 0;}

.calendarImage { float:relative; }
	
/* listings */
.listings {
	font-size: 11px;
	margin:0;
	padding:0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	width: 100%;
	height:5px;
}
.listingsHdr1 {
	font-size: 12px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #FFFFFF;
}
.listingsHdr2 {
	color: #000000;
	font-weight: bold;
	background: url(graphics/list_bg.gif) repeat-x ;
	line-height:20px;
	height:25px;
}
.listingsHdr3 {
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	padding-right: 5px;
	line-height:11px;
	white-space:nowrap !important;
}
.hdrLink,  hdrLink:hover{
	color: #FFFFFF !important;
}	
.indexCol {
	color: #666666;
	text-align: right;
	width: 30px;
	margin-left: 5px;
	margin-right: 5px;
}
.enabledCol {
	width: 20px;
	color: #ffffff;
}
.idCol {
	text-align: center;	
}
.nameCol {
	padding-left: 10px;
	text-align: left;
}
.numberCol {
	text-align: right;
	padding-right:10px !important;
}
div.productThumbWrapper {
	width: 30px;
	height:30px;
	overflow: hidden;
}
.productThumb {
	width: 30px;
}
.nameLink {
	color: #003366;
	text-decoration: none;
}
.cancelLink {
	color: #FF0000;
	text-decoration: none;
}
.nameLinkInactive {
	color: #888888;
	text-decoration: none;
}	
.nameLink:hover {
	text-decoration: underline;
}
.rankCol {
	text-align: center;
}
.rankField {
	text-align: right;
	border:1px solid #BDC7D8;
    padding:2px;
    width: 50px;
}
.regionField {
	text-align: right;
	border:1px solid #BDC7D8;
    padding:2px;
    width: 150px;
}
.contentField {
	border:1px solid #BDC7D8;
    padding:2px;
    width: 300px;
}	
.row0 {
	background: #FFFFFF}
.row1 {
	background: #fff9f9;}
.rowError {
	background:#FFCCCC;}
.rowOver {
	background: #FFFFCC}
.rowOff {
	background: #FFCCCC}
.rowSelected {
	background: #eeeeee;
	border-top: #919191 1px solid;
}

/*Metric Report*/
.bold {
	font-weight: bold;
	}
.align{
	text-align: right  !important;
	}
.colorStyle {
	background-color: #BFBFBF;
	padding: 5px;
	}
	
.countCol {
	text-align: center;	}
	
/* categories */
.categoryCheckBoxCol {
	width: 10px;}
.categoryIdCol {
	text-align: center;
	width: 20px;
}
.categorySubCountCol {
	text-align: left;}
.categorySubCountLink {
	text-decoration: none;
	color: #FF6633;	
}
.categorySubCountLink:hover {
	text-decoration: underline;}
.categoryProductCountCol {
	text-align: left;}
.categoryProductCountLink {
	text-decoration: none;
	color: #FF6633;	
}
.categoryProductCountLink:hover {
	text-decoration: underline;}

/* items */
.itemCheckBoxCol {
	width: 10px
}
.itemSkuCol {
	padding-left: 10px;	
}
.qtyBreak {
	text-align: right;
}
.pageShowing {
	color: #666666;
	font-size:10px;
	font-weight: bold;
	font-family:'Verdana','Geneva',sans-serif;	
}
.pageNavi {
	text-align: right;	
	color: #666666;
	font-size:10px;
	font-weight: bold;
	padding-bottom: 5px;	
	font-family:'Verdana','Geneva',sans-serif;
}
.pageNaviDead {
	color: #999999;
}
.pageNaviLink {
    color: #FF6633;
	text-decoration: underline
}
.pageSize {
	padding-top: 5px;
	text-align: right;	
}

/* customers */
.custInfo {
	display: none;
	padding-left:25px;
	padding-bottom:10px;
}
.custdetails {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.custdetailsTitle {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
	padding-right:10px;
}
.custdetailsValue {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
	padding-right:10px;
}	
.countLink {
	text-decoration: none;
	color: #FF6633;	
}
.countLinkOff {
	text-decoration: none;
	color: #FF6633;	
}
.countLink:hover {
	text-decoration: underline;
}
.fieldset {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	overflow:auto;
	border: 1px solid #919191;
	margin: 10px;
}
.uploadError {
	background:#FFCCCC;
	color:#C00000;
	border:1px solid #C00000;
	padding:5px;
	margin:2px;
}
.message, .error {
	color:#C00000;
	padding:1px 0 0 20px;
	margin:1px 0 0 10px;
	font-weight:700;
	background:transparent url(graphics/error.gif) no-repeat  left 0px;
}
.message2 {
	color:#C00000;
	padding:1px 0 0 20px;
	margin:1px 0 0 10px;
	font-weight:700;
}
.sup {
	color: #FF0000;
}

/* layout */
.layoutCell {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	display: block;
	text-decoration: none;
	text-align: center;
	padding-left:10px;
	padding-right:10px;
	font-size:10pt;
	color: #666666;
	background:#FFFFFF;
	border: #999999 1px solid;
	height: 100%;
}
.layoutCell:hover {
	background:#CCCCCC;
	color:#FFFFFF;
}
.layoutCellEmpty {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	display: block;
	text-decoration: none;
	text-align: center;
	padding-left:10px;
	padding-right:10px;
	font-size:10pt;
	color: #666666;
	background:#FFFFFF;
	border: #999999 1px dashed;
	height: 100%;
}
.layoutCellEmpty:hover {
	background:#CCCCCC;
	color:#FFFFFF;
}
.layoutCellOff {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	text-decoration: none;
	text-align: center;
	padding-left:10px;
	padding-right:10px;
	font-size:10pt;
	border: 1px solid #919191;
	color: #666666;
	background:#FFFFFF;
}
.layoutUpdated {
	color: #FF0000;
	font-size: 8pt;
}
.htmleditor {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0000FF;
	text-decoration: none;
}
.htmleditor:hover {
	text-decoration: underline;
}
	
/* faq */
.faqGroupHdr {
	color: #666666;
	background: #ebebeb;
}
.faqGroupLink {
	padding-left:5px;
	font-size:8pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.faqGroupLink:hover {
	text-decoration: underline;
}
	
/* import */
.importHdr {
	font-size:8pt;
	border-bottom: 1px solid #666666;
	color: #666666;
	padding-top: 10px;
	padding-bottom: 5px;
	white-space: nowrap;
	padding-left: 10px;
	padding-right: 10px;
}
.importIndexCol {
	color: #C00000;
	text-align: right;
	width: 20px;
	padding-left: 5px;
	padding-right: 5px;
}
.import {
	color: #666666;
	font-size: 7pt;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.inlineTip { color:#BB0000;font-size:10px; }
/* MooTools.Tips */
.tip { width:139px; }
.tip-top {
	color: #fff;
	width: 139px;
	z-index: 13000;
}		 
.tip-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #F46227;
	padding: 8px 8px 4px;
	background: url(graphics/toolTipBg.png) top left;
}
.tip-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: url(graphics/toolTipBg.png) bottom right;
	color:#fff;
} 
.note_list {
	float:left;color:red;font-weight:700;
} 
.helpNote p, .helpNote li {   
	font-size:10px;
    color:#A33030; 
    margin-top:.2em;
    margin-left: .3em; 
    margin-bottom: .3em   }	
    
* html a.userbutton { height:23px;}
.userbutton img {float:left;margin-right:5px;}
a.userbutton {font-family:Verdana,Arial,sans-serif;display:block;font-size:10px;height:17px;-height:14px;margin:-1px 0pt 0pt;padding-left:8px;padding-top:3px;}
.usericon, .userbutton {overflow:hidden;}

/*  form tab */
.tab-wrapper{padding:0px 6px 0px 8px;border:2px solid #eee;}
* html .tab-wrapper{padding:0px 6px 0px 8px;border-top:2px solid #eee;border-bottom:0px solid #eee;border-left:0px solid #eee;border-right:0px solid #eee;}
.tab-menu{list-style:none;font-family:'Verdana','Geneva',sans-serif;padding:2px 0 0 11px;clear:both;line-height:17px;font-size:12px;}
.tab-menu li{display:inline;margin:5px 1px 0 1px;background:transparent url(graphics/tab_l.png) no-repeat scroll left top;float:left;}	
.tab-menu li a{
	padding:1px 6px 1px 2px;margin:0px 0px 0px 3px;background-color:#f5f5f5;color:#8C8C8C;font-weight:normal;text-decoration:none;
	background:transparent url(graphics/tab_r.png) no-repeat scroll right top;display:block;float:left;line-height:22px;
}
.tab-menu li a:hover,
.tab-menu li a:focus{color:#FF0000;}
.tab-menu li.tab-selected a{color:#000;padding-left:2px;}
.customerPreValueField, .productPreValueField{width: 300px;}
.productFieldTitle {width:40px;font-size:10px;color:#333333;}
.totals{-moz-border-radius: 4px 4px 4px 4px;background-color: #FBF2F2; color: #7B7B7B;  font-family: 'Verdana','Geneva',sans-serif;font-size: 11px;line-height: 14px;margin: 10px 0 0 4px;padding: 5px 0 5px 12px;}
.totals td{padding: 5px;}
.productBatchTool {background: url(graphics/bkBox.png) no-repeat scroll 0 0 transparent;height: 135px; width: 230px; padding:3px;}
.productBatchTool input[type="text"] {width: 150px; border:1px solid #BDC7D8;font-family:Verdana,Arial,sans-serif;font-size:12px;padding:2px;}
.productBatchTool select {width: 211px; }	
.productBatchTool p {font-size:9px;}
.reportBox {background:transparent url(graphics/bkBox.png) no-repeat;height: 135px; width: 230px; padding:3px;}
a.reportLink {font-family:Verdana,Arial,sans-serif;display:block;font-size:11px;height:17px;line-height:14px;margin:-1px 0pt 0pt;padding-left:4px;padding-top:3px;}
a.reportLink:hover {background-color:#D9E6F7;color:#091933;text-decoration:none;}

#mboxfullpopup div#tab-block-1 {width:890px;}
#mboxfullpopup div.tab-container {width:885px;}
#mboxfullpopup .tab-wrapper{padding:0;border:2px solid #fff;width:868px;}
#mboxfullpopup .title, .MultiBoxContent .title{height:30px;width:99%x;font-size:16px; color:#555555;font-weight:700;position:relative; top:0px;z-index: 0;padding:10px;background:#FFFFFF url(graphics/blue_gradient.png) repeat-x scroll 0 0;}
#mboxfullpopup .print {position:absolute;right:10px;top:10px;}
#mboxfullpopup .button {border-top:1px dotted #CCCCCC;height:80px;margin:24px 0;}

#mboxfullpopup .taskMain {padding-bottom:30px;}
#mboxfullpopup .taskMain .tHeader {font-size:22px;font-weight:700;border-bottom:2px solid black;margin:0;padding:2px 2px 2px 6px;}
#mboxfullpopup .taskMain .tBody th {width:100px;white-space:nowrap;border-left:medium none;border-right:1px solid #666666;font-weight:normal;padding-left:4px;text-align:right;}
#mboxfullpopup .taskMain .tBody td {border-left-color:#666666;font-weight:bold;padding-left:4px;text-align:left;width:100%;}

/* TagBox */
span.tagBox-item {
    cursor: default;
    display: inline-block;
    margin: 0.3em 0.25em 0.15em;
    vertical-align: middle;
    white-space: nowrap;
}
span.tagBox-item-content-active {
	 background: -moz-linear-gradient(center top , #4998CF, #98ffff) repeat scroll 0 0 transparent !important;
	 border: 0.083em solid #3C7BA8;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1em;
    line-height: 1.4em;
    padding: 0.417em;
    text-shadow: 0.083em 0.083em 0.083em #888888;
}
span.tagBox-item-content {
    background: -moz-linear-gradient(center top , #4998CF, #234B77) repeat scroll 0 0 transparent;
    border: 0.083em solid #3C7BA8;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1em;
    line-height: 1.4em;
    padding: 0.417em;
    text-shadow: 0.083em 0.083em 0.083em #888888;
}
.nameLinkRed {
	color: red;
	text-decoration: none;
}