
/**************************************************************

	MultiBox
	v1.3

**************************************************************/

.MultiBoxContainer {
	position: absolute;
	border-top: 30px solid #EA1A2E;
	border-left: 3px solid #EA1A2E;
	border-right: 3px solid #EA1A2E;
	border-bottom: 3px solid #EA1A2E;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	background-color: #FFF;
	display: none;
	z-index: 2;
	text-align: left;
	padding:3px;
	/*overflow: hidden;*/
}

.MultiBoxLoading {
	background: url(img/loader.gif) no-repeat center;
}

.MultiBoxContent {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.MultiBoxClose {
	position: absolute;
	top: -27px;
	right: 2px;
	background: url(img/close.png) no-repeat;
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.MultiBoxMyClose {
	position: relative;
	top: 4px;
	right: 2px;
	background: url(img/close.png) no-repeat;
	width: 24px;
	height: 24px;
	cursor: pointer;
	}

.MultiBoxControlsContainer {
	overflow: hidden;
	height: 0px;
	position: relative;
}

.MultiBoxControls {
	width: 100%;
	height: auto;
	position: relative;
	background-color: #000000;
}


.MultiBoxPrevious {
	position: absolute;
	background: url(img/left.png) no-repeat;
	width: 24px;
	height: 24px;
	left: 0px;
	margin-top: 5px;
	cursor: pointer;
}

.MultiBoxNext {
	position: absolute;
	background: url(img/right.png) no-repeat;
	width: 24px;
	height: 24px;
	right: 0px;
	margin-top: 5px;
	cursor: pointer;
}

.MultiBoxNextDisabled {
	cursor: default;
	background: url(img/rightDisabled.png) no-repeat;
}

.MultiBoxPreviousDisabled {
	cursor: default;
	background: url(img/leftDisabled.png) no-repeat;
}

.MultiBoxTitle {
	position: relative;
	margin: 10px 0 0 35px;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	text-align: left;
}

.MultiBoxNumber {
	position: relative;
	width: 50px;
	margin: 10px 35px 0 0;
	float: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-align: right;
}

.MultiBoxDescription {
	clear: left;
	position: relative;
	margin: 0 35px 0 35px;
	padding-top: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-align: left;
}
.mbHidden{
	display:none;
}



/*************************************************************/

