
/**************************************************************

	MultiBox
	v1.3

**************************************************************/

.MultiBoxContainer {
	position: absolute;
	border: 17px solid #000;
	background-color: #FFF;
	display: none;
	z-index: 2;
	text-align: left;
	-moz-border-radius:4px;
	/*overflow: hidden;*/
}

.MultiBoxLoading {
	background: url(img/loader.gif) no-repeat center;
}

.MultiBoxContent {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.MultiBoxClose {
	position: absolute;
	top: 0;
	right: 0;
	background: url(img/close.png) no-repeat;
	width: 24px;
	height: 24px;
	cursor: pointer;
}


.MultiBoxControlsContainer {
	overflow: hidden;
	height: 0px;
	position: relative;
}

.MultiBoxControls {
	width: 100%;
	height: auto;
	position: relative;
	background-color: #000000;
}


.MultiBoxPrevious {
	position: absolute;
	background: url(img/left.png) no-repeat;
	width: 24px;
	height: 24px;
	left: 0px;
	margin-top: 5px;
	cursor: pointer;
}

.MultiBoxNext {
	position: absolute;
	background: url(img/right.png) no-repeat;
	width: 24px;
	height: 24px;
	right: 0px;
	margin-top: 5px;
	cursor: pointer;
}

.MultiBoxNextDisabled {
	cursor: default;
	background: url(img/rightDisabled.png) no-repeat;
}

.MultiBoxPreviousDisabled {
	cursor: default;
	background: url(img/leftDisabled.png) no-repeat;
}

.MultiBoxTitle {
	position: relative;
	margin: 10px 0 0 35px;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	text-align: left;
}

.MultiBoxNumber {
	position: relative;
	width: 50px;
	margin: 10px 35px 0 0;
	float: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-align: right;
}

.MultiBoxDescription {
	clear: left;
	position: relative;
	margin: 0 35px 0 35px;
	padding-top: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-align: left;
}
.mbHidden{
	display:none;
}

.asiQuote {
	width: 400px; height: 410px;
	}	
.mbPriceQuote {
	width: 400px; 
	height: 410px; 
	overflow: auto;
	}	
.miniWindowWrapper .header {
	height:40px;
	font-size:20px;
	background-color:#EFEFEF;
	color:#333333;
	text-align:center;
	}
.miniWindowWrapper fieldset	{
	margin-top:5px;
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:1px solid #EEEEEE;
	}
.miniWindowWrapper fieldset input[type=text] 	{
	width:255px;
	border:1px solid #888888;
	padding:5px;
	-moz-border-radius:2px 2px 2px 2px;
	}
.miniWindowWrapper fieldset textarea 	{
	width:255px;
	border:1px solid #888888;
	padding:5px;
	-moz-border-radius:2px 2px 2px 2px;
	height:100px;
	}	
.miniWindowWrapper label.AStitle {
	color:#333333;
	display:block;
	float:left;
	font-size:13px;
	width:100px;
    }
.miniWindowWrapper label.radio {
	display:block;
	float:left;
	}
.miniWindowWrapper .options {
	float:left;
	display:block;
	width:260px;
	}	
.miniWindowWrapper .options label{
	clear:both;
	display:block;
	width:250px;
	}


/*************************************************************/

