div.prev{ position:relative;top:-70px;right:30px;float:left;display:block; width:30px; height:50px; background:url(../../assets/Image/Layout/prev.jpg) no-repeat  }
div.next{ position:relative;top:-70px;left:30px;float:right;display:block; width:30px; height:50px; background:url(../../assets/Image/Layout/next.jpg) no-repeat}

/* 3 block (3 * 200px + 6*4px + 2*4px)*/
#stage{width:632px; overflow: auto;overflow-x:hidden; overflow-y:hidden; height:200px; margin:0 auto;}
#slider-buttons{width:632px; margin:0 auto;}

/* 2 block (2 * 200px + 4*4px + 2*4px)*/
/* #stage{width:424px; overflow: auto;overflow-x:hidden; overflow-y:hidden; height:200px; margin:0 auto;} */
/* #slider-buttons{width:424px; margin:0 auto;} */

/* max 33 product 11 page for 3 block at  time MyList: width = 11*3632px */
#myList{width:7000px; border:0; margin:0; padding:0; left:400px;}
#myList li{
		list-style:none; 
		margin:0; 
		padding:0; 
		border:0; 
		margin-right:4px;
		padding:4px; 
		/* background:#dddddd; */
		float:left;
		width:200px;
		height:200px;
		}
div.box{text-align:left;}	
div.box img {width:100px;}