/*
* 	Owl Carousel Customized Theme 
*/

.carousel-theme.owl-carousel {
	padding: 0px 30px !important;
	margin-bottom: 30px;
	height: 280px;
}
.carousel-theme .owl-controls {
	text-align: center;
}

/* Styling Next and Prev buttons */
.carousel-theme .owl-controls .owl-buttons div {
	display: inline-block;
	zoom: 1;
	*display: inline; /*IE7 life-saver */
	position: absolute;

	top: 50%;
	z-index: 10;
	margin-top: -55px;
	font-size: 50px;
	color: #D40000;
	background: transparent;

	/* Font-Awesome Icon */
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.carousel-theme .owl-controls.clickable .owl-buttons div {
	filter: Alpha(Opacity = 75); /*IE7 fix*/
	opacity: 0.75;
}
.carousel-theme .owl-controls.clickable .owl-buttons div:hover {
	filter: Alpha(Opacity = 100); /*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}
.carousel-theme .owl-controls .owl-buttons div.owl-prev {
	left: 0;
}
.carousel-theme .owl-controls .owl-buttons div.owl-prev:before {
	content: "\f104";
	text-shadow: 1px 1px 1px #333;
}
.carousel-theme .owl-controls .owl-buttons div.owl-next {
	right: 0;
}
.carousel-theme .owl-controls .owl-buttons div.owl-next:before {
	content: "\f105";
	text-shadow: -1px 1px 1px #333;
}

/* Styling Pagination*/
.carousel-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
	*display: inline; /*IE7 life-saver */
}
.carousel-theme .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity = 50); /*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}
.carousel-theme .owl-controls .owl-page.active span,
.carousel-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity = 100); /*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */
.carousel-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
	min-height: 150px;
	background: url("AjaxLoader.gif") no-repeat center center
}
