/*
* 	Owl Carousel Customized Theme 
*/

.slider-theme.owl-carousel {}

.slider-theme .owl-controls {
	text-align: center;
}

/* Styling Next and Prev buttons */
.slider-theme .owl-controls .owl-buttons div {
	display: inline-block;
	zoom: 1;
	*display: inline; /*IE7 life-saver */
	position: absolute;
	top: 50%;
	z-index: 10;
	margin-top: -25px;
	font-size: 50px;

	color: #000;
	background: transparent;

	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;

	/* Font-Awesome Icon */
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.slider-theme.owl-carousel:hover .owl-controls.clickable .owl-buttons div {
	filter: Alpha(Opacity = 50); /*IE7 fix*/
	opacity: 0.5;
	text-decoration: none;
}
.slider-theme.owl-carousel:hover .owl-controls.clickable .owl-buttons div.owl-prev {
	left: 10px;
}
.slider-theme.owl-carousel:hover .owl-controls.clickable .owl-buttons div.owl-next {
	right: 10px;
}
.slider-theme .owl-controls.clickable .owl-buttons div:hover {
	filter: Alpha(Opacity = 100) !important; /*IE7 fix*/
	opacity: 1 !important;
	text-decoration: none;
}
.slider-theme .owl-controls.clickable .owl-buttons div.owl-prev {
	left: -50px;
}
.slider-theme .owl-controls.clickable .owl-buttons div.owl-prev:before {
	content: "\f104";
	text-shadow: 1px 1px 1px #333;
}
.slider-theme .owl-controls.clickable .owl-buttons div.owl-next {
	right: -50px;
}
.slider-theme .owl-controls.clickable .owl-buttons div.owl-next:before {
	content: "\f105";
	text-shadow: -1px 1px 1px #333;
}

/* Styling Pagination*/
.slider-theme .owl-pagination {
	margin-top: 10px;
	text-align: center;
}
.slider-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
	*display: inline; /*IE7 life-saver */
}
.slider-theme .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity = 50); /*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #000;
}
.slider-theme .owl-controls .owl-page.active span,
.slider-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity = 100); /*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */
.slider-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
	min-height: 150px;
	background: url("AjaxLoader.gif") no-repeat center center
}
