@charset "utf-8";

/**************************************************/
/*****   navbar   *********************************/
/**************************************************/
.navbar {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}
.navbar-custom .nav > li > a {
  padding: 15px 10px;
}

.navbar-custom {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-custom .navbar-brand {
  color: #777777;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #777777;
}
.navbar-custom .navbar-nav > li > a {
  color: #777777;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #333333;
  background-color: #e7e7e7;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #e7e7e7;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555555;
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: #e7e7e7;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #777777;
}
.navbar-custom .navbar-link:hover {
  color: #333333;
}
.navbar-custom {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-custom .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f3f3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}



/**************************************************/
/*****   GENERAL STYLES   *************************/
/**************************************************/

#pageWrapper {
	
}
#pageBodyWrapper {
	
}
#pageBody {
	
}

a, a:hover {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

/**************************************************/
/*****   HEADER   *********************************/
/**************************************************/
#pageHeaderWrapper {
	
}
#pageHeader {
	
}

#top_bar_wrapper {
	background: #124375;
	border-top: 7px solid #4fbfa8;
	border-bottom: 1px solid #1e5792;
}
#top_bar {
	min-height: 40px;
}
#top_bar ul {
	list-style: none;
	display: block;
	float: right;
	margin: 5px 0px;
}
@media (max-width: 991px) {
	#top_bar ul {
		float: none;
		text-align: center;
	}
}
#top_bar ul li {
	display: inline-block;
	color: #fff;
	margin: 5px 10px;
}
#top_bar ul li a {
	color: #fff;
	text-decoration: none;
}
#top_bar ul li a:hover {
	color: #fada03;
}

#header_wrapper {
	background: #1e5792;
	border-top: 1px solid #124375;
	padding-top: 30px;
	margin-bottom: 30px;
}
#logo {
	display: inline-block;
	width: 100%;
	height: auto;
}

#header .call {
	text-align: right;
	color: #fff;
	font-size: 18px;
	height: 45px;
	line-height: 45px;
	text-transform: uppercase;
}
@media (max-width: 767px) {
	#header .call {
		text-align: center;
	}
}

#header #search_form {
	display: block;
	float: right;
	width: 100%;
}
#header #search_form #search_input {
	float: left;
	border: 7px solid #fada03;
	background: #fff;
	width: 78%;
	height: 45px;
	margin-right: 2%;
	padding: 0px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: 0;
}
#header #search_form #search_input:focus {
	border-color: #124375;
}
#header #search_form #search_btn {
	float: left;
	border: 0;
	background: #fada03;
	color: #1e5792;
	width: 20%;
	height: 45px;
	padding: 5px;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#header #search_form #search_btn:hover {
	background: #124375;
	color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
	#header #search_form {
		margin-top: 20px;
	}
}
@media (max-width: 991px) {
	#header #search_form #search_input{
		width: 83%;
		margin-right: 2%;
	}
	#header #search_form #search_btn {
		width: 15%;
	}
}
#header .navbar {
	margin-top: 30px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/**************************************************/
/*****   CONTENT   ********************************/
/**************************************************/
#contentWrapper {
	
}
#content {
	padding-bottom: 30px;
}

#slider {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#slider .slide_item img {
	display: block;
	width: 100%;
	height: auto;
}
#right_banner img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/* Small devices Tablets */
@media (max-width: 991px) {
	#right_banner {
		margin-top: 30px;		
	}
}

#highlight {
	margin-top: 30px;
}
#highlight .highlight_cell {
	background: #eee;
	padding: 15px;
	margin-bottom: 30px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#highlight .highlight_cell .icon {
	width: 60px;
	height: 60px;
	margin-top: 10px;
	margin-right: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#highlight .highlight_cell h4 {
	color: #2b78c9;
	text-transform: uppercase;
}
#highlight .highlight_cell h4 span {
	color: #fa0303;
}

/*#product-tabs li a {
	outline: none;
}
#product-tabs-accordion .panel-heading {
	padding: 0px;
}
#product-tabs-accordion .panel-title a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
}*/

/*---------- products_carousel ----------*/
.products_carousel .product {
	text-align: center;
	margin: 5px;
}
.products_carousel .product .product_image_div {
	margin-bottom: 15px;
	min-height: 200px;
}
.products_carousel .product .product_image_div a {
	display: block;
}
.products_carousel .product_image_div img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(51, 51, 51, 0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(51, 51, 51, 0.75);
	box-shadow: 0px 0px 3px 0px rgba(51, 51, 51, 0.75);
}
.products_carousel .product_name,
.products_carousel .product_name a {
	color: #333;
	font-weight: bold;
}
.products_carousel .product_price {
	color: #de1624;
	margin-top: 5px;
}
/*---------- END products_carousel ----------*/

#bottom_banner {
	margin-top: 30px;
	margin-bottom: 30px;
}
#bottom_banner .yellow_cell {
	background: #ffe422;
	color: #4c4c4c;
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
@media (max-width: 767px) {
	#bottom_banner .yellow_cell {
		margin-bottom: 30px;
	}
}
#bottom_banner .yellow_cell .title {
	color: #4495df;
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 5px;
}
#bottom_banner img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#bottom_highlight {}
#bottom_highlight .cell {
	padding: 15px;
	margin-bottom: 30px;
}
#bottom_highlight .cell.odd {
	background: #e5ecf2;
}
#bottom_highlight .cell.even {
	background: #eff4f7;
}

/**************************************************/
/*****   FOOTER   *********************************/
/**************************************************/
#pageFooterWrapper {
	
}
#pageFooter {
	
}

#footer_wrapper {
	background: #333;
	color: #fff;
	border-top: 4px solid #2481af;
}
#footer {
	color: #ddd;
}
ul.footer_nav {
	list-style: none;
	margin-bottom: 20px;
}
ul.footer_nav li {
	display: block;
	margin: 5px 0px;
}
ul.footer_nav li a{
	color: #ddd;
}

ul.footer_social {
	list-style: none;
	margin-bottom: 20px;
}
ul.footer_social li {
	display: inline-block;
	margin-right: 20px;
}
ul.footer_social li a .fa {
	color: #ddd;
	font-size: 24px;
}
.footer_social .fa {
	-webkit-transition: color 500ms ease;
    -moz-transition: color 500ms ease;
    -ms-transition: color 500ms ease;
    -o-transition: color 500ms ease;
    transition: color 500ms ease;
}
.footer_social .fa-facebook:hover {
	color: #3b5998;
}
.footer_social .fa-twitter:hover {
	color: #55acee;
}
.footer_social .fa-google-plus:hover {
	color: #dd4b39;
}
.footer_social .fa-rss:hover {
	color: #ffa500;
}
.footer_social .fa-skype:hover {
	color: #12a5f4;
}

#footer_bottom_wrapper {
	background: #2a2a2a;
	color: #999;
}
#footer_bottom {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #999;
}
#footer_bottom .call {
	color: #2481af;
	font-size: 25px;
	min-height: 40px;
	line-height: 40px;
	font-weight: bold;
}
#footer_bottom .call img {
	float: left;
	margin-right: 15px;
}
@media (max-width: 991px) {
	#footer_bottom .call {
		margin-bottom: 10px;
	}
}

#subscribe_label {
	text-transform: uppercase;
	font-size: 20px;
	min-height: 40px;
	line-height: 40px;
	font-weight: bold;
}
@media (min-width: 1200px) {
	#subscribe_label {
		text-align: right;
	}
}
#subscribe_form {
	display: block;
	float: right;
	width: 100%;
}
#subscribe_form #email_input{
	float: left;
	border: 1px solid #999;
	background: #272727;
	width: 68%;
	height: 35px;
	margin-right: 2%;
	padding: 0px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#subscribe_form #subsribe_btn {
	float: left;
	border: 0;
	background: #2481af;
	color: #fff;
	width: 30%;
	height: 35px;
	padding: 5px;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
@media (max-width: 991px) {
	#subscribe_form #email_input{
		width: 78%;
		margin-right: 2%;
	}
	#subscribe_form #subsribe_btn {
		width: 20%;
	}
}

#copyright_wrapper {
	background: #1e5792;
	color: #fff;
}
#copyright {
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 50px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}
#copyright a {
	color: #2481af;
}