@charset "utf-8";

/* shopping cart */
.cartImage {
	border: 1px solid #919191;
	margin: 2px;
	max-height: 60px;
	max-width: 60px;
}

.cartImageWrapper {
	float: left;
	padding: 0 5px 0 0;
}

.cartOptionImage {
	max-height: 60px;
	max-width: 60px;
	border: 1px solid #919191;
	margin: 2px;
}

.shoppingcart_continue_bottom {
	display: none;
}
/* Cart view */
.shoppingCart {
	width: 100%;
}

div.shoppingCartHdrImage {
	background: url(../Image/Layout/shoppingCart_hdr.jpg) no-repeat left top;
	width: 745px;
	height: 98px;
}

.shoppingCart0 {
	width: 100%;
	background-color: #ffffff;
}

.shoppingCart1 {
	width: 100%;
	background-color: #eeeeee;
}

.cartName {
	width: 350px;
	max-width: 350px;
}

.cartImageBlock {
	float: left;
}

.cartOptionBlock {
	
}

.shoppingcart_item_name {
	font-size: 14px;
	text-decoration: none;
	color: #990000;
	font-weight: bold;
	vertical-align: top;
}

.shoppingcart_item_sku {
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #990000;
	vertical-align: top;
	padding-bottom: 5px;
}

.shoppingcart_item_name:hover {
	text-decoration: underline;
}

.shoppingcart_continue_shopping {
	font-size: 12px;
	text-decoration: none;
	color: #990000;
	font-weight: bold;
}

.shoppingcart_continue_shopping:hover {
	text-decoration: underline;
}

.shoppingcart_current_qtyBreak {
	color: #000000;
	font-weight: bold;
}

.customShippingInvoice tr.highlight {
	background-color: #333333;
	font-size: 8px;
	color: #FFFF22;
}

.customShippingInvoice tr.shoppingCart {
	color: #FFFFFF;
}

/* Shopping Cart Page */
.shoppingCart {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	background: #FFFFFF;
	border: #000000 1px solid;
}

tr.shoppingCart {
	color: #FFFFFF;
	background: #464646;
}

td.shoppingCart0 {
	background: #FFFFFF;
}

td.shoppingCart1 {
	background: #EEEEEE;
}

tr.shoppingCartOption0 {
	line-height: 1.3em;
	vertical-align: top;
}

tr.shoppingCartOption1 {
	line-height: 1.3em;
	vertical-align: top;
}

.shoppingCartHdr {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #990000;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.shoppingCartFtr {
	background: #464646;
	color: #ffffff;
}

.discountedPrice label {
	width: 10em;
	float: left;
	font-size: 10px;;
	height: .1em;
}

.discountedPrice h4 {
	margin-left: 10em;
	font-size: 10px;
	height: .1em;
}

table.shoppingCart input[type="text"] {
	border: 1px solid #000000;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 3px;
}

table.shoppingCart input[type="text"]:focus {
	border: 1px solid #990000;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 3px;
}

.shoppingcart_checkout_link {
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

#promoButton {
	margin-top: 5px;
}

#promoContainer {
	margin-top: 30px;
	color: #990000;
	font-size: 16px;
}

#promoContainer input[type="text"] {
	border: 1px solid #990000;
	border-radius: 5px 5px 5px 5px;
	padding: 3px;
	width: 140px;
}

#promoContainer input[type="text"]:focus {
	border: 1px solid #990000;
	border-radius: 5px 5px 5px 5px;
	padding: 3px;
	width: 140px;
}


/* Parent Children for cart - start */
.toggleChildItemsButton {
	border: 1px solid gray;
	border-radius: 3px;
	color: #7F1315;
	cursor: pointer;
	font-size: 13px;
	margin: 5px 0 0 16px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 60px;
}

.toggleChildItemsButton:hover {
	background-color: #7F1315;
	color: #FFFFFF;
}

.cartImageWrapper {
	float: left;
	padding: 0 5px 0 0;
}

.cartItemSkuNameWrapper {
	padding-left: 10px;
}

td.cartName {
	padding-top: 10px;
}

.shoppingcart_item_sku {
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #666666;
	vertical-align: top;
	padding-bottom: 5px;
}
/* Parent Children for cart - end */