

.details_desc {
 	width: 400px;
 	}
.details_sku {
    font-weight: 400;
 	color: #666;
	font-size:12px;
	}
.details_item_name {
	font-size:12pt;
	font-weight: bold;
	padding-bottom: 10px;
	}
div.details_item_name h1 {
	font-weight: 600;
	font-size:12pt;
	}
.details_short_desc {
 	color: #000;
	font-size:14px;
	}
.details_long_desc {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 8px;
    text-align: justify;
	color:#000000;
	line-height:20px;
	}
	
div.quantity input[type="text"]{
    border: 1px solid #000000;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 5px;
}
div.quantity input[type="text"]:focus {
    border: 1px solid #990000;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 5px;
}

.priceTitle {
	color: #990000;
	}
	
.priceTitleSpan{
	font-size:18px;
	font-weight: bold;
	}
	
.price {
	color: #990000;	
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	font-size:18px;
	}

.quickProductReview{
 	color: #000;
	font-size:12px;
	margin-top:5px;
	margin-bottom:5px;}

* html .tab-wrapper {
	padding:0px 6px 0px 8px;

}

.tab-wrapper
{
	padding:				5px 6px 5px 8px;
	border:					2px solid #eee;
	clear:					both;
}

.tab-menu
{
	list-style:				none;
	padding:				2px 0 0 11px;
	clear:					both;
	line-height:			17px;
	font-size:				12px;
}
.tab-menu li
{
	display:				inline;
	margin:					5px 3px 0 0;
    border-left: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    height: 30px;
	float:left;
	line-height:30px;
	background:#EEEEEE;
		/* if you want to use image (left)
	background:transparent url(graphics/tab_l) no-repeat scroll left top;
	*/
}	
.tab-menu li a
{
	padding:1px 3px 1px 3px;
	margin:0px 0px 0px 3px;
	color:					#000;
	font-weight:			bold;
	text-decoration:		none;
	display:block;
	float:left;
	background-color:#EEEEEE;
	line-height:30px;
		/* if you want to use image (right)
	background:transparent url(graphics/tab_r.png) no-repeat scroll right top;
	*/
}
.tab-menu li a:hover,
.tab-menu li a:focus
{
	color:					#990000;
}
.tab-menu li.tab-selected a
{
	color:		#fff;
	background-color:#990000;
	line-height:28px;
	border-left: 1px solid #990000;
    border-radius: 3px 3px 3px 3px;
    border-right: 1px solid #990000;
    border-top: 1px solid #990000;

}

div#tab-block-1 ul {
    padding-left: 0;
}

/* product Review */
.productReviewTitle {
	background-color:#E3E3E3;
	border:1px solid #919191;
	font-size:12px;
	font-weight:bold;
	margin-top:10px;
	padding:5px;
}
.writeReview {
	font-size:11px; 
	font-weight:700;
}
.productReview {
	font-size:14px; 
	font-weight:700;
}
.reviewTextarea { 
	width:300px; 
	height:100px;
}
.reviewTitle {
	font-weight:700;
	border-bottom: #888888 1px solid;
}
.reviewText pre {
	color:#111111;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
}

/* star rating code - use lists because its more semantic */
#stars {
	width:80px;
	position: relative;
	float: left;
	height:16px;
}
#respondRate {
	padding-left:10px;
	position: relative;
	float: left;
}
.rating{
	width:80px;
	height:16px;
	margin:0 0 20px 0;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(../Image/Layout/rating.gif) no-repeat 0 0;
}
/* add these classes to the ul to effect the change to the correct number of stars */
.nostar {background-position:0 0}
.onestar {background-position:0 -16px}
.twostar {background-position:0 -32px}
.threestar {background-position:0 -48px}
.fourstar {background-position:0 -64px}
.fivestar {background-position:0 -80px}
.sixstar {background-position:0 -96px}
.sevenstar {background-position:0 -112px}
.eightstar {background-position:0 -128px}
.ninestar {background-position:0 -144px}
.tenstar {background-position:0 -160px}
ul.rating li {
	cursor: pointer;
	float:left;
	text-indent:-999em;
}
ul.rating li span {
	position:absolute;
	left:0;
	top:0;
	width:16px;
	height:16px;
	text-decoration:none;
	z-index: 200;
}
ul.rating li.one span {left:0}
ul.rating li.two span {left:16px;}
ul.rating li.three span{left:32px;}
ul.rating li.four span{left:48px;}
ul.rating li.five span{left:64px;}
ul.rating li.six span{left:80px;}
ul.rating li.seven span{left:96px;}
ul.rating li.eight span{left:112px;}
ul.rating li.nine span{left:128px;}
ul.rating li.ten span{left:144px;}
ul.rating li span:hover {
	z-index:2;
	width:80px;
	height:16px;
	overflow:hidden;
	left:0;	
	background: url(../Image/Layout/rating.gif) no-repeat 0 0
}
ul.rating li.one span:hover {background-position:0 -176px;}
ul.rating li.two span:hover {background-position:0 -192px;}
ul.rating li.three span:hover {background-position:0 -208px}
ul.rating li.four span:hover {background-position:0 -224px}
ul.rating li.five span:hover {background-position:0 -240px}
/* end rating code */