#vertical_slide, #horizontal_slide {
	background: #D0C8C8;
	color: #8A7575;
	padding: 10px;
	border: 5px solid #F3F1F1;
	font-weight: bold;
    z-index:0;
    position:relative;
    width:auto;
}
#floatCard {
    width:300px;
    float:right:
}
div.marginbottom {
	/* Since the Fx.Slide element resets margins, we set a margin on the above element */
	margin-bottom: 10px;
}
div.slideWrapper {
	position:absolute;
}

.miniCartWrapper {

}
.miniCartHeader {
	height:20px;
}
.miniCartProductWrapper {
	position:relative;
	border-top:1px solid #AFA4A4;
	padding:5px 0;
	}
.miniCartImage {
	float:left;
	width:50px;
	}	
.miniCartSpec{
	float:left;
	width:150px;
	}
.miniCartSpec ul{
	margin-top:0em; margin-bottom:0em; margin-left:-2em; margin-right:0em;
	}	
.miniCartSubTotalWrapperTop {
	display:none;
	}	
.miniCartSubTotalWrapperBottom {
	position:relative;
	width:100%;
	margin-top:10px;
	border-top:1px solid #AFA4A4;
	}	
.miniCartNumItems {
	float:left;
	width:225px;
	}
.miniCartSubTotal{
	float:left;
	float:50px
}
.miniCartFooter {
	height:20px;
}
.viewCart{
	float:left;
	}
.checkout {
	float:right;
}