#quickView-details-wrapper {
	position:relative;
	width:720px;
	height:440px;
	}
#quickView-details-wrapper .ratingTitle	{
	display: none;
	}
#quickView-image {
	float:left;
	width:350px;
	}	
#quickView-info {
	float:left;
	width:350px;
	}
.spacer-v {
	float:left;
	height:100%;
	width:1px;
	border-left:1px solid #999999;
	margin:0 5px;
	}	
#fieldWrapper {
	overflow: auto;
	height:150px;
}
#quickView-details-wrapper .details_item_name h1{
	color:#222222;
	font-size: 12px;
	}
#quickView-details-wrapper a.details_thumbnail_anchor {
	text-decoration: none;
	border:0;
}
#quickView-details-wrapper .details_thumbnail_anchor img {
	width:50px;
}
#quickView-details-wrapper .details_thumbnail_anchor img.details_thumbnail {
	text-decoration: none;
	border:0;
}
#priceContainerBdy {
	border:1px solid #CFCDB5;
	background-color:#F3F3Eb;
	-moz-border-radius:3px;
}
#quantityContainer {
	background-color:#CFCCA8;
}
#quickView-details-wrapper table.productOption {
	width:100%;
	}
#quickView-details-wrapper #optionContainer select{
	width:98%;
	}
#quickView-details-wrapper #standardPricing {
	padding:10px 3px;
	}
#quickView-details-wrapper #standardPricing input {
	width:80px;
}
#quickView-details-wrapper #addToCartButton {
	clear:left;
	float:right;
}