body{
	font-size: 0.8rem;
}
h1, h2, h3, h4, h5, h6{
	margin: 0px;
}

h1 {
	font-size: 1.6rem;
	font-weight: bold;
}

h2 {
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.7;
}

h3 {
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.8;
}

h4 {
	font-size: 1rem;
	font-weight: bold;
}

h5 {
	font-size: 0.8rem;
}

h6 {
	font-size: 0.6rem;
}

b, strong, .bold {
	font-weight: 600;
}

.bolder{
	font-weight: 700;
}

.minor {
	color: #8d9096;
}

.max-w-form{
	max-width: 860px
}

.widget .description{
	font-size: 0.82rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.divider{
	height: 0px;
	border-bottom: 1px dashed #d7d7d9;
    padding-bottom: 0.5rem;
    width: 100%;
}

img.img-thumbnail{
	display: block;
}

.dgrid img.img-thumbnail{
	padding: 0.05rem;
}

.collapse {
	display: none;
}

.collapse.in {
	display: block;
}

input[type=checkbox]{
	display: inline-block;
	width: 16px;
	height: 16px;
	-webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ebebeb;
}

table tr:hover input[type=checkbox]{
	background-color: white;
}

input[type=checkbox]:checked, table tr:hover input[type=checkbox]:checked{
	color: #d32f2f;
    background-color: #d32f2f;
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50% 50%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

button:focus{
	outline: none;
}

.input-group .input-group-addon{
	height: 28px;
	font-size: 0.75rem;
	border-color: #d6d6d6;
}

.custom-select{
	height: 28px;
	width: 100%;
	padding: .3rem 1.75rem .3rem .75rem;
}

.mce-btn .mce-txt{
	font-size: 0.8rem!important;
}

.datepicker{
	font-size: 0.75rem;
}

#root{
	height: auto;
	position: relative;
}

#root a.btn-sidebar{
	font-size: 0.82rem;
	padding: .3rem .6rem;
    height: 36px;
}

#root a.btn-sidebar:hover{
	background: none!important; 
}

#root a.btn-sidebar-1.is-open{
    border-top: none;
    border-bottom: none;
    background-color: white!important; 
    box-sizing: border-box;
}

#root a.btn-sidebar-1.is-open:after{
	background-color: #d32f2f;	
}

#root a.btn-sidebar-1.has-children:after{
	background-color: transparent;	
}

#root .collapse.show a.btn-sidebar-2{
	height: 30px;
	font-size: 0.76rem;
	background-color: #ededed!important; 
}

#root .collapse.show a.btn-sidebar-2.is-open{
	background-color: #d6d6d6!important;
	border: none;
}

#root .collapse.show a.btn-sidebar-2.is-open:after{
	background-color: #d32f2f;
}

#root .collapse.show a.btn-sidebar-2:after{
	background-color: transparent;
}

#root .btn-sidebar i{
	font-size: 0.9rem;
	margin-right: 0px;
}
#root .container-fluid{
	padding: 0px;
}

#root .container-fluid .main {
	-webkit-transform: none;
    transform: none;
    min-height: 100%;
}

#root #legacy{
    position: absolute;
    right: 20px;
    bottom: 10px;
}

#root .container-fluid .main form#list{
	height: 100%;
}

#root[data-collapsed=true] .main {
    padding-left: 0px;
}

[data-navbar=danger] .dropdown-flags .btn.btn-default, [data-navbar=danger] .dropdown-flags .btn.btn-default.focus, [data-navbar=danger] .dropdown-flags .btn.btn-default:active, [data-navbar=danger] .dropdown-flags .btn.btn-default:focus, [data-navbar=danger] .dropdown-flags .btn.btn-default:hover, [data-navbar=danger] .dropdown-flags .btn.btn-default:visited, [data-navbar=danger] .dropdown-grid .btn.btn-default, [data-navbar=danger] .dropdown-grid .btn.btn-default.focus, [data-navbar=danger] .dropdown-grid .btn.btn-default:active, [data-navbar=danger] .dropdown-grid .btn.btn-default:focus, [data-navbar=danger] .dropdown-grid .btn.btn-default:hover, [data-navbar=danger] .dropdown-grid .btn.btn-default:visited, [data-navbar=danger] .dropdown-messages .btn.btn-default, [data-navbar=danger] .dropdown-messages .btn.btn-default.focus, [data-navbar=danger] .dropdown-messages .btn.btn-default:active, [data-navbar=danger] .dropdown-messages .btn.btn-default:focus, [data-navbar=danger] .dropdown-messages .btn.btn-default:hover, [data-navbar=danger] .dropdown-messages .btn.btn-default:visited, [data-navbar=danger] .dropdown-tasks .btn.btn-default, [data-navbar=danger] .dropdown-tasks .btn.btn-default.focus, [data-navbar=danger] .dropdown-tasks .btn.btn-default:active, [data-navbar=danger] .dropdown-tasks .btn.btn-default:focus, [data-navbar=danger] .dropdown-tasks .btn.btn-default:hover, [data-navbar=danger] .dropdown-tasks .btn.btn-default:visited, [data-navbar=danger] .dropdown-user .btn.btn-default, [data-navbar=danger] .dropdown-user .btn.btn-default.focus, [data-navbar=danger] .dropdown-user .btn.btn-default:active, [data-navbar=danger] .dropdown-user .btn.btn-default:focus, [data-navbar=danger] .dropdown-user .btn.btn-default:hover, [data-navbar=danger] .dropdown-user .btn.btn-default:visited{
	background: #bd1f1f;
}

#root .navbar.navbar-1 {
	background: #bd1f1f;
	height: 50px; 
}

#root .navbar.navbar-1 .logo {
	background: #bd1f1f;
	width: 220px;
	height: 50px;
}

#root .navbar.navbar-1 .logo img{
	height: 26px;
}

#root .navbar.navbar-1 .btn{
	background: #bd1f1f; 
}

#root .left-sidebar{
	top: 50px;
	width: 220px;
	height: auto;
}

#root .left-sidebar .wrapper{
	width: 220px;
	height: auto;
}

#root .left-sidebar .wrapper .content{
	width: 220px;
	height: auto;
	margin-bottom: 30px;
}

#root .left-sidebar .wrapper .content ul{
	overflow-y: visible;
}

#root .main {
	padding-top: 50px;
	padding-left: 220px;
	padding-right: 0px;
}

#root .page-banner {
	border-bottom: 1px solid #e8e8e9;
}

#root .page-banner .breadcrumb{
	font-size: 0.8rem;
	height: inherit;
	line-height: inherit;
	padding: 10px;
}

#root .page-banner .breadcrumb span{
	padding: 0px 10px;
	color: #8c8c91;
	font-weight: 600;
}

#root .page-banner .breadcrumb span a{
	color: #212121;
}

#root .page-banner .breadcrumb i{
	font-size: 7px;
    line-height: 2.8;
} 

.page-head{
	background-color: #fff;
    border-bottom: 1px solid #d7d7d9;
    padding: 20px;
}

.page-head h4{
	font-weight: 600; 
}

.page-head .title{
	font-size: 1.2rem;
	margin: 0.25rem 0px;
	text-align: left;
	font-weight: 600;
}

.page-head .actions {
	margin: 0.25rem 0px;
	text-align: right;
}

.page-head .actions .dropdown{
	margin: 2px 0px;
}

.page-head .actions .dropdown .sub-menu-items{
	display: none;
}

.page-head .actions .dropdown .sub-menu-items a{
	font-size: 0.7rem;
	padding: 0.2rem 2rem;
}

.tab-actions{
	text-align: right;
}

.tab-actions .action-item{
	width: 40px;
	text-align: center;
	display: inline-block;
	margin: 3px;
}

.tab-actions a.action-item{
	color: #8c8c91;
	font-size: 1.2rem;
	font-weight: 600;
	width: 28px;
}

.tab-actions .action-item a.dropdown-toggle{
	color: #8c8c91;
	font-size: 1.2rem;
	font-weight: 600;
}

.tab-actions .action-item a.dropdown-toggle:after{
	margin-left: 0px;
}

.page-head .sub-status{
	margin-bottom: -20px;	
}

.page-head .sub-status div:first-child span{
	line-height: 3;
}

.page-body{
	padding: 20px 10px;
	position: relative;
}



.list-group .list-group-item {
    padding: .75rem 1.25rem;
}

.minor-info {
	margin: 10px;
    font-size: 0.75rem;
}

.minor-info > span span:nth-child(2){
	 color: #333;
	 font-weight: 600;
	 margin-right: 10px;
}

/*
** Tiles
*/
.tile-container{
	padding: 10px;
	height: 370px;
}

.tile-container .tile{
    background-color: #fff;
    border: 1px solid #d6d6d6;
    color: #212121;
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12);
}

.ct-chart .ct-line {
  stroke-width: 2px;
}

.ct-chart.warning .ct-series-a .ct-line {
  stroke: #ffa000!important;
}

.ct-chart.warning .ct-series-a .ct-point {
  stroke: #ffa000!important;
}

ct-chart.warning .ct-series-a .ct-area {
  fill: #ffa000!important;
}

.ct-chart.danger .ct-series-a .ct-line {
  stroke: red!important;
}

.ct-chart.danger .ct-series-a .ct-point {
  stroke: red!important;
}

ct-chart.danger .ct-series-a .ct-area {
  fill: red!important;
}

svg.ct-chart-bar, svg.ct-chart-line{
    overflow: visible;
}

svg.ct-chart-pie text{
	fill: white!important;
}

.chartist-tooltip{
	padding: 0.6rem!important;
	text-align: left!important;
	min-width: 6rem!important;
}

.chartist-tooltip .chartist-tooltip-meta{
	font-size: 0.75rem!important;
	display: block!important;
	line-height: 1.2!important;
}

.chartist-tooltip .chartist-tooltip-value{
	font-size: 1.2rem!important;
	font-weight: bold!important;
	display: block!important;
	line-height: 1.2!important;
}

/*
** Heading Actions Dropdown
*/

.actions .dropdown .dropdown-toggle{
	height: 35px;
}

.actions .dropdown .dropdown-menu{
	z-index: 1050;
}

#menu-overlay{
    opacity: .5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    display: none;
}

/*
** Dropdown Menu
*/

.dropdown{
	display: inline-block;
	min-width: 36px;
}

.dropdown.show .dropdown-menu {
    min-width: 180px;
}

.dropdown .dropdown-menu{
    margin-top: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.dropdown .dropdown-menu::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.1);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    top: -8px;
    right: 8px;
}

.dropdown .dropdown-menu::after {
   border-bottom: 8px solid #FFFFFF;
   border-left: 9px solid rgba(0, 0, 0, 0);
   border-right: 9px solid rgba(0, 0, 0, 0);
   content: "";
   display: inline-block;
   position: absolute;
   top: -7px;
   right: 8px;
}

.navbar.navbar-1 .dropdown.show .dropdown-menu{
	top: 41px;
}

.navbar.navbar-1 .dropdown.show .dropdown-menu::before{
	display:none;
}

.navbar.navbar-1 .dropdown.show .dropdown-menu::after{
	display:none;
}

#root .btn.btn-default:active, #root btn.btn-default:focus, #root .btn.btn-default:hover, #root .btn.btn-default:visited{
	background: inherit;
    border-color: #fff;
}

.btn.btn-default, .btn.btn-primary, .btn.btn-success, .btn.btn-info, .btn.btn-danger, .btn.btn-default.dropdown-toggle, .btn.btn-primary.dropdown-toggle, .btn.btn-success.dropdown-toggle{
    text-transform: none;
    font-size: 0.8rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-group .dropdown-item, .dropdown .dropdown-item{
	font-size: 0.8rem;
	padding: 0.3rem 1rem;
}

/*
** Page Settings Dropdown Menu
*/
.dropdown-setting .dropdown-menu{
	font-size: 0.8rem;
	padding: 1rem;
}

.dropdown-setting .dropdown-menu select{
	font-size: 0.8rem;
}

.dropdown-setting .dropdown-menu label{
	font-size: 0.8rem;
}

.dropdown-setting .dropdown-menu .form-control{
	width: 100%;
}

.form-group {
	width: 100%;
    margin-bottom: 0.3rem;
}

.dropdown-setting .dropdown-menu .option-header{
	color: #555;
	width: 100%;
	margin-bottom: 0.2rem;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.dropdown-setting .dropdown-menu .custom-control{
	line-height: 1.5rem;
	margin-bottom: 0.2rem;
	
}

.dropdown-setting .dropdown-menu .custom-control-description{
	color: #444;
	font-size: 0.8rem;
}

/* BOOTSTRAP DATETIMEPICKER */
.bootstrap-datetimepicker-widget{
	padding: 0px!important;
    border: 1px solid #d6d6d6!important;
}

.bootstrap-datetimepicker-widget .datepicker{
	width: inherit;
	border: none;
}

/* MODAL CUSTOMIZATION */
#root .modal .modal-dialog .modal-content .modal-header{
	background-color: #bd1f1f!important;
}

#root .modal .modal-dialog .modal-content .modal-header .close{
	color: white;
}

#root .modal .modal-dialog .modal-content .modal-header .close:hover{
	opacity: 0.8;
}

/* COMPLEX TABLE */
table.complex{
	font-size: 0.8rem;
}

.form-section table.complex{
	font-size: 0.75rem;
}

.table-wrapper{
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}
table.complex thead > tr > th{
	min-width: 60px;
    white-space: nowrap;
    overflow: hidden;
    padding: 3px 6px;
    border: 1px solid #ddd;   
	background-color: #eee;
}

table.complex td{
	background: white;
	position: relative;
}

table.complex > tbody > tr:hover td{
	background: #ebebeb;
}

table.complex > tbody > tr.line-row:hover td{
	background: white;
}

table.complex input[type=checkbox]{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;  
}

table.complex td .form-control{
	display: inline-block;
	height: 24px;
}

table.complex td .custom-select{
	display: inline-block;
	height: 24px;
	margin-top: -3px;
    padding: 0px 3px;
}

table.complex > tbody > tr > td{
    border: 1px solid #ddd;
    padding: 3px 6px;
}

table.complex > tbody > tr.line-row > td{
	background-color: white;
	font-weight: 600;
}

table.complex > tbody > tr.total> td{
	border: none;
	background: transparent;
}

/* DGRID CUSTOMIZATION*/
.grid-stage .page-stat{
	margin-bottom: 8px;
	font-size: 0.8rem;
	display: table;
	width: 100%;
	text-align: right;
	font-weight: 600;
	padding: 0px 8px;
}

 .grid-stage .page-stat a{
 	font-size: 0.8rem;
 }
 
.grid-stage .footer{
	text-align: left;
	margin-top: 8px;
	margin-bottom: 10px;
	font-size: 0.8rem;
	display: table;
	width: 100%;
	padding: 0px;
	background: none;
}

.dgrid {
	width: 100%;
	height: auto!important;
	overflow: visible!important;
	position: relative;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.dgrid-row.dgrid-selected{
	background: #bbb;
}
 
.dgrid-header{
	font-size: 0.8rem;
}

.dgrid-content{
	font-size: 0.8rem;
	background: white;
}

.dgrid-cell{
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
    padding: 3px 6px !important;
}

.dgrid-cell:focus {
    outline: none;
}

.dgrid-cell .external-link{
	float: right;
}


.dgrid .field-id{
    width: 120px;
}

.dgrid .field-batch{
    width: 30px;
}

.dgrid .field-offset{
    width: 40px;
}

.dgrid .field-thumbnail{
	width: 40px;
}

.dgrid .field-flags{
	text-align: center;
}

.dgrid .field-flags i{
	margin: 0px 2px
}

.dgrid .field-actions{
	overflow: inherit;
    text-align: center;
    width: 60px;
}

.dgrid .field-batch input[type=checkbox]{
	position: absolute;
	margin: auto;
	top: 0px;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.dgrid table.dgrid-row-table tr:hover td.dgrid-cell{
    background: #ebebeb;
 }

input[type=checkbox]:checked{
	background-color: #d32f2f;
}

.dgrid-cell .external-link{
	float: right;
	display: inline;
}

.dgrid-scroller{
    position: static;
    overflow-x: auto;
    overflow-y: visible;
    margin-bottom: 0px!important;
}

.dgrid-footer{
	position: static!important;
    background-color: transparent;
    font-size: 0.8rem;
}

.dgrid-footer table.dgrid-row-table > tr:hover > td{
	background-color: transparent;
}

.dgrid-footer .dgrid-cell{
	border: none;
}

.dgrid-selector{
	position: relative;
}

th.dgrid-selector input[type=checkbox]{
	background-color: white;
}

th.dgrid-selector input[type=checkbox]:checked{
	background-color: #d32f2f;
}

.dgrid a{
	color: #025a51;
}

.dgrid a.plain{
	color: #025a51;
}

input[type=checkbox]:focus{
    outline: none!important;
}

.ui-icon.dgrid-hider-toggle{
	display: none;
}

.dgrid-hider-menu-row{
	padding: 0px;
}

.dgrid-hider-menu-label{
	padding-left: 25px;
}



#grid-hider-menu{
	position: relative!important;
	border: none;
    right: inherit;
    padding: 0px;
}

#column-hider #grid-hider-menu{
	display: block!important;
}

.pagination{
	text-align: right;
	display: table;
	width: 100%;
	margin-top: 10px;
}

.pagination .previous{
	padding: 0 10px;
}

.pagination .status{
	padding: 0px;
}

.pagination .next{
	padding: 0 10px;
}

/*
	DOJO DROPDOWN
*/
.dijitButtonNode{
	border: none;	
}

.dijitIcon{
	vertical-align: baseline;
}

.dijitDownArrowButton{
	outline: none;
}

.dijitDownArrowButton:after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

.dijitSelect.dijitDownArrowButton{
	border-color: #d6d6d6;
}

.dijitSelect .dijitButtonContents{
	border-color: #d6d6d6;
}

.dijitSelect .dijitDownArrowButton.dijitRight{
	width: 20px;
}

.dijitSelect.dijitDownArrowButton:after{
	display: none;
}

.dijitArrowButtonInner{
	display: none;
}

.dijitMenuPopup{
    padding-top: 2px;
    padding-bottom: 2px;
	min-width: 150px;
	background-color: white;
	border-color: #fff;
    color: #212121;
    -webkit-box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12);
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12);
    z-index: 1050!important;
}

.dijitMenuTable{
	width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 0px;
}

.dijitMenuTable > thead > tr > th{
	padding: 0.4rem 0.8rem;
    font-weight: 400;
    color: #757575;
	font-size: .75rem;
}

.dijitMenuTable > thead > tr > th .btn-group a{
	margin-right: 5px;
}

.dijitMenuItem .dijitMenuItemLabel{
	padding: 0.4rem 0.8rem;
    font-size: 0.75rem;
}

.dijitMenuItemSelected{
	background: white;
	color: inherit;
}

.dijitMenuItemHover, tr.dijitMenuItem:hover > .dijitMenuItemSelected{
	background: #d32f2f;
    border-color: #d32f2f;
    color: #fff;
}

/* SMALL GRID CUSTOMIZATION */
.grid-stage.grid-stage-sm .page-stat{
	font-size: 0.75rem;
}

.grid-stage.grid-stage-sm .page-stat a{
	font-size: 0.75rem;
}
 
.grid-stage.grid-stage-sm .footer{
	font-size: 0.75rem;
}

.grid-stage.grid-stage-sm .dgrid .dgrid-cell{
	width: 70px;
	font-size: 0.75rem;
}

grid-stage.grid-stage-sm .dgrid .field-actions{
	width: 50px;
}

grid-stage.grid-stage-sm .dgrid input[type=checkbox].dgrid-input{
	margin-bottom: -4px;
}

grid-stage.grid-stage-sm .dgrid .dijitSelect.dijitDownArrowButton{
	height: 20px;
}

/*
** Form
*/
.main-content{
	padding-top: 0px;
	padding-bottom: 30px;
	background: none;
    border: none;
}

nav-tabs nav-tabs-primary{
	border-bottom: none;
}

.main-content .nav-vertical{
	padding-top: 30px;
    font-size: 0.85rem;
}

.main-content .uni-tab{
	padding: 20px;
}

.main-content .tab-content>.tab-pane{
	display: block;
	visibility: hidden;
	overflow: hidden;
	height: 0px;
}

.main-content .tab-content>.tab-pane.active{
	visibility: visible;
	height: inherit;
	padding: 40px 15px;
}

span[data-toggle="tooltip"] {
    margin-right: 5px;
    line-height: 1.9;
    color: #666;
}

.tooltip{
	font-size:0.8rem;
}

.hide-text-field{
	line-height: 2rem;
}

/*
** Form Section
*/

.nav-link{
	padding: 0.7rem 1rem;
}

.nav-tabs{
	border: none;
	font-weight: 600;
	background: #eee;
}

.nav-tabs .nav-link{
	color: #212121;
	border: none;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
	border: none;
}

.nav-tabs .nav-item{
	margin-bottom: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	border: none;
	color: #212121;
}

.form-section{
	font-size: 0.75rem;
	border-radius: 5px;
	border: 5px solid #eee;
	background: white;
}

.modal-dialog .modal-content .modal-body .form-section{
	border: none;
}

.form-section .line{
	max-width: 800px;
	padding: 5px 0px;
	margin: 0px;
}

.form-section .col-label{
	padding-right: 5px;
    padding-left: 5px;
    width: 100%;
}

@media (min-width: 992px){
	.form-section .col-label {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
}
.form-section .col-form-label{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
}

.form-section .line .col-form-label{
	padding-bottom: 5px;
	color: #666;
	-webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -ms-font-smoothing: auto;
}

.form-section.mul-col .col-form-label{
	float: left;
}

.form-section .help-text{
	display: block;
	font-weight: 600;
	color: #8d9096;
	font-size: 0.7rem;
	margin-bottom: 0.5rem;
}

.form-section a{
	font-size: 0.75rem;
}

.form-section ul.control{
	padding: 0px;
}

.form-section ul.control li{
	display: block;
}

.form-section label{
	font-size: 0.75rem;
	line-height: 1.6rem;
	margin-bottom: 0px;
}

.form-section label.text{
	height: 35px;
	font-weight: 700;
	line-height: 1.6;
}

.form-section .form-control{
	font-size: 0.75rem;
}

.form-section input.form-control{
	height: 28px;
	padding: .3rem .75rem;
	-webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -ms-font-smoothing: auto;
}

.form-section input[type="file"]{
	font-size: 0.75rem;
	line-height: 1.5rem;
}

.form-section .btn{
	font-size: 0.75rem;
}

.form-section textarea{
	-webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -ms-font-smoothing: auto;
}

.form-section .custom-select{
	font-size: 0.75rem;	
    -webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -ms-font-smoothing: auto;
}

.form-section .custom-control-indicator {
    background-color: white;
    box-sizing: content-box;
    border: 1px solid #d6d6d6;
}

.form-section span.word-connect{
	text-align:center; 
	display:table;
	height: 35px;
	padding-left: 10px;
	padding-right: 10px;
}
	
.form-section span.word-connect span{
	display:table-cell;
	vertical-align:middle;
}

.form-section small code{
	font-size: 0.75rem;
}

.statistic-banner{
	font-size: 0.75rem;
}

.statistic-banner .col-form-label{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.7rem;
	width: 100%;
}

.statistic-banner .form-control{
	padding: .1rem .2rem;
	font-size: 0.75rem;
	max-width: 120px;
}

/* FORM-SECTION GRID CUSTOMIZATION */
.form-section .page-stat{
	font-size: 0.75rem;
}

.form-section .page-stat a{
	font-size: 0.75rem;
}
 
.form-section .footer{
	font-size: 0.75rem;
	background: #7e7b7b;
	padding: 8px;
    text-align: center;
}

.form-section .footer .btn{
	margin: 0px 5px;
}

.form-section .tab-content .tab-pane .footer{
	margin: 0px -15px -40px -15px;
}

.form-section .tab-content .tab-pane .grid-stage .footer{
	text-align: left;
	margin: 8px 0px 10px 0px;
    font-size: 0.75rem;
    display: table;
    width: 100%;
    padding: 0px;
    background: none;
}

.form-section .dgrid .dgrid-cell{
	width: 90px;
	font-size: 0.75rem;
}

.form-section .dgrid .field-actions{
	width: 70px;
}

.form-section .dgrid textarea.dgrid-input{
	border-color: #d6d6d6;	
}

.form-section .dgrid input[type=checkbox].dgrid-input{
	margin-bottom: -4px;
}

.form-section .dgrid .dijitSelect.dijitDownArrowButton{
	height: 20px;
}

/* Color Picker */
.evo-cp-wrap{
	width: auto!important;
}
.evo-colorind, .evo-colorind-ie, .evo-colorind-ff{
	height: 28px;
    width: 35px;
    position: absolute;
    top: 0px;
    right: -30px;
    border: #d6d6d6 1px solid;
}

.evo-pop{
	top: 40px;
    display: table;
    background: white;
    padding: 5px;
    border: #d6d6d6 1px solid;
}

.evo-more .evo-hist{
	display: none;
}

.color-ribbon{
	height: 18px;
	width: 32px;
	display: block;
}

/*
** Responsive
*/
@media (max-width: 768px){
	.page-body{
		padding: 10px 5px;
	}
	#root[data-collapsed=false] .main {
	    padding-left: 0px;
	    -webkit-transform: none;
	    transform: none;
	}
	#root[data-collapsed=true] .main {
	    padding-left: 0px;
	    -webkit-transform: translate3d(220px, 0, 0);
	    transform: translate3d(220px, 0, 0);
	}
	.main-content .tab-content{
		padding: 10px 0px;
	}
	.form-section .line{
		padding-left: 5px;
		padding-right: 5px;
	}
	.form-section .footer{
		padding-left: 5px;
	}
	.statistic-banner{
		padding-left: 20px;
		margin-top: 10px;
	}
}
@media (max-width: 991px){
	.form-section .line .col-form-label{
		float:left;
	}
}