.form-inline .form-group {
  margin-right: 10px; }
  .form-inline .form-group label {
    margin-right: 10px; }

[data-background="light"] .form-control {
  color: #212121;
  background-color: #ffffff;
  border-width: 1px;
  border-color: #d6d6d6; }
  [data-background="light"] .form-control:focus {
    border-color: #d6d6d6; }

[data-background="light"] .custom-control-indicator {
  background-color: #ebebeb; }

[data-background="light"] .has-success .custom-control-input:checked ~ .custom-control-indicator {
  color: #388e3c;
  background-color: #388e3c;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="light"] .has-success .custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="light"] .has-success .custom-control-input:active ~ .custom-control-indicator {
  color: #388e3c;
  background-color: #388e3c;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="light"] .has-success .custom-control-indicator {
  background-color: #ebebeb; }

[data-background="light"] .has-danger .custom-control-input:checked ~ .custom-control-indicator {
  color: #d32f2f;
  background-color: #d32f2f;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="light"] .has-danger .custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="light"] .has-danger .custom-control-input:active ~ .custom-control-indicator {
  color: #d32f2f;
  background-color: #d32f2f;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="light"] .has-danger .custom-control-indicator {
  background-color: #ebebeb; }

[data-background="light"] .has-warning .custom-control-input:checked ~ .custom-control-indicator {
  color: #ffa000;
  background-color: #ffa000;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="light"] .has-warning .custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="light"] .has-warning .custom-control-input:active ~ .custom-control-indicator {
  color: #ffa000;
  background-color: #ffa000;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="light"] .has-warning .custom-control-indicator {
  background-color: #ebebeb; }

[data-background="light"] .custom-control-input:checked ~ .custom-control-indicator {
  color: #d32f2f;
  background-color: #d32f2f;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="light"] .custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="light"] .custom-control-input:active ~ .custom-control-indicator {
  color: #d32f2f;
  background-color: #d32f2f;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="light"] .custom-file .custom-file-control {
  color: #212121;
  border-color: #d6d6d6;
  background-color: #ffffff; }
  [data-background="light"] .custom-file .custom-file-control:before {
    color: #fff;
    border-color: #303f9f;
    background-color: #303f9f; }
  [data-background="light"] .custom-file .custom-file-control:after {
    color: #212121;
    border-color: #d6d6d6;
    background-color: #ffffff; }

[data-background="light"] .custom-select {
  color: #212121;
  border-color: #d6d6d6;
  background: #ffffff url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#212121' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px; }

[data-background="dark"] .form-control {
  color: #f5f5f5;
  background-color: #212121;
  border-width: 1px;
  border-color: #404040; }
  [data-background="dark"] .form-control:focus {
    border-color: #404040; }

[data-background="dark"] .custom-control-indicator {
  background-color: #0d0d0d; }

[data-background="dark"] .has-success .custom-control-input:checked ~ .custom-control-indicator {
  color: #388e3c;
  background-color: #388e3c;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="dark"] .has-success .custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="dark"] .has-success .custom-control-input:active ~ .custom-control-indicator {
  color: #388e3c;
  background-color: #388e3c;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="dark"] .has-success .custom-control-indicator {
  background-color: #0d0d0d; }

[data-background="dark"] .has-danger .custom-control-input:checked ~ .custom-control-indicator {
  color: #d32f2f;
  background-color: #d32f2f;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="dark"] .has-danger .custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="dark"] .has-danger .custom-control-input:active ~ .custom-control-indicator {
  color: #d32f2f;
  background-color: #d32f2f;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="dark"] .has-danger .custom-control-indicator {
  background-color: #0d0d0d; }

[data-background="dark"] .has-warning .custom-control-input:checked ~ .custom-control-indicator {
  color: #ffa000;
  background-color: #ffa000;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="dark"] .has-warning .custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="dark"] .has-warning .custom-control-input:active ~ .custom-control-indicator {
  color: #ffa000;
  background-color: #ffa000;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="dark"] .has-warning .custom-control-indicator {
  background-color: #0d0d0d; }

[data-background="dark"] .custom-control-input:checked ~ .custom-control-indicator {
  color: #1976d2;
  background-color: #1976d2;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="dark"] .custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="dark"] .custom-control-input:active ~ .custom-control-indicator {
  color: #1976d2;
  background-color: #1976d2;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="dark"] .custom-file .custom-file-control {
  color: #f5f5f5;
  border-color: #404040;
  background-color: #212121; }
  [data-background="dark"] .custom-file .custom-file-control:before {
    color: #fff;
    border-color: #303f9f;
    background-color: #303f9f; }
  [data-background="dark"] .custom-file .custom-file-control:after {
    color: #f5f5f5;
    border-color: #404040;
    background-color: #212121; }

[data-background="dark"] .custom-select {
  color: #f5f5f5;
  border-color: #404040;
  background: #353535 url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#f5f5f5' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px; }

[data-background="primary"] .form-control {
  color: #f5f5f5;
  background-color: #303f9f;
  border-width: 1px;
  border-color: #4557c7; }
  [data-background="primary"] .form-control:focus {
    border-color: #4557c7; }

[data-background="primary"] .custom-control-indicator {
  background-color: #273380; }

[data-background="primary"] .has-success .custom-control-input:checked ~ .custom-control-indicator {
  color: #388e3c;
  background-color: #388e3c;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="primary"] .has-success .custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="primary"] .has-success .custom-control-input:active ~ .custom-control-indicator {
  color: #388e3c;
  background-color: #388e3c;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="primary"] .has-success .custom-control-indicator {
  background-color: #273380; }

[data-background="primary"] .has-danger .custom-control-input:checked ~ .custom-control-indicator {
  color: #d32f2f;
  background-color: #d32f2f;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="primary"] .has-danger .custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="primary"] .has-danger .custom-control-input:active ~ .custom-control-indicator {
  color: #d32f2f;
  background-color: #d32f2f;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="primary"] .has-danger .custom-control-indicator {
  background-color: #273380; }

[data-background="primary"] .has-warning .custom-control-input:checked ~ .custom-control-indicator {
  color: #ffa000;
  background-color: #ffa000;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="primary"] .has-warning .custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="primary"] .has-warning .custom-control-input:active ~ .custom-control-indicator {
  color: #ffa000;
  background-color: #ffa000;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="primary"] .has-warning .custom-control-indicator {
  background-color: #273380; }

[data-background="primary"] .custom-control-input:checked ~ .custom-control-indicator {
  color: #ffa000;
  background-color: #ffa000;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="primary"] .custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="primary"] .custom-control-input:active ~ .custom-control-indicator {
  color: #ffa000;
  background-color: #ffa000;
  -webkit-box-shadow: none;
          box-shadow: none; }

[data-background="primary"] .custom-file .custom-file-control {
  color: #f5f5f5;
  border-color: #4557c7;
  background-color: #303f9f; }
  [data-background="primary"] .custom-file .custom-file-control:before {
    color: #fff;
    border-color: #303f9f;
    background-color: #303f9f; }
  [data-background="primary"] .custom-file .custom-file-control:after {
    color: #f5f5f5;
    border-color: #4557c7;
    background-color: #303f9f; }

[data-background="primary"] .custom-select {
  color: #f5f5f5;
  border-color: #4557c7;
  background: #394bbe url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#f5f5f5' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px; }

[data-background="light"] .input-group {
  overflow: hidden; }
  [data-background="light"] .input-group .input-group-addon {
    color: #212121;
    background-color: #e6e6e6;
    border-color: #e6e6e6; }
  [data-background="light"] .input-group .form-control {
    color: #212121;
    background-color: #ffffff;
    border-color: #d6d6d6; }
  [data-background="light"] .input-group .input-group-btn .btn {
    padding: 11px 11px 12px 11px;
    border-width: 1px; }
    [data-background="light"] .input-group .input-group-btn .btn.btn-default {
      color: #fff;
      background-color: #e6e6e6;
      border-color: #e6e6e6; }
      [data-background="light"] .input-group .input-group-btn .btn.btn-default:hover, [data-background="light"] .input-group .input-group-btn .btn.btn-default:active, [data-background="light"] .input-group .input-group-btn .btn.btn-default:focus, [data-background="light"] .input-group .input-group-btn .btn.btn-default:visited, [data-background="light"] .input-group .input-group-btn .btn.btn-default.focus {
        color: #fff;
        background-color: #e6e6e6;
        border-color: #e6e6e6; }

[data-background="dark"] .input-group {
  overflow: hidden; }
  [data-background="dark"] .input-group .input-group-addon {
    color: #f5f5f5;
    background-color: #303030;
    border-color: #303030; }
  [data-background="dark"] .input-group .form-control {
    color: #f5f5f5;
    background-color: #212121;
    border-color: #404040; }
  [data-background="dark"] .input-group .input-group-btn .btn {
    padding: 11px 11px 12px 11px;
    border-width: 1px; }
    [data-background="dark"] .input-group .input-group-btn .btn.btn-default {
      color: #fff;
      background-color: #303030;
      border-color: #303030; }
      [data-background="dark"] .input-group .input-group-btn .btn.btn-default:hover, [data-background="dark"] .input-group .input-group-btn .btn.btn-default:active, [data-background="dark"] .input-group .input-group-btn .btn.btn-default:focus, [data-background="dark"] .input-group .input-group-btn .btn.btn-default:visited, [data-background="dark"] .input-group .input-group-btn .btn.btn-default.focus {
        color: #fff;
        background-color: #303030;
        border-color: #303030; }

[data-background="primary"] .input-group {
  overflow: hidden; }
  [data-background="primary"] .input-group .input-group-addon {
    color: #f5f5f5;
    background-color: #3748b7;
    border-color: #3748b7; }
  [data-background="primary"] .input-group .form-control {
    color: #f5f5f5;
    background-color: #303f9f;
    border-color: #4557c7; }
  [data-background="primary"] .input-group .input-group-btn .btn {
    padding: 11px 11px 12px 11px;
    border-width: 1px; }
    [data-background="primary"] .input-group .input-group-btn .btn.btn-default {
      color: #fff;
      background-color: #3748b7;
      border-color: #3748b7; }
      [data-background="primary"] .input-group .input-group-btn .btn.btn-default:hover, [data-background="primary"] .input-group .input-group-btn .btn.btn-default:active, [data-background="primary"] .input-group .input-group-btn .btn.btn-default:focus, [data-background="primary"] .input-group .input-group-btn .btn.btn-default:visited, [data-background="primary"] .input-group .input-group-btn .btn.btn-default.focus {
        color: #fff;
        background-color: #3748b7;
        border-color: #3748b7; }

.form-group .input-group .input-group-addon.rounded-left,
.form-group .input-group .form-control.rounded-left,
.form-group .input-group .input-group-btn.rounded-left {
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important; }
  .form-group .input-group .input-group-addon.rounded-left .btn,
  .form-group .input-group .form-control.rounded-left .btn,
  .form-group .input-group .input-group-btn.rounded-left .btn {
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important; }

.form-group .input-group .input-group-addon.rounded-right,
.form-group .input-group .form-control.rounded-right,
.form-group .input-group .input-group-btn.rounded-right {
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important; }
  .form-group .input-group .input-group-addon.rounded-right .btn,
  .form-group .input-group .form-control.rounded-right .btn,
  .form-group .input-group .input-group-btn.rounded-right .btn {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important; }

.form-group label {
  font-weight: 600;
  font-size: 0.875rem; }

.form-group .form-control-feedback {
  margin-top: 5px;
  font-size: 0.8125rem; }