.summary-banner .col-form-label{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.75rem;
	width: 100%;
	padding-bottom: 0px;
}

.summary-box{
	margin: 5px 0px;
}

.summary-box.summary-box-2 table > tbody > tr > td:first-child{
	font-weight: 600;
}

.summary-box table {
	width: 100%;	
	max-width: 270px;
}

.summary-box table > tbody > tr > td{
	vertical-align: top;
	padding: 2px 0px;
}

.summary-box table > tbody > tr > td{
	padding-right: 15px;
	color: black;
	width: 120px;
}

.summary-box table .form-control{
	height: 24px!important;
}

.summary-box table .form-control[type=checkbox]{
	height: 16px!important;
}

.summary-box table .custom-select{
	height: 24px!important;
	padding-top: 3px;
	padding-botom: 0px;
}

table.total{
	width: 100%;
}

table.total > tbody > tr > td:first-child{
	text-align: right;
	font-weight: 600;
}

table.total > tbody > tr > td:last-child{
	width: 80px;
	text-align: right;
}

table.total > tbody > tr > td .form-control{
    display: inline-block;
    width: 100px;
    height: 24px;
    padding: 0px 3px;
}

table.total > tbody > tr > td .custom-select{
    display: inline-block;
    width: 100px;
    height: 24px;
    padding: 0px 3px;
}

#grid{
	margin-bottom: 0px!important;
}

#grid .dgrid-cell{
	white-space: inherit;
	border-color: black;
}
#grid th.dgrid-cell{
	background: black;
	color: white;
}
#grid .field-sku{
    width: 90px;
}
#grid .field-name{
    width: 220px;
}
#grid .field-Ship-Time{
	width: 90px;
}
#grid .field-Ship-From{
	width: 90px;
}
#grid .field-Return-Policy{
    width: 220px;
}
#grid .field-quantity{
    text-align: right;
}
#grid .field-processed{
    width: 90px;
    text-align: right;
}
#grid .field-price{
    text-align: right;
}
#grid .field-cost{
    text-align: right;
}
#grid .field-total{
    text-align: right;
}

table.total > tbody > tr:first-child > td{
	border-top: none;
	height: 10px;
	background-color: #888;
}

table.total > tbody > tr > td{
	border: black 1px solid;
}

#order-status-grid .dgrid-cell{
	white-space: inherit;
	border-color: #777;
}
#order-status-grid th.dgrid-cell{
	border-top: #777 1px solid;
	background: #999;
	color: white;
}
#order-status-grid .field-dateChanged{
	width: 160px;
}
#order-status-grid .field-status{
	width: 100px;
}
#order-status-grid .field-customerNotified{
	text-align: center;
	width: 150px;
}
#order-status-grid .field-trackingNumber{
	width: 150px;
}
#order-status-grid .field-comments{
	width: 120px;
}
#order-status-grid .field-username{
	width: 100px;
}

#status-info{
	max-width: 320px;
}
#customer-notification{
	max-width: 400px;
}

#open-order-grid .field-grandTotal{
	width: 100px;
	text-align: right;
}
#open-order-grid .field-paid{
	width: 100px;
	text-align: right;
}
#open-order-grid .field-due{
	width: 100px;
	text-align: right;
}

#purchase-order-grid .field-created{
	width: 100px;
}
#purchase-order-grid .field-total{
	width: 100px;
	text-align: right;
}
#purchase-order-grid .field-shippingQuote{
	width: 100px;
	text-align: right;
}
#purchase-order-grid .field-orderBy{
	width: 100px;
}
#purchase-order-grid .field-supplier{
	width: 100px;
}
#purchase-order-grid .field-supplierInvoiceNumber{
	width: 150px;
}
#purchase-order-grid .field-note{
	width: 100px;
}