@charset "UTF-8";
.errorRequiredField
{
	float:left;
	font-size:14px;
	margin:0.0em;
	padding:0.3em;
	width:160px;
	color:#ff0000;
}
input#_target3{border-radius: 5px;padding:0!important;height:50px!important;line-height:50px!important;font-size:30px!important;width:80%!important;}
input#_target5{border-radius: 5px;padding:0!important;height:50px!important;line-height:50px!important;font-size:30px!important;width:80%!important;}
.select2 {
    border: 2px solid #cccccc;
    float: left;
    font-size: 14px;
    margin: 0.1em;
    padding: 0.1;
    emborder-radius: 1px;
    border-radius:5px;
}